body {
	font-family: sans-serif;
	margin: 25px;
}

ul {
	margin: 0;
	padding: 0;
}

h1 {
	color: #969696;
}

.header-buttons {
	text-decoration: none;
	background-color: #eeeeee;
	color: #547485;
	padding: 10px;
	margin-right: 15px;
}

#heroes-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	flex-wrap: none;
	height: 79vh;
}

.hero-list-element {
	display: flex;
	cursor: pointer;
	text-decoration: none;
	color: #afafaf;
	background-color: #eeeeee;
	width: 70vw;
	margin: 7px 15px 7px 0px;
	border-radius: 10px;
}

.hero-list-element div {
	padding: 20px;
}

.a-id {
	background-color: #607d8b;
	width: 20px;
	text-align: center;
}

@media screen and (min-width: 600px) {
	#heroes-list {
		flex-wrap: wrap;
	}
	.hero-list-element {
		width: 45vw;
	}
}

@media screen and (min-width: 900px) {
	.hero-list-element {
		width: 30vw;
	}
}
