body {
    background-image: url(images/pattern.png);
    overflow-x: hidden;
}

nav {
    background-color: rgb(161, 107, 161);
    color: white;
}

nav > span {
    font-weight: 900;
    margin: 5px;
    position: relative;
    top: -20px;
    right: -130px;
}

nav img {
    width: 50px;
    position: relative;
    left: 40px;
    top: 2px;
}

.hero {
    text-align: center;
    margin: 10px;
}

#logo {
    width: 200px;
}

.browsing-title {
    text-align: center;
    font-weight: 900;
    height: 20px;
}

button > a {
    text-decoration: none;
    color: white;
}

button {
    font-weight: 900;
    display: block;
    width: 130px;
    height: 30px;
    background: rgb(226, 73, 73);
    text-align: left;
    padding-left: 20px;
    margin: 2px auto;
    border: none;
}

.buttons {
    margin: 15px 0;
}

.main-title {
    font-size: 25px;
    font-weight: 900;
    margin: 30px auto;
    width: 80vw;
    color: rgb(192, 111, 192);
}

.bethany {
    text-align: center;
}

#bethany-img {
    width: 80vw;
}

.caption {
    width: 80vw;
    margin: 0 auto;
    text-align: left;
    font-size: 11px;
}

.history {
    margin: 25px auto;
    width: 80vw;
    font-weight: 900;
    font-size: 20px;
}

.text {
    width: 80vw;
    margin: 0 auto;
    font-size: 13px;
}

.promotions {
    background: white;
    border-radius: 20px;
    width: 80vw;
    height: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin: 25px auto;
    padding: 5px 10px;
    padding-top: 5px;
}

.cheesecake {
    width: 100%;
    text-align: center;
    margin-top: 2px;
}

.promotions-title {
    font-size: 15px;
    font-weight: 900;
}

.product {
    font-size: 13px;
    font-weight: 900;
}

.info {
    font-size: 13px;
}

.footer {
    text-align: center;
    margin: 20px auto;
    width: 64vw;
    line-height: 20px;
}

.address, .where, .contact {
    font-size: 13px;
}

.copyright, .author {
    font-size: 11px;
}

@media only screen and (min-width: 760px) {
    nav > span {
        margin-right: 16px;
        position: relative;
        left: 175px;
        top: -33px;
        font-size: 18px;
        font-weight: 900;
    }
    nav > img {
        position: relative;
        left: 170px;
        width: 70px;
    }

    .hero {
        text-align: left;
        margin: 20px auto;
        width: 73vw;
    }

    #logo {
        width: 290px;
        margin-right: 100px;
    }

    .main-title {
        font-size: 43px;
        font-weight: 900;
        width: 55%;
        color: rgb(192, 111, 192);
        position: relative;
        bottom: 600px;
        left: 220px;
    }

    .bethany {
        text-align: left;
        width: 60%;
        margin: 0 auto;
        position: relative;
        bottom: 600px;
        left: 245px;
    } 
    
    #bethany-img {
        width: 80%;
    }

    .caption {
        font-size: 19px;
    }

    .browsing-title {
        position: relative;
        top: 5px;
        font-size: 19px;
        width: 73vw;
        margin: 0 auto;
        text-align: left;
        padding-left: 80px;
    }

    .buttons {
        width: 73vw;
        margin: 0 auto;
        position: relative;
        top: 20px;
        padding: 10px;
    }
    
    button {
        margin: 2px 0;
        width: 270px;
        height: 48px;
        font-size: 18px;
        font-weight: 100;
    }

    .history {
        position: relative;
        width: 60%;
        bottom: 590px;
        left: 245px;
        font-size: 27px;
    }

    .text {
        position: relative;
        width: 60%;
        bottom: 590px;
        left: 215px;
        font-size: 19px;
        padding: 0 65px 0 30px;
    }

    .promotions {
        background: none;
        width: 60%;
        box-shadow: none;
        padding: 0;
        position: relative;
        bottom: 590px;
        left: 245px;
        line-height: 20px;
        height: 0%;
    }

    .promotions-title {
        font-size: 23px;
    }

    .info, .product  {
        font-size: 19px;
    }

    .address, .where, .contact {
        font-size: 17px;
    }

    .copyright, .author {
        font-size: 14px;
    }

    .cheesecake {
        width: 70%;
    }

    .footer {
        text-align: left;
        width: 73vw;
        padding-left: 10px;
        line-height: 30px;
        margin: 0 auto 20px auto;
    }

    main {
        height: 1150px;
    }
}