
.Back {
    position: relative;
    height: calc(100vh - 50px);
    min-height: 100%;
    background-image: url("Back.jpg");
    background-color: #000;
    background-position: center top;
    background-size: 215%;
    transition: height .1s linear,background-image .2s ease;
    will-change: background-position;
    z-index: 1;
}
#picture {
    max-width: 100%;
    position: block;
    background-position: center top; 
    max-height: 100%;
}
.iconPlay{
    position: absolute;
}
.squareGradient{
    background: rgb(0,0,0);
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.027), black);position: absolute; 
    z-index: 99;
    left:75%;
    height: 100%;
    width: 25%;   
}
    top: 36%;
    left: 60.5%;
    position: absolute;
    width: 6%;
    height: 12%;

    top: 36%;
    left: 60.5%;
    position: absolute;
    width: 6%;
    height: 12%;
    background-image: url("PinHover.png");
}

#bigCircle {
    top: 30%;
    left: 38%;
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 50%
}
#bigCircle2 {
    top: 30%;
    left: 58%;
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 50%
}
#circle {
    top: 27%;
    left: 27%;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%

    background: yellow;
}
#FontIcons{
    position: absolute;
    top: 100%;
    color: white;
}

#FontPoints{
    position: absolute;
    font-size: large;
    color: yellow;
    z-index: 99;

}
#FontButtons{
    position: absolute;
    color: white;
    z-index: 99;
}

#FontCupon{
    left:25%;
    top: 50%;
}
#triangle-right {
    top: 30%;
    left: 35%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid black;
    border-bottom: 15px solid transparent;
  }
iconPlay:hover {
    color: #ffe300;
}
.rectangle {
    position: absolute; 
    z-index: 99;
    height: 10%;
    width: 20%;
  }
@media screen and (max-width: 375px){
    .Back {
        height: 40%;
        max-width: 100%;
        background-size: cover;
    }
    #picture {
        height: 40%;
        width: 100%;
        position: relative;
        
        margin-left: 10%;
        background-position: center top; 
    }
}
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
=======
    #Pin{
        top: 36%;
        left: 60.5%;
        position: absolute;
        width: 3%;
        height: 6%;
        background-image: url("Pin.png");
    }
}.MultiCarousel {
	float: left;
	overflow: hidden;
	padding: 15px;
	width: 118%;
	position: relative;
}
.MultiCarousel .MultiCarousel-inner {
	transition: 1s ease all;
	float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
	float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	background: #f1f1f1;
	color: #666;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
	position: absolute;
	border-radius: 50%;
	top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
	left: 0;
}
.MultiCarousel .rightLst {
	right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
	pointer-events: none;
	background: #ccc;
}
