* {
	font-family: Montserrat;
}

body {
	background-color: rgb(18, 18, 18);
	color: white;
}

.title {
	display: flex;
	align-items: center;
	font-size: 25px;
}

#title-logo {
	width: 80px;
	margin: 15px;
}

#stats {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 150px;
	margin-left: 30px;
	font-size: 20px;
	font-weight: 500;
}

.stat {
	margin-bottom: 5px;
}

#album-block {
	display: flex;
	justify-content: center;
}

#options-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}

#options-list__question {
	font-size: 30px;
}

#options-list__first-row,
#options-list__second-row {
	margin-top: 20px;
	display: flex;
}

#option1,
#option2,
#option3,
#option4 {
	font-size: 18px;
	width: 300px;
	height: 86px;
	list-style: none;
	border: 1px solid black;
	border-radius: 2px;
	padding: 20px 0;
	background-color: rgb(87, 181, 96);
	color: white;
	outline: none;
}

#option1,
#option3 {
	margin-right: 10px;
}

#option1:hover,
#option2:hover,
#option3:hover,
#option4:hover {
	background-color: white;
	color: rgb(87, 181, 96);
	border: 2px solid rgb(87, 181, 96);
}

#playlist {
	text-align: center;
	font-size: 14px;
}

#correct-incorrect {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

#correct-incorrect__text {
	font-size: 40px;
	font-weight: 600;
	margin-right: 10px;
}

#correct-incorrect__symbol {
	height: 30px;
	margin-right: 30px;
}

#correct-incorrect__next-button {
	display: none;
	font-size: 22px;
	width: 200px;
	height: 30px;
	list-style: none;
	border: 1px solid black;
	border-radius: 40px;
	padding: 10px 0;
	background-color: rgb(64, 64, 64);
	color: white;
	overflow: none;
	text-align: center;
	text-decoration: none;
}
