#author-and-options {
	display: flex;
	justify-content: space-between;
	margin: 45px 0;
	padding: 0 20px;
}

.author-photo {
	width: 220px;
}

#continue-button {
	position: absolute;
	right: 30px;
	bottom: 25px;
	padding: 5px;
	font-size: 15px;
	cursor: pointer;
	visibility: hidden;
}
