.dashbaord-container {
	padding: 20px;
	max-width: 1000px;
}

.topheros {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topheros-title {
	color: rgb(155, 152, 152);
	margin-bottom: 15px;
}

.listItem {
	list-style: none;
	display: inline;
}

.listItem-button {
	cursor: pointer;
	font-size: 20px;
	margin: 10px;
	outline: none;
	border: none;
	width: 200px;
	height: 150px;
	color: #fff;
	border-radius: 10px;
	background: rgb(93, 126, 121);
}

.listItem-button:hover {
	background: rgb(94, 144, 136);
}
