<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../styles/style.css" />
		<title>Detail Hero</title>
	</head>
	<body>
		<section class="dashboard">
			<header>
				<nav class="nav">
					<h1 class="tour-of-heroes__title">Tour of Heroes</h1>
					<button class="dash-btn">
						<a href="../hero-dashboard/dashboard.html" class="dash-link-name"
							>Dashboard</a
						>
					</button>
					<button class="dash-btn">
						<a href="../hero-list/herolist.html" class="dash-link-name"
							>Heroes</a
						>
					</button>
				</nav>
			</header>
			<section class="detail-box">
				<section class="default-info__block">
					<h2><span class="detail-title"></span></h2>
					<div class="hero-detail-id">
						<span class="hero-id f-weight">ID:</span>
						<span class="hero-id__value"></span>
					</div>
					<div class="hero-detail-slug">
						<span class="hero-slug f-weight">Slug: </span>
						<span class="hero-slug__value"></span>
					</div>
					<div class="hero-detail-name">
						<span class="hero-name f-weight">Name:</span>
						<input type="text" class="hero-name__input" placeholder="name" />
					</div>
				</section>
				<section class="additional-info__block">
					<span id="hero-profile-img__block"></span>
				</section>
			</section>
		</section>
	</body>
	<script src="../../utils/get-hero-id.js"></script>
	<script src="../../app/herodata.js"></script>
	<script src="../../app/store.js"></script>
	<script src="./detail.js"></script>
	<script>
		const heroId = getHeroId(location);
		const hero = store.getHeroById(heroId);
		let detailComponent = new DetailComponent(hero);
		if (hero) {
			detailComponent.getProfileImage();
			let idElement = document.querySelector('.detail-title');
			detailComponent.updateHtmlValue(
				idElement,
				'innerHTML',
				detailComponent.hero.name
			);

			idElement = document.querySelector('.hero-id__value');
			detailComponent.updateHtmlValue(
				idElement,
				'innerHTML',
				detailComponent.hero.id
			);
			idElement = document.querySelector('.hero-slug__value');
			detailComponent.updateHtmlValue(
				idElement,
				'innerHTML',
				detailComponent.hero.slug
			);

			nameElement = document.querySelector('.hero-name__input');
			detailComponent.updateHtmlValue(
				nameElement,
				'value',
				detailComponent.hero.name
			);
		}
	</script>
</html>
