/*GENERAL CSS*/
body {
    background-color: rgb(60, 60, 255);
    color: white;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h3 {
    text-align: center;
    font-family: "Arial Black", Arial, Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

/*INDEX CSS*/
.index-flex-component {
    margin: 2em 3em;
    width: 50%;
}

.index-separator {
    margin: 3em;
}

.index-space {
    margin: 2em 6em;
}

.index-flex-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 5em;
    text-align: center;
    font-weight: bold;
    width: 35em;
    min-width: 35em;
}

#index-text-title {
    text-transform: uppercase;
}

.input-name {
    margin-top: 4em;
    margin-bottom: 2em;
}

.index-button {
    padding: 1.2em;
    border: 1px solid whitesmoke;
    border-radius: 0.8em;
    width: 7em;
    margin: 15% auto;
    background-color: rgb(51, 51, 255);
    cursor: pointer;
}

.index-button:hover {
    background-color: rgb(113, 113, 247);
}

/*IN-GAME CSS*/
.ingame-box {
    margin: 0 auto;
    font-family: "Arial Black", Arial, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#ingame {
    display: none;
}

#input-name-box {
    display: unset;
}

.insert-name-text {
    margin-top: 10%;
}

#input-name {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.answer-bar {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.box-name {
    background-color: rgb(0, 96, 240);
    padding: 0.5em;
    border: 7px solid blue;
    border-radius: 10px;
    border-style: outset;
    width: 15%;
    margin: 0 auto;
}

.box-roulette {
    width: 65%;
    margin: 3% auto;
}

.roulette {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.dot {
    height: 25px;
    width: 25px;
    background-image: linear-gradient(135deg, rgb(219, 219, 219), rgb(56, 56, 56));
    border: 9px solid blue;
    border-style: inset;
    border-radius: 50%;
    text-transform: uppercase;
    padding: 1em;
}


.box-definition {
    background-color: rgb(0, 96, 240);
    text-align: center;
    padding: 2% 5%;
    border: 9px solid blue;
    border-radius: 5px;
    border-style: inset;
    width: 75%;
    margin: 4% auto;
    margin-bottom: 1%;
}

.result-info {
    height: 1em;
    color: white;
    text-transform: uppercase;
}

.box-answer {
    background-color: rgb(0, 96, 240);
    color: black;
    padding: 1em;
    width: 50%;
    margin: 1.5% auto;
    border: 7px solid blue;
    border-style: outset;
    border-radius: 20px;
    overflow: hidden;
}

.buttons {
    display: flex;
}

.button {
    background-color: #02e2ff;
    width: 20%;
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(68, 68, 68);
    padding: 14px 20px;
    margin: 1em auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}

.button:hover {
    background-color: #0285ff;
    color: white
}

#button-next {
    display: none;
}

.box-info {
    width: 75%;
    margin: 3% auto;
    display: flex;
    flex-direction: row;
}

.timer {
    width: 25%;
    text-align: left;
}

.ranking {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 5% auto;
}

#podium {
    display: none;
}

#endgame {
    display: none;
    width: auto;
    margin: 5% auto;
}

#button-aceptar {
    display: unset;
}