* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url(images/pattern.png);
	width: auto;
	height: auto;
}

#mainTitle {
	display: none;
}

header {
	display: grid;
	grid-template-columns: 50% 50%;
}

#navbar {
	background-color: blueviolet;
}

.nav-logo {
	width: 40px;
	margin-left: 15%;
}

.nav-btn {
	display: grid;
	grid-template-columns: auto auto auto;
	color: white;
	font-size: 80%;
	font-weight: bold;
}

#text-title {
	color: rgb(157, 133, 180);
	font-weight: bolder;
	font-size: 25px;
}

.mainContent {
	display: flex;
	flex-direction: row;
}

.content {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10px;
}

.content-logo {
	height: 40%;
	width: 40%;
}

.browser {
	text-align: center;
}

.browser-btn {
	background-color: rgb(255, 72, 0);
	text-align: center;
	color: white;
	font-size: 10px;
	height: 30px;
	width: 35%;
	margin: 0.5px;
	border: none;
}

.picture {
	height: 120%;
	width: 120%;
}

#bethany span {
	font-size: 10px;
	margin-top: 0px;
}

.history-text {
	font-size: 70%;
}

.promotion {
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 1px 2px rgba(128, 128, 128, 0.466);
}

footer {
	text-align: center;
	font-size: 80%;
	font-weight: bold;
}

@media screen and (min-width: 600px) {
	header {
		display: flex;
	}

	.nav-btn {
		width: 250px;
		margin-left: 5%;
		display: grid;
		grid-template-columns: auto auto auto;
		color: white;
		font-size: 80%;
		font-weight: bold;
	}

	.content {
		display: grid;
		grid-template-columns: 40% 60%;
	}

	.content-logo {
		height: 200px;
		width: 200px;
	}

	.browser-title {
		font-size: 1em;
	}

	.browser-btn {
		font-size: 10px;
		height: 50px;
		width: 70%;
		margin: 1px;
		border: none;
	}

	.promotion {
		background-color: rgba(255, 255, 255, 0);
		box-shadow: 1px 2px rgba(128, 128, 128, 0);
	}

	footer {
		text-align: left;
		margin-left: 10%;
	}
}
