<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="dashboard.css" />
		<title>Dashboard</title>
	</head>
	<body>
		<nav>
			<a href="/heroes">Heroes</a>
			<a href="/lunarillos">Lunarillos</a>
		</nav>
		<header>
			<h1>Tour of heroes</h1>
			<button class="header__button"><a href="">Dashboard</a></button>
			<button class="header__button"><a href="heroes.html">Heroes</a></button>
		</header>
		<section class="section__heroes">
			<h2 class="section__title">Top Heroes</h2>
			<section class="buttons" id="buttons"></section>
		</section>
		<script src="store.js"></script>
		<script src="dashboard.js"></script>
	</body>
</html>
