<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="stylev2.css" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>Document</title>
	</head>
	<body>
		<nav>
			<a href="/heroes">Heroes</a>
			<a href="/lunarillos">Lunarillos</a>
		</nav>
		<section class="ingredients">
			<div>
				<div class="ustensileImg">
					<img
						src="img/magdalena(2).png"
						alt="ustensile"
						width="92.58"
						height="125"
					/>
				</div>
				<h2 class="“titleSection”">INGREDIENTES</h2>
			</div>
			<div class="ingredients__images">
				<div class="ingredients__images--big">
					<img src="img/fondant2.jpg" alt="" />
					<div class="ingredients__images--text">
						<h2>FONDANT</h2>
					</div>
				</div>
			</div>
			<div class="ingredients__images">
				<div class="ingredients__images--small">
					<img src="img/ingredientesreposteria.jpg" />
					<div class="ingredients__images--text">
						<h2>INGREDIENTES DE REPOSTERIA</h2>
					</div>
				</div>
			</div>
			<div class="ingredients__images">
				<div class="ingredients__images--small">
					<img src="img/1080X600(3).png" />
					<div class="ingredients__images--text">
						<h2>IMPRESIÓN PERSONALIZADA</h2>
					</div>
				</div>
			</div>
			<div class="ingredients__images">
				<div class="ingredients__images--small">
					<img src="img/Colorantes-alimentarios.jpg" />
					<div class="ingredients__images--text">
						<h2>COLORANTES ALIMENTARIOS</h2>
					</div>
				</div>
			</div>
			<div class="ingredients__images">
				<div class="ingredients__images--small">
					<img src="img/papelcomestible.jpg" />
					<div class="ingredients__images--text">
						<h2>PAPEL COMESTIBLE</h2>
					</div>
				</div>
			</div>
			<div class="ingredients__images">
				<div class="ingredients__images--big">
					<img src="img/sprinkles3.jpg" />
					<div class="ingredients__images--text">
						<h2>SPRINKLES Y PURPURINAS</h2>
					</div>
				</div>
			</div>

			<div class="ingredients__vermas">
				<h2>VER MÁS</h2>
			</div>
		</section>
	</body>
</html>
