<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tour of Heroes</title>
		<link rel="stylesheet" href="detail.css" />
	</head>
	<body>
		<nav>
            <button class="heroesDash">
                <a class="heroesDash" href="../dashboard/dashboard.html">Dashboard</a>
            </button>
            <button class="heroesDash"> 
                <a class="heroesDash" href="../list/list.html">Heroes</a>
            </button>
		</nav>
		
        <div id="heroesDetail" class= "mainDiv">
       
        </div>
        <script src="../../utils/get-hero-id.js"></script>
        <script src="../../superHeroList.js"></script>
		<script src="../../store.js"></script>
		<script src="./detail.js"></script>
	</body>
</html>
