.main-content {
	display: flex;
	flex-direction: row;
}

li {
	list-style-type: none;
	margin: 15px;
	border: solid;
	text-align: center;
	border-color: grey;
	background-color: rgb(89, 127, 145);
}

li:hover {
	background-color: darkgray;
}

header {
	text-align: center;
}
