<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="list.css">
    
</head>
<body>
    <h2 class="title">Tour of Heroes</h2>
    <button class="heroesDash"></button>
        <a class="heroesDash" href='../dashboard/dashboard.html'>Dashboard</a> 
    </button>
        <!-- js -->
    <div id="heroesList">
       
    </div>
</body>
<script src="../../utils/get-hero-id.js"></script>
<script src="../../superHeroList.js"></script>
<script src="../../store.js"></script>
<script type="text/javascript" src="./list.js"></script>
</html>


    
    