body {
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 59, 73);
    text-align: center;
}

.heroesDash {
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(86, 119, 138);
    font-weight: bold;
    margin-left: 10%;
    text-decoration: none;
    padding: 10px;
}

.heroesDash:hover {
    color: rgb(80, 150, 194);
    background-color: rgb(221, 213, 213);
}

.list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


.titleSection {
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: grey;
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
}


.buttonHero{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: flex-start;
    align-items: center;
    border: solid;
    border-color: grey;
    width: 120px
}

.idHero {
    
    background-color: rgb(80, 150, 194);
}

.nameHero {
    height: 100%;
    text-decoration: none;
    background-color: white;
    color: black

}