body {
	margin: 0 auto;
}

.calculator {
	display: grid;
	width: 600px;
	height: 800px;
	grid-template-rows: repeat(6 50px);
	grid-template-columns: repeat(4 80px);
	grid-template-areas:
		"display display display display"
		"key_div key_mult key_minus key_plus"
		"key_7 key_8 key_9 key_plus"
		"key_4 key_5 key_6 key_equal"
		"key_1 key_2 key_3 key_equal"
		"key_0 key_dot key_c key_ac";
	grid-gap: 10px;
	margin: 30px auto 0;
	background-color: rgb(66, 66, 66);
	padding: 20px;
	border-radius: 20px;
}

.display {
	grid-area: display;
	height: 120px;
	background-color: #999966;
	margin-top: 10px;
	border: 3px solid gray;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	word-break: break-all;
	word-wrap: break-word;
}

.display .previous-operand {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: rgba(0, 0, 0, 0.5);
	padding-right: 10px;
}

.display .current-operand {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: rgba(0, 0, 0, 0.75);
	font-size: 30px;
	padding-right: 10px;
}
.calc-key {
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	line-height: 120px;
	font-family: "Source Code Pro", monospace;
	font-size: 40px;
	background-color: grey;
	color: white;
	cursor: pointer;
}

.calc-key:hover {
	background-color: rgb(57, 58, 112);
}

#key-0 {
	grid-area: key_0;
}

#key-1 {
	grid-area: key_1;
}

#key-2 {
	grid-area: key_2;
}

#key-3 {
	grid-area: key_3;
}

#key-4 {
	grid-area: key_4;
}

#key-5 {
	grid-area: key_5;
}

#key-6 {
	grid-area: key_6;
}

#key-7 {
	grid-area: key_7;
}

#key-8 {
	grid-area: key_8;
}

#key-9 {
	grid-area: key_9;
}

#key-plus {
	grid-area: key_plus;
}

#key-minus {
	grid-area: key_minus;
}

#key-mult {
	grid-area: key_mult;
}

#key-div {
	grid-area: key_div;
}

#key-c {
	grid-area: key_c;
}

#key-ac {
	grid-area: key_ac;
}

#key-equal {
	grid-area: key_equal;
}

#key-dot {
	grid-area: key_dot;
}
