body {
	background: black;
	margin: 0;
	/* margin-left: 10%;
	margin-right: 10%; */
}

header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	height: 65px;
	width: 100%;
	background: snow;
}

.title-container {
	margin-top: -10px;
	display: flex;
	justify-content: center;
}

.cicles-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin-top: 20px;
}

h1 {
	color: snow;
}

.count-container {
	display: flex;
}
p {
	margin-top: -20px;
	color: snow;
}

#cicles-count {
	margin-left: 20px;
	margin-top: -20px;
	color: snow;
}

#canvas {
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
}

.canvas-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.button-container {
	width: 800px;
	display: flex;
	justify-content: center;
}

.buttons {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: snow;
	cursor: pointer;
	height: 40px;
	border: 2px;
	border-color: snow;
	border-radius: 10px;
	background: goldenrod;
	font-weight: bold;
	width: 100px;
	outline: none;
	margin-left: 10px;
}

.buttons:hover {
	color: black;
	background: gold;
}

/* .input-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 200px;
	height: 40px;
	margin-top: 5px;
	margin-left: -150px;
} */

/* 
.input-style {
	width: 100px;
	border-top: none;
	border-right: none;
	outline: none;
} */

/* label {
	margin-right: 10px;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
