* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-image: url(images/pattern.png);
}

.header {
    background-color: rgb(162,149,191);
    font-size: 10px;
    font-family: Arial;
    color: white;
    padding: 0 30px;
}

.navbar{
    position: relative;
    bottom: 12px;
    text-align: right;
    font-weight: 700;
    font-size: 10px;
    color: white;
}

.nav {
    margin: 0 10px;
}

.pie {
    position: relative;
    top: 10px;
    height: 30px;
}

.hero {
    text-align: center;
}

.logo {
    width: 150px;
    margin: 10px;
}

h4 {
    text-align: center;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
}

.buttons {
    text-align: center;
}

.button {
    background-color:rgb(191,79,48);
    width: 150px;
    height: 40px;
    text-align: left;
    color: white;
    font-family: Arial;
    font-weight: 500;
    padding-left: 30px;
    margin: 0px 0px 2px 0px;
    border: 0;
}

#welcome {
    font-family: Arial;
    color: rgb(162,149,191);
    font-size: 25px;
    margin: 30px 20px 0px 10px;
}

.imagewoman {
    text-align: left;
}

.image {
    width: 95vw;
}
.caption {
    font-size: 10px;
    margin: 0 0 0 10px;
}

.history {
    margin: 0 0 0 10px;
}

.text {
    font-size: 12px;
}

.weekly {
    padding: 5px 5px 10px 10px;
    background-color: white;
    border: 1px solid linear-gradient(white,gray);
    border-radius: 10px;
    box-shadow: 1px 1px 3px;
}

footer {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

#brand {
    font-size: 11px;
}

@media screen and (min-width:600px){
    .body {
        display: flex;
        flex-wrap: wrap;
    }

    .hero {
        text-align: left;
        margin-left: 25px;
    }

    h4 {
        text-align: left;
        margin-left: 50px;
    }

    .buttons {
        display: flex;
        display: list-item;
        text-align: left;
        margin-left: 35px;
    }

    h2 {
    }    
}