body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: crimson;

}
a{
    text-decoration: none;
    padding: 3px;

}
.list{
    color: white;
}


.detail-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detail-wrapper>div{
    margin-bottom: 10px;
}
.detail_card1{
    display: flex;
    flex-direction: column;
    border: 2px solid crimson;
    width: 30%;
    padding: 10px;
    height: 300px;
    border-bottom: 20px solid greenyellow;
    background-color: lightblue;
    box-shadow:   0 0 27px yellow;


}
.nav a{
    color: white;
}

.detail_card2{

    border-bottom: 6px solid greenyellow;
    width: 50%;
    padding: 10px;
    margin: auto;
    background-color: lightblue;
    text-align: center;
    box-shadow:   0 0 27px yellow;

  

}
.detail_header{
    display: flex;
    align-items: center;
}
.detail-value{
    margin-left: 80px;
}
.primary-details>div{
    margin: 10px 0; 
}
.primary-details>div{
    display: flex; 
    justify-content: space-between;
}
.nav{
    display: flex;
    background-color: crimson;
    align-items: center;
    justify-content: center;

}
.nav_items{
    display: flex;
    justify-content: space-between;
}


.button{
    padding: 20px;
    background-color: crimson;
    margin: 0 10px;
    color: white;
    box-shadow:   0 0 25px crimson;
    cursor: pointer;
    border-bottom: 6px solid greenyellow;
    background-color: lightblue;
    color: black;
    box-shadow:   0 0 27px yellow;



}
.list{
    text-align: center;
    padding: 20px;
}
.list a{
    color: white;
    font-size: larger;
    font-size: 30px;
}
