body {
	background: url(https://images3.alphacoders.com/102/1023070.jpg) no-repeat
		center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
input:valid {
	border-bottom: 2px solid green;
}
input:invalid {
	border-bottom: 2px solid red;
}
h2 {
	font-size: 24px;
}
input {
	background-color: white;
	color: black;
	font-size: 14px;
	border: 0;
	margin-top: 10px;
}
textarea {
	margin-top: 10px;
	border: 0;
}
select {
	margin-top: 10px;
}
.tInput {
	width: 80%;
}
.mInput {
	width: 90%;
}
label {
	font-family: Helvetica;
	color: grey;
	font-size: 12px;
}
.container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.formulario {
	display: flex;
	flex-direction: column;
	width: 55%;
	background-color: white;
	border-radius: 60px 60px 60px 60px;
	-moz-border-radius: 60px 60px 60px 60px;
	-webkit-border-radius: 60px 60px 60px 60px;
	border: 0px solid #000000;
}
.container__title {
	margin-top: 20px;
	margin-left: 25px;
}
.datosPersonales {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 35px;
	margin-left: 25px;
	margin-right: 25px;
}

.vuelo {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 35px;
	margin-left: 120px;
	margin-right: 120px;
}

.fechas {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 35px;
	margin-left: 80px;
	margin-top: 15px;
	margin-right: 80px;
}
.nombre {
	display: block;
}
.search {
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
	margin-bottom: 25px;
}
.buttonSearch {
	background-color: rgb(253, 0, 0);
	font-size: 16px;
	color: white;
}
.checkbox {
	margin-left: 20px;
	display: flex;
	align-items: center;
}
.checkbox__label {
	margin-left: 10px;
	font-size: 14px;
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: grey;
}

input:focus + .slider {
	box-shadow: 0 0 1px grey;
}

input:checked + .slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
