<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour of Heroes - Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <header>
        <h1>Tour of Heroes</h1>
        <div><a href="../Dashboard/dashboard.html" class="header-buttons">Dashboard</a>
        <a href="../HeroesList/heroes-list.html" class="header-buttons">Heroes</a></div>
        <h2>Top Heroes</h2>
    </header>
    <main>
        <div id="dashboard">
            <ul id="dashboard-list"></ul>
        </div>
    </main>
    <script src="../../store.js"></script>
    <script src="dashboard.js"></script>
</body>
</html>