body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.center {
	margin: auto;
	width: 70%;
	border: 2px solid grey;
	padding: 10px;
}
.flex {
	display: flex;
	align-items: center;
}
.flex-row {
	flex-direction: row;
	margin: 6px;
}
label {
	display: block;
	font: 1rem 'Fira Sans', sans-serif;
}

label {
	margin: 0.4rem 0;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.button {
	background-color: white;

	color: black;

	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.first {
	display: flex;
	justify-content: space-between;
	padding: 16px;
}
.travels {
	display: flex;
	flex-direction: column;
}
.travelers {
	display: flex;
	flex-direction: column;
	padding: 16px;
	justify-content: flex-end;
}
.client {
	display: flex;
	flex-direction: column;
}
.second {
	display: flex;
	justify-content: space-between;
	padding: 16px;
}
.departures {
	display: flex;
	flex-direction: row;

	width: auto;
}
.arrivals {
	display: flex;
	flex-direction: row;
	width: auto;
}
.third {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px;
}
.date {
	display: flex;
	flex-direction: row;
	padding: 16px;
}
.switch {
	display: flex;
	flex-direction: row;
}
.button1 {
	padding: 16px;
	background-color: red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
