input, textarea {
   color: black; 
}

.contact-form {
    margin-left: 10px;
    background-color: rgba(32, 32, 32, 0.5); 
    padding-left: 20px;
    width: 600px;
    padding-top: 5px;
  
}
p {
    padding-bottom: 10px;
}



  

.submit-btn, .clear-btn {
    margin: 5px;
    width: 100px;
    height: 20px;
    background-color: #F9C73D;
    border: 1px solid #F9C73D;
    border-radius: 5px;
    margin-bottom: 10px;
}
