.home-text {

    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgba(32, 32, 32, 0.5); 
    width: 400px;
    height: auto;
    line-height: 2;
    font-size: 25px;
    margin-right: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
    margin-left: 10px;
}

 

@media screen and (min-width: 600px) and (max-width: 1000px) {

    .home-text {
        width: 600px;
    }
}
    

@media screen and (min-width: 1001px) {

    .home-text {
        width: 600px;
    }
    

}