.input-wrapper {
    display: flex;
    flex-direction: column;
    color: grey;
}

.input-wrapper>input {
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
    height: 40px;
    font-size: 15px;
}