/* IVAN && ERIC */
* {
	box-sizing: border-box;
}

body {
	font: 12px/1.55 'Source Sans Pro', sans-serif;
}

.margin {
	margin-left: 5px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div {
	display: block;
}

.col1-layout .col-main,
.header,
#nav,
.footer-wrapper,
.container-home,
.max-width-wrapper {
	max-width: 325px;
	margin: 0 auto;
}
.header-container-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #f8f8f8;
	z-index: 5000;
}

header {
	margin: 0 auto;
	padding: 0;
	position: relative;
	z-index: 995;
}

.header .header_toplinks {
	overflow: hidden;
}

.header .mainicons {
	display: none;
}

.header .header_toplinks .block-cart {
	float: right;
}

ul,
ol {
	list-style: none;
}

li {
	text-align: -webkit-match-parent;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

a {
	color: #ff5959;
	text-decoration: none;
	cursor: pointer;
}

.header .header_toplinks .block-cart .micarrito {
	padding: 0px;
	margin: 0 0px 0 0;
}

.header .header_toplinks .block-cart .micarrito .top-link-cart {
	display: block;
	float: right;
}

.header .header_toplinks .block-cart .micarrito .top-link-cart span {
	display: block;
	float: right;
	width: 50px;
	height: 50px;
	background: #ff5959;
	margin: 0;
	position: relative;
}

.header .header_toplinks .block-cart .micarrito .top-link-cart span span.qty {
	position: absolute;
	font-family: 'Myriad Pro', 'Myriad Web', 'Tahoma', 'Helvetica', 'Arial',
		sans-serif;
	font-size: 20px;
	color: #fff;
	background: none;
	display: block;
	height: auto;
	margin: 0;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.header .header_toplinks .block-cart .micarrito .top-link-cart {
	display: block;
	float: right;
}

.header .header_toplinks .block-cart .micarrito .top-link-cart span {
	display: block;
	float: right;
	width: 50px;
	height: 50px;
	background: #ff5959;
	margin: 0;
	position: relative;
}

.header .header_toplinks .block-cart .micarrito .top-link-cart.mycart .icon {
	background: #fff
		url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -66px
		10px no-repeat;
	margin: 0;
	position: relative;
}

.header .header_toplinks .block-cart .micarrito .top-link-cart span span.cart {
	position: absolute;
	background: none;
	display: block;
	height: auto;
	margin: 0;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.header .mobile_serarch_icon {
	float: right;
	width: 50px;
	height: 50px;
	text-indent: -99999px;
	background: #bbb8b6
		url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -304px
		12px no-repeat;
	cursor: pointer;
}

.header .links {
	float: right;
	margin: 0;
}

.header .links li {
	float: left;
	font-size: 11px;
	background: none;
	padding: 0 8px 0 7px;
}

.header .links a {
	color: #666666;
	text-decoration: none;
}

.header .header_toplinks .links li {
	padding: 0px;
	margin: 0;
}

.header .header_toplinks .links li a {
	display: block;
	float: left;
	line-height: 50px;
	font-weight: 400;
	color: #2e2925;
	font-size: 13px;
	text-transform: uppercase;
	text-indent: -9999px;
	width: 50px;
}

.header .header_toplinks .links li a .icon {
	display: block;
	float: left;
	line-height: 46px;
	margin-right: 10px;
}

.header .header_toplinks .links .login_link .icon {
	width: 27px;
	height: 27px;
	background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg)
		0 0 no-repeat;
	margin: 10px;
}

.header .burgermenu a {
	width: 50px;
	height: 50px;
	background: url(img/burger_menu.png) no-repeat center left;
	text-indent: -999999px;
	position: absolute;
	top: 0;
}

.subheader {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.logo {
	margin-top: 70px;
	margin-left: 40px;
}
.logo1 {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* IVAND && VICTOR */

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img {
	max-width: 100%;
}

.icon {
	text-align: center;
}

.container__title {
	display: flex;
	justify-content: center;
}

.section__title {
	display: flex;
	margin-bottom: 67px;
	line-height: 22px;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 6px;
	color: #2e2925;
	border-top: solid;
	border-bottom: solid;
	margin-top: 50px;
	justify-content: center;
	width: 70%;
	padding: 5%;
}

.ingredients__images img {
	width: 100%;
}

.ingredients__images--big {
	padding: 7.5px;
	max-height: 140px;
	overflow: hidden;
	border: 0;
	max-width: 90vw;
	position: relative;
}

.ingredients__images--small {
	padding: 7.5px;
	max-height: 140px;
	overflow: hidden;
	border: 0;
	max-width: 90vw;
	position: relative;
}

.ingredients__images--text {
	bottom: 0;
	left: 7.5px;
	background: rgba(255, 255, 255, 0.8);
	width: 50%;
	margin: 0;
	position: absolute;
	padding: 2%;
}

.ingredients__images h2 {
	color: #67635f;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.margin__correct {
	margin-left: auto;
	margin-right: auto;
}

.btn {
	background: #ff5959;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 70px;
	padding: 5%;
	box-sizing: content-box;
	width: 80%;
}

#ingredients__btn {
	width: 40%;
}

#blog__btn {
	width: 40%;
}

.text__btn {
	background-color: #ff5959;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	padding: 1%;
}

.foodTitle {
	font-size: small;
	font-weight: bolder;
	color: grey;
	background-color: white;
	padding: 5%;
}

.autor {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;
}

.name {
	margin-left: 5%;
	background-color: white;
}

.recipes__examples {
	display: grid;
	grid-template-columns: auto auto auto;
}

#item__post-2,
#item__post-3 {
	display: none;
}

.box-gray {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	background: #e8e6e5;
	justify-content: space-around;
	padding: 1px;
	margin-top: 20px;
	padding: 20px;
}

.i-devolucion,
.i-camion,
.i-24h,
.i-targeta {
	margin: 40px 10px 40px 10px;
	text-align: center;
	width: 40%;
	font-size: 10px;
}

.input-email {
	width: 95%;
	height: 40px;
	line-height: 40px;
	justify-content: center;
	border-color: #67625f;
	background: #ffffff;
	border: 1px solid black;
}

p:hover {
	color: tomato;
}
.input-box {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: auto;
	background: #f8f8f8;
}

.input-checkbox {
	display: flex;
	flex-direction: row;
	margin: 10px 10px 10px 10px;
	justify-content: center;
}

.siguenos {
	padding: 55px;
	background: #f8f8f8;
	text-align: center;
}
.redes-sociales {
	display: flex;
	justify-content: center;
	font: 12px/1.55 'Source Sans Pro', sans-serif;
	font-size: 14px;
	background: #f8f8f8;
}
.logos-redes-sociales {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.espacio {
	display: flex;
	flex-direction: row;
	padding: 0px 0px 35px;
	background: #f8f8f8;
}

.email {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 100%;
	font: 12px/1.55 'Source Sans Pro', sans-serif;
	font-size: 14px;
	justify-content: center;
	border-top: 1px solid black;
	background: #f8f8f8;
	padding-top: 10%;
	padding-bottom: 5%;
}

.info {
	display: flex;
	margin-top: 30px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-top: 1px solid black;
	background: #f8f8f8;
	padding: 4%;
}

li {
	list-style: none;
	text-align: center;
	color: #ff5959;
	text-transform: uppercase;
	font-size: 14px;
	padding-bottom: 35px;
}

aside {
	padding-top: 10px;
	text-align: center;
	width: 100%;
	height: 40px;
	color: white;
	text-align: center;
	background: #ff5959;
}

.button-newslatter {
	width: 90%;
	height: 40px;
	line-height: 40px;
	background: #ff5959;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-bottom: 10%;
}

.d-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.contacto,
.nosotros,
.condiciones-venta {
	display: flex;
	flex-direction: row;
	background: url(iconos/iconos/sprite.svg) 0 -207px no-repeat;
	display: block;
	width: 30px;
	height: 31px;
	margin: auto;
}

.footer .contact-about-terms a.terms .icon {
	background-position: 0 -285px;
}
