*, *::before, *::after {
    box-sizing: border-box;
}

.title-calculator {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 100px);
}

.calculator-html {
    grid-column: 1 / 5;
    background-color: rgba(0, 0, 0, .85);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 3mm;
    color: snow;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(background-image.jpg);
    background-size: 100%;
}

.calculator-grid {
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > .button-number {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255, 255, .85);
}

.calculator-grid > button:hover {
    background-color: rgba(255,255, 255, .9);
}

.calculator-grid > .button-operation {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(224, 161, 66, 0.85);
}

.calculator-grid > .button-delete {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(216, 73, 73, 0.85);
}

.calculator-grid > .double-space {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(16, 77, 92, 0.85);
}

.double-space {
    grid-column: span 2;
}

.screen {
    grid-column: 1 / 5;
    background-color: rgba(0, 0, 0, .85);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .previous-operation {
    color: rgba(255,255, 255, .85);
    font-size: 1.5rem;
}

.screen .actual-operation {
    color: snow;
    font-size: 2.5rem;
}