.desktop-header {
	display: none;
}

.mini__rakuten-logo {
	position: absolute;
	left: 0;
	top: 1.1%;
}

.mini__rakuten-logo img {
	width: auto;
	max-width: 150px;
	max-height: 50px;
	cursor: pointer;
}

.mini__search {
	position: absolute;
	right: 10px;
	top: 10px;
}

.mini__search img {
	width: auto;
	max-width: 25px;
	max-height: 40px;
	cursor: pointer;
	color: white;
}

.mobile-header {
	position: fixed;
	display: flex;
	justify-content: space-around;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: 50px;
	background-color: #000;
	box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	z-index: 200;
}

.mobile-header__page {
	display: inline-block;
	width: auto;
	padding: 0;
	margin: 0;
	max-width: 75px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/home1.jpeg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	cursor: pointer;
}

.mobile-header__page:hover {
	background-image: url('mobile-icon/home2.jpg');
}

.mobile-header__cinema {
	display: inline-block;
	width: auto;
	max-width: 75px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/cinema1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	cursor: pointer;
}

.mobile-header__cinema:hover {
	background-image: url('mobile-icon/cinema2.jpg');
}
.mobile-header__free {
	display: inline-block;
	width: auto;
	max-width: 75px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/free1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 72%;
	cursor: pointer;
}

.mobile-header__free:hover {
	background-image: url('mobile-icon/free2.jpg');
}
.mobile-header__subscription {
	display: inline-block;
	width: auto;
	max-width: 80px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/subscription1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 110%;
	cursor: pointer;
}

.mobile-header__subscription:hover {
	background-image: url('mobile-icon/subscription2.jpg');
}
.mobile-header__login {
	display: inline-block;
	width: auto;
	max-width: 75px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/login1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	cursor: pointer;
}

.mobile-header__login:hover {
	background-image: url('mobile-icon/login2.jpg');
}

.footer-content__info {
	display: none;
}

.footer-content__mobile {
	width: auto;
	height: auto;
	padding-right: 55px;
	padding-left: 55px;
	padding-top: 35px;
	padding-bottom: 75px;
	background-color: #0d0d0d;
	text-align: center;
}

.contact__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content__logo {
	width: 150px;
	height: 100px;
	background-image: url('mobile-icon/rktv-grey-eae681a197.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	cursor: pointer;
}

.content__company {
	display: flex;
	justify-content: center;
	cursor: pointer;
	flex-wrap: wrap;
	color: rgb(204, 204, 204);
	font-size-adjust: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

.content__company span {
	padding-left: 10px;
}

.content__company span:hover {
	color: white;
}

.content__info {
	padding-top: 10px;
	color: rgb(115, 115, 115);
	text-align: center;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

.desktop-header {
	display: none;
}

@media screen and (min-width: 1025px) {
	.mobile-header {
		display: none;
	}

	.desktop-header {
		position: fixed;
		display: flex;
		justify-content: space-around;
		align-items: center;
		top: 0;
		right: 0;
		left: 0;
		height: 60px;
		background: #000;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	.login__help {
		display: none;
	}

	.desktop-header__rakuten-logo img {
		max-width: 150px;
		max-height: 50px;
		cursor: pointer;
	}

	.desktop-header__menu-bar {
		display: flex;
		align-items: center;
		font-size: 14px;
		text-align: left;
		flex: 2.2;
		color: white;
		font-weight: 700;
	}

	.menu-bar {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		z-index: 1;
		background-color: black;
		min-width: 180px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	}

	.dropdown-content span {
		color: white;
		font-weight: 100;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.menu-bar:hover .dropdown-content {
		display: block;
	}

	.menu-bar__dropdown {
		background-color: black;
		color: white;
		border: 1px;
		font-weight: 700;
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
	}

	.desktop-header__menu-bar span:hover,
	.desktop-header__menu-bar button:hover {
		color: #ffe300;
	}

	.desktop-header__menu-bar span {
		cursor: pointer;
		padding-right: 10px;
	}

	.desktop-header__search input {
		padding: 10px;
		font-size: 15px;
		font-family: 'Noto Sans', sans-serif;
		border: 1px solid #333;
		border-left: none;
		border-top-right-radius: 2%;
		border-bottom-right-radius: 2%;
		float: left;
		width: 200px;
	}

	.desktop-header__search button {
		float: left;
		width: 40px;
		height: 43px;
		color: grey;
		font-size: 18px;
		margin-right: -10px;
		border: 1px solid #333;
		border-right: none;
		border-top-left-radius: 5%;
		border-bottom-left-radius: 5%;
		cursor: pointer;
	}

	.desktop-header__search input,
	.desktop-header__search button {
		background-color: #333;
	}

	.desktop-header__login {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.login__enter {
		color: white;
		font-weight: 700;
		font-size: 14px;
		padding-right: 20px;
		cursor: pointer;
	}

	.login__enter:hover {
		color: #ffe300;
	}

	.login__log {
		background-color: #ffe300;
		color: #252525;
		padding-right: 12px;
		padding-left: 12px;
		padding-top: 9px;
		padding-bottom: 9px;
		border-radius: 3%;
		font-size: 14px;
		margin-right: 20px;
		font-weight: 700;
		cursor: pointer;
	}

	.footer-content__info {
		display: block;
		padding: 25px;
		background-color: #212121;
	}

	.info__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.info__title h1 {
		margin-top: 15px;
		color: #fff;
		font-size: 22px;
		text-align: center;
	}

	.info__title p {
		margin: 10px auto 20px;
		width: 50%;
		color: #ccc;
		font-size: 14px;
		text-align: center;
		line-height: 160%;
	}

	.info__tools {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		text-align: center;
		padding-right: 100px;
		padding-left: 100px;
	}

	.info__tools p {
		margin-top: 15px;
		font-weight: 700;
		color: #fff;
		font-size: 22px;
		text-align: center;
	}

	.info__tools span {
		margin-top: -15px;
		color: #ccc;
		font-size: 14px;
		line-height: 160%;
	}

	.tools__howitworks {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-right: 30px;
		padding-left: 30px;
		cursor: pointer;
	}

	.tools__howitworks img {
		width: 100px;
	}

	.tools__pay {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-right: 30px;
		padding-left: 30px;
		cursor: pointer;
	}

	.tools__pay img {
		width: 200px;
		margin-top: 30px;
	}

	.tools__pay p {
		margin-top: 25px;
	}

	.tools__help {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-right: 30px;
		padding-left: 30px;
		cursor: pointer;
	}

	.tools__help img {
		min-width: 30%;
		width: 95px;
		margin-top: 10px;
	}

	.tools__help p {
		margin-top: 10px;
	}

	.contact__content {
		display: flex;
		flex-direction: row;
	}

	.content__company {
		justify-content: flex-start;
		margin-left: -30px;
	}

	.content__info {
		margin-top: -30px;
		text-align: left;
	}
}

@media screen and (min-width: 1280px) {
	.login__help {
		display: block;
		color: #999;
		font-weight: 700;
		font-size: 14px;
		padding-right: 20px;
		cursor: pointer;
	}

	.login__help:hover {
		color: #ffe300;
	}
}
