* {
	font-family: Arial, Helvetica, sans-serif;
}

.header__button {
	background-color: #eeeeee;
	border-radius: 3px;
	border: none;
	padding: 5px;
}

.header__button a {
	font-weight: bold;
	color: #627f8e;
}

a:link {
	text-decoration: none;
}

.header__button a:hover {
	color: #0c9de9;
}

.section__powerstats {
	display: flex;
	flex-direction: column;
}

.powerstat {
	margin: 10px;
}
