<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skykab Coder Academy</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron">
        <h1>Hero</h1>
        <ul>
            <li> <%= hero.name %> </li>
        </ul>
        <nav>
            <a href="/" class="btn btn-primary">Back to Home</a>
        </nav>
    </div>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>