<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Skykab Coder Academy</title>
</head>
<body>
    <header class="jumbotron">
        <div class="container">
            <h1>Heroes API</h1>
        </div>
    </header>
    <main class="container">
        <h2>Methods available</h2>
        <ul  class="main">
            <% heroes.map((hero) => { %>
            <li> 
                <p class="hero__name"><%= hero.name %></p>
                <p>Power: <%= hero.power %></p>
            </li>
            <% }) %>
        </ul>
    </main>
</body>
</html>