* {
	font-family: Helvetica, sans-serif;
}
section {
	border: solid rgba(128, 128, 128, 0.5) 1px;
	margin: 10px;
	padding: 10px;
}
.title {
	margin-top: 10px;
	margin-left: 5px;
}
.top-heroes {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.heroes__wrapper {
	margin-top: 10px;
}

.dashboard__button {
	margin-top: 10px;
}

button {
	border: none;
	color: white;
	padding: 40px 60px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #008cba;
}

a {
	text-decoration: none;
	color: white;
}
