* {
	font-family: Arial;
}

.c1 {
	height: 20px;
	width: 20px;
	background-color: red;
}

.c2 {
	height: 20px;
	width: 20px;
	margin-left: -12px;
	background-color: orange;
}

.c3 {
	height: 20px;
	width: 20px;
	margin-left: -12px;
	background-color: brown;
}

.c4 {
	height: 50px;
	width: 50px;
	background-color: rgb(175, 175, 175);
}

body {
	border: 1px solid black;
	min-width: 500px;
}

header {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
	background-color: rgb(175, 175, 175);
}

.square {
	min-width: 150px;
	height: 150px;
	background-color: rgb(175, 175, 175);
	border: 1px solid black;
	margin: 5px 5px 5px 5px;
}

.headerRight {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	min-width: 300px;
	max-width: 70%;
}

.heading {
	display: flex;
	flex-direction: row;
}

.intro {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.circle {
	border: 1px solid black;
	border-radius: 500%;
	justify-content: flex-start;
}

p {
	margin: 10px 0 0 10px;
}

.headingTitle {
	margin: 15px 0px 0px 0px;
	font-weight: 500;
}

.subheadingTitle {
	margin: 5px 0px 0px 0px;
	color: gray;
	font-weight: 300;
}

.triangles {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 80px 20px 80px;
}

.inner-triangle {
	position: relative;
	bottom: -2.3px;
	left: -20px;
	width: 0;
	height: 0;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
	border-bottom: 60px solid rgb(175, 175, 175);
}
