// height
$navbar-height: 90px;

// Principal colors
$primary-color: rgb(70, 70, 70);
$secondary-color: rgb(241, 214, 0);
$secondary-color-shadow: $secondary-color * 0.90;
$back-color: rgb(220, 223, 234);

// Special letter colors
$price-color: rgb(240, 0, 0);

// Font sizes
$title-font-size: 50px;
$secondary-title-font-size: 30px;