.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0 5px;
}

.header__button {
    width: auto;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}
.header__button:hover{
    color: red;
}