@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Bangers', cursive;
	background-color: black;
}

button {
	font-family: 'Bangers', cursive;
}

.game__grid {
	display: flex;
	justify-content: center;
	align-items: center;
	.grid__table {
		background-color: white;
		border-collapse: collapse;
		.grid__rows {
			.grid__cols {
				height: 20px;
				width: 20px;
				border: 1px solid black;
			}
		}
	}
}
