<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="list.css" />
		<title>Tour of Superheroes - List</title>
	</head>
	<body>
		<main class="main-content">
			<div class="first-nav-bar">
				<h3>Tour of Superheroes</h3>
				<div class="nav-buttons">
					<button><a href="../dashboard/dashboard.html"> Dashboard</a></button>
					<button><a href="./list.html">Heroes</a></button>
				</div>
			</div>
			<h3 class="my-heroes">My Heroes</h3>
			<div class="second-nav-bar list-container">
				<ul id="hero-list"></ul>
			</div>
			<div class="hero-list__footer">
				<p id="hero-choice"><span id="hero-name-choice"></span> is my hero!</p>
				<button>View Details</button>
			</div>
		</main>
		<script src="../detail/detail-store.js"></script>
		<script src="list.js"></script>
		<script src="./hero-onclick.js"></script>
		<script>
			const heroesList = store.getHeroes();
			const printHeroesList = addItemsToList(heroesList);
		</script>
	</body>
</html>
