body {
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fixed-header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #000000;
  display: flex;
  align-items: center;
}

#pag-title:hover {
  color: #68D962;
  cursor: pointer;
}

#spotify-logo {
  width: 50px;
  height: auto;
  padding: 20px;
}

.game-body,
.game-end {
  width: 85%;
  height: auto;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.game-body__block {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

#next {
  display: none;
}

.game-author-name__title {
  padding: 20px 100px;
  background-color: #68D962;
  border-radius: 20px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
}

.album-picture {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.game-options {
  width: 70%;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.answers-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-body-options {
  margin: 20px;
  font-size: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 20px;
  padding: 10px 30px;
  background-color: #000000;
  color: #68D962;
  border: 1px solid #68D962;
  border-radius: 20px;
}

.button:hover {
  background-color: #68D962;
  color: #000000;
  cursor: pointer;
}

.wrong {
  color: white;
  background-color: red;
  border: 3px solid darkred;
}

.wrong:hover {
  background-color: darkred;
  color: white;
}

.right {
  color: white;
  background-color: green;
  border: 3px solid darkgreen;
}

.right:hover {
  background-color: darkgreen;
  color: #68D962;
}

.grey {
  color: white;
  background-color: gray;
  border: 1px solid grey;
}

.grey:hover {
  background-color: gray;
  border: 1px solid darkgray;
  color: white;
}

@media (max-width: 1300px) {
  .game-options {
    flex-direction: column;
    width: 50%;
  }

  .answers-row {
    flex-direction: column;
  }
}

.game-end {
  display: none;
  justify-content: center;
  align-items: center;
}

.game-end__block {
  border: 1px solid #68D962;
  border-radius: 20px;
  padding: 15px 100px;
  margin: 25px 0;
}

.total-points {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-points-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-points:hover,
.total-points-info:hover {
  color: #68D962;
}

.total-points-info>span {
  padding: 20px 0;
}

.play-again-button {
  width: 200px;
}

.material-icons {
  padding-left: 10px;
  font-size: 30px;
}