<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./styles/style.css" />
		<title>My Heroes</title>
	</head>
	<body onload="generateList()">
		<section class="dashboard">
			<header>
				<nav class="nav">
					<h1 class="tour-of-heroes__title">Tour of Heroes</h1>
					<button class="dash-btn">
						<a href="./dashboard.html" class="dash-link-name">Dashboard</a>
					</button>
					<button class="dash-btn">
						<a href="./heroeslist.html" class="dash-link-name">Heroes</a>
					</button>
				</nav>
			</header>
			<section class="hero-list">
				<h2 class="myHero__title">My heroes</h2>
			</section>
		</section>
	</body>
	<script src="./app/herodata.js"></script>
	<script src="./app/store.js"></script>
	<script src="./app/herolist.js"></script>
</html>
