input {
	border: 2px solid black;
}

input:invalid {
	border: 2px solid red;
}

input:valid {
	border: 2px green;
}

.ticket,
.from-to,
.departure-arrival {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
}

.personal-data {
	display: flex;
	flex-flow: column wrap;
}

#name,
#lastname,
#email,
#number-phone {
	width: 200px;
	height: 15px;
}
#age {
	width: 50px;
	height: 15px;
}

#searchButton {
	width: 100px;
	height: 35px;
}
textarea {
	width: 300px;
}

form {
	border: 4px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 800px;
	margin-left: 20px;
	background-color: rgba(191, 236, 236, 0.5);
}

h1 {
	margin-left: 20px;
}

body {
	background-image: url(https://cutt.ly/0gr9ouS);
	background-repeat: no-repeat;
	background-size: cover;
}
