.heroesDash {
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(86, 119, 138);
    font-weight: bold;
    margin-left: 10%;
    text-decoration: none;
    padding: 10px;
}

.heroesDash:hover {
    color: rgb(80, 150, 194);
    background-color: rgb(221, 213, 213);
}


.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 59, 73);
    text-align: center;
}

.titleSection {
    display:flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: grey;
}

.sectionDiv{
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding-top: 10px;
}

.listElement {
    display: flex;
    flex-direction: column;
}

.boxHero {
    height: auto;
    width: auto;
    align-content: center;
    font-family: sans-serif;
    padding: 20px;
    margin: 20px;
    background-color: rgb(85, 139, 145);
    color: white;
    border-style: none
}

.boxHero:hover {
    height: auto;
    width: auto;
    font-family: sans-serif;
    background-color: whitesmoke;
    color: rgb(85, 139, 145);
    border-style: none;
    font-weight: bold;
}

.anchors {
    text-decoration: none;
    color: inherit;
    background-color: rgb(69, 138, 150);
    color: white;
    padding: 20px;
    margin: 20px;
}
