<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotitrial</title>
</head>
<body>
    <script src="../store.js"></script>
    <script>

    (async() => {
        await store.getToken();
        await store.getPlaylist();
        const playlist = _playlist;
        console.log(playlist);

        let artistArray = [];

        for(let index = 0; index < playlist.tracks.items.length; index++){
            artistArray.push({
                artist: playlist.tracks.items[index].track.artists[0].name,
                song: playlist.tracks.items[index].track.name
            });
        }
        console.log(artistArray);
        
    })();

    </script>
</body>
</html>