* {
	margin: 0;
	font-family: 'Noto Sans';
}

html {
	background-color: rgb(23, 23, 23);
}

body {
	background-color: rgb(23, 23, 23);
	margin-left: 10px;
}

.nav__items {
	display: flex;
	position: absolute;
	color: white;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	font-weight: 400;
	font-size: 14px;
	background: linear-gradient(to bottom, black, transparent);
}

.nav__bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	margin: 10px 10px;
}

.nav__items__menu {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	align-items: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	padding-top: 5px;
	width: 100%;
	margin-right: 15px;
}

.header-logo {
	height: 43px;
	margin-bottom: 0px;
}

.search__icon {
	display: block;
}

.header-cinema {
	display: flex;
	font-weight: 700;
	margin-left: 20px;
}

.header__cinema__text {
	margin: 0 4px;
}

.header-free__text {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 1px;
}

.header-subscription {
	display: flex;
	font-weight: 700;
}

.header__subscription__text {
	margin: 0 4px;
}

.header-search {
	display: flex;
	flex-direction: row;
	background-color: #333;
	color: #999;
	align-items: center;
	padding-left: 10px;
}

.search__box__input {
	height: 35px;
	background-color: #333;
	border-radius: 2px;
	border: 0;
	font-family: 'Noto Sans', sans-serif;
	outline: none;
	font-size: 16px;
	height: 40px;
	width: 250px;
}

.search__box__input:focus {
	background-color: white;
	color: black;
}

.header-help {
	display: none;
	color: rgb(153, 153, 153);
}

.button-signup {
	background-color: rgba(255, 227, 0, 1);
	padding: 10px 20px;
	/* padding-right: 8px;
	padding-left: 8px; */
	min-height: 32px;
	border: 0;
	border-radius: 2px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	outline: none;
}

.header-cinema:hover {
	color: rgba(255, 227, 0, 1);
}

.tooltip__header__cinema {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip__header__cinema .tooltip__box__cinema {
	visibility: hidden;
	width: 160px;
	background-color: black;
	color: #fff;
	/* text-align: center; */
	border-radius: 6px;
	padding: 20px 10px 20px 10px;
	position: absolute;
	z-index: 1;
	text-align: start;
	margin-bottom: 0px;
}

.cinema__text__all__genres {
	margin-bottom: 10px;
}

.cinema__text__all__genres:hover {
	color: rgba(255, 227, 0, 1);
}

.cinema__text___family:hover {
	color: rgba(255, 227, 0, 1);
}

.tooltip__header__cinema:hover .tooltip__box__cinema {
	visibility: visible;
}

.header-free:hover {
	color: rgba(255, 227, 0, 1);
}

.header-subscription:hover {
	color: rgba(255, 227, 0, 1);
}

.header-help:hover {
	color: rgba(255, 227, 0, 1);
}

.header-login:hover {
	color: rgba(255, 227, 0, 1);
}

.button-signup:hover {
	background-color: rgba(255, 227, 0, 0.8);
}

.header__bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #000;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	width: 100%;
}

.header__bottom__items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 8px;
	font-weight: 400;
	color: #999;
}

.header__bottom__element {
	width: 100%;
	text-align: center;
}

.header__bottom__element:hover {
	color: #ffe300;
}

.header__bottom__items__home,
.header__bottom__items__cinema,
.header__bottom__items__free,
.header__bottom__items__subscription,
.header__bottom__items__signIn {
	height: 30px;
	width: 100%;
}

.header__bottom__items__home {
	background: url('rakuten-image/home.png') bottom center no-repeat;
}

.header__bottom__items__cinema {
	background: url('rakuten-image/cinema.png') bottom center no-repeat;
}

.header__bottom__items__free {
	background: url('rakuten-image/eye.png') bottom center no-repeat;
}

.header__bottom__items__subscription {
	background: url('rakuten-image/ticket.png') bottom center no-repeat;
}

.header__bottom__items__signIn {
	background: url('rakuten-imagerakuten-home.htmlrakuten-home.css/user.png')
		bottom center no-repeat;
}

.footer-logo__image {
	width: 122px;
}

.footer-first {
	display: none;
}

.info__cine-en-casa-titulo,
.how-it-works__title,
.help__title,
.pay__title {
	color: #fff;
	font-size: 22px;
	text-align: center;
}

.other-info__how-it-works,
.other-info__pay,
.other-info__help {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.how-it-works__subtitle,
.pay__subtitle,
.help__subtitle {
	font-size: 14px;
	color: #cccccc;
	text-align: center;
	margin: 10px 5px 0 10px;
}

.info__cine-en-casa-texto {
	margin: 10px auto 20px;
	font-size: 14px;
	color: #ccc;
	text-align: center;
	width: 50%;
}

.footer-first__other-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.other-info__icon {
	width: 60%;
	vertical-align: top;
	padding: 90px 15px 0;
	background-position: center center;
	background-size: 180px 90px;
	background-repeat: no-repeat;
}

.help__icon {
	margin: 0 auto;
}

.how-it-works__icon {
	background-image: url(https://prod1-kraken-cloudfront.rakuten.tv/images/footer/howitworks-555729f452.svg);
}

.pay__icon {
	background-image: url(https://prod3-kraken-cloudfront.rakuten.tv/images/footer/payments-ec797a77da.svg);
}

.help__icon {
	background-image: url(https://prod1-kraken-cloudfront.rakuten.tv/images/footer/support-cd17a5040b.svg);
}

.footer-second {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgb(13, 13, 13);
	padding: 35px 55px 80px;
	text-align: center;
	margin: 0 0;
}

.footer-links__link {
	margin-left: 15px;
	padding: 3px 0;
	color: #ccc;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	display: inline-block;
}

.footer-copyright__text {
	margin: 10px 10px;
	color: #737373;
	font-size: 14px;
}
@media only screen and (min-width: 1025px) {
	.footer-first {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: rgb(33, 33, 33);
		margin: 0;
		padding: 30px;
		padding-bottom: 80px;
	}

	.nav__items__menu {
		display: flex;
	}
	.nav__items {
		position: fixed;
		background-color: black;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	.header__bottom {
		display: none;
	}

	.horizontal-movie:hover {
		border: 5px solid yellow;
	}

	.vertical-movie:hover {
		border: 5px solid yellow;
	}

	.search__icon {
		display: none;
	}
	.header-logo {
		margin-bottom: 0px;
	}
	.nav__bar {
		margin-top: 0;
	}

	.header-help {
		display: block;
	}

	.footer-first {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: rgb(33, 33, 33);
		margin: 0;
		padding: 30px;
		padding-bottom: 80px;
	}
}
