* {
	margin: 0;
	font-family: 'Noto Sans';
}

html {
	background-color: rgb(23, 23, 23);
}

body {
	background-color: rgb(23, 23, 23);
}

.nav__items {
	display: flex;
	position: absolute;
	color: white;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	font-weight: 400;
	font-size: 14px;
	background: linear-gradient(to bottom, black, transparent);
}

.nav__bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	margin: 10px 10px;
}

.nav__items__menu {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	align-items: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	padding-top: 5px;
	width: 100%;
	margin-right: 15px;
}

.header-logo {
	height: 43px;
	margin-bottom: 0px;
}

.search__icon {
	display: block;
}

.header-cinema {
	display: flex;
	font-weight: 700;
	margin-left: 20px;
}

.header__cinema__text {
	margin: 0 4px;
}

.header-free__text {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 1px;
}

.header-subscription {
	display: flex;
	font-weight: 700;
}

.header__subscription__text {
	margin: 0 4px;
}

.header-search {
	display: flex;
	flex-direction: row;
	background-color: #333;
	color: #999;
	align-items: center;
	padding-left: 10px;
}

.search__box__input {
	height: 35px;
	background-color: #333;
	border-radius: 2px;
	border: 0;
	font-family: 'Noto Sans', sans-serif;
	outline: none;
	font-size: 16px;
	height: 40px;
	width: 250px;
}

.search__box__input:focus {
	background-color: white;
	color: black;
}

.header-help {
	display: none;
	color: rgb(153, 153, 153);
}

.button-signup {
	background-color: rgba(255, 227, 0, 1);
	padding: 10px 20px;
	/* padding-right: 8px;
	padding-left: 8px; */
	min-height: 32px;
	border: 0;
	border-radius: 2px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	outline: none;
}

.header-cinema:hover {
	color: rgba(255, 227, 0, 1);
}

.tooltip__header__cinema {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip__header__cinema .tooltip__box__cinema {
	visibility: hidden;
	width: 160px;
	background-color: black;
	color: #fff;
	/* text-align: center; */
	border-radius: 6px;
	padding: 20px 10px 20px 10px;
	position: absolute;
	z-index: 1;
	text-align: start;
	margin-bottom: 0px;
}

.cinema__text__all__genres {
	margin-bottom: 10px;
}

.cinema__text__all__genres:hover {
	color: rgba(255, 227, 0, 1);
}

.cinema__text___family:hover {
	color: rgba(255, 227, 0, 1);
}

.tooltip__header__cinema:hover .tooltip__box__cinema {
	visibility: visible;
}

.header-free:hover {
	color: rgba(255, 227, 0, 1);
}

.header-subscription:hover {
	color: rgba(255, 227, 0, 1);
}

.header-help:hover {
	color: rgba(255, 227, 0, 1);
}

.header-login:hover {
	color: rgba(255, 227, 0, 1);
}

.button-signup:hover {
	background-color: rgba(255, 227, 0, 0.8);
}

.header__bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #000;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	width: 100%;
}

.header__bottom__items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 8px;
	font-weight: 400;
	color: #999;
}

.header__bottom__element {
	width: 100%;
	text-align: center;
}

.header__bottom__element:hover {
	color: #ffe300;
}

.header__bottom__items__home,
.header__bottom__items__cinema,
.header__bottom__items__free,
.header__bottom__items__subscription,
.header__bottom__items__signIn {
	height: 30px;
	width: 100%;
}

.header__bottom__items__home {
	background: url('rakuten-image/home.png') bottom center no-repeat;
}

.header__bottom__items__cinema {
	background: url('rakuten-image/cinema.png') bottom center no-repeat;
}

.header__bottom__items__free {
	background: url('rakuten-image/eye.png') bottom center no-repeat;
}

.header__bottom__items__subscription {
	background: url('rakuten-image/ticket.png') bottom center no-repeat;
}

.header__bottom__items__signIn {
	background: url('rakuten-imagerakuten-home.htmlrakuten-home.css/user.png')
		bottom center no-repeat;
}

.footer-logo__image {
	width: 122px;
}

.footer-first {
	display: none;
}

.info__cine-en-casa-titulo,
.how-it-works__title,
.help__title,
.pay__title {
	color: #fff;
	font-size: 22px;
	text-align: center;
}

.other-info__how-it-works,
.other-info__pay,
.other-info__help {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.how-it-works__subtitle,
.pay__subtitle,
.help__subtitle {
	font-size: 14px;
	color: #cccccc;
	text-align: center;
	margin: 10px 5px 0 10px;
}

.info__cine-en-casa-texto {
	margin: 10px auto 20px;
	font-size: 14px;
	color: #ccc;
	text-align: center;
	width: 50%;
}

.footer-first__other-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.other-info__icon {
	width: 60%;
	vertical-align: top;
	padding: 90px 15px 0;
	background-position: center center;
	background-size: 180px 90px;
	background-repeat: no-repeat;
}

.help__icon {
	margin: 0 auto;
}

.how-it-works__icon {
	background-image: url(https://prod1-kraken-cloudfront.rakuten.tv/images/footer/howitworks-555729f452.svg);
}

.pay__icon {
	background-image: url(https://prod3-kraken-cloudfront.rakuten.tv/images/footer/payments-ec797a77da.svg);
}

.help__icon {
	background-image: url(https://prod1-kraken-cloudfront.rakuten.tv/images/footer/support-cd17a5040b.svg);
}

.footer-second {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgb(13, 13, 13);
	padding: 35px 55px 80px;
	text-align: center;
	margin: 0 0;
}

.footer-links__link {
	margin-left: 15px;
	padding: 3px 0;
	color: #ccc;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	display: inline-block;
}

.footer-copyright__text {
	margin: 10px 10px;
	color: #737373;
	font-size: 14px;
}

/* Darina:  */

.nav__items {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	font-weight: 400;
}

.nav__bar {
	display: flex;
	align-items: center;
	width: 100%;
}

.nav__items__menu {
	display: none;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	align-items: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	padding-top: 5px;
	width: 100%;
}

.header-logo {
	height: 37px;
	width: 122px;
	margin-left: 20px;
}

.header-help {
	color: rgb(153, 153, 153);
}

.search__box__input {
	padding-left: 40px;
	height: 35px;
	background-color: #333;
	border-radius: 2px;
	border: 0;
	font-family: 'Noto Sans', sans-serif;
	outline: none;
}

.search__box__input:focus {
	background-color: white;
	color: black;
}

.button-signup {
	background-color: rgba(255, 227, 0, 1);
	padding-right: 8px;
	padding-left: 8px;
	min-height: 32px;
	border: 0;
	border-radius: 2px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	outline: none;
}

.button-signup:hover {
	background-color: rgba(255, 227, 0, 0.8);
}

.header__bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #000;
	z-index: 200;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	width: 100%;
}

.header__bottom__items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 8px;
	font-weight: 400;
	color: #999;
}

.header__bottom__element {
	width: 100%;
	text-align: center;
}

.header__bottom__element:hover {
	color: #ffe300;
}

.header__bottom__items__home,
.header__bottom__items__cinema,
.header__bottom__items__free,
.header__bottom__items__subscription,
.header__bottom__items__signIn {
	height: 30px;
	width: 100%;
}

.header__bottom__items__home {
	background: url('rakuten-image/home.png') bottom center no-repeat;
}

.header__bottom__items__home:hover {
	background: url('rakuten-image/home_hover.png') bottom center no-repeat;
}

.header__bottom__items__cinema {
	background: url('rakuten-image/cinema.png') bottom center no-repeat;
}

.header__bottom__items__cinema:hover {
	background: url('rakuten-image/cinema_hover.png') bottom center no-repeat;
}

.header__bottom__items__free {
	background: url('rakuten-image/eye.png') bottom center no-repeat;
}

.header__bottom__items__free:hover {
	background: url('rakuten-image/eye_hover.png') bottom center no-repeat;
}

.header__bottom__items__subscription {
	background: url('rakuten-image/ticket.png') bottom center no-repeat;
}

.header__bottom__items__subscription:hover {
	background: url('rakuten-image/ticket_hover.png') bottom center no-repeat;
}

.header__bottom__items__signIn {
	background: url('rakuten-image/user.png') bottom center no-repeat;
}

.header__bottom__items__signIn:hover {
	background: url('rakuten-image/user_hover.png') bottom center no-repeat;
}

.info-block {
	display: flex;
	flex-direction: column;
}

.info-block__social {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-color: rgb(241, 241, 241);
	padding: 25px 40px;
	border-bottom: 1px solid rgb(217, 217, 217);
	text-align: center;
}

.social__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(37, 37, 37);
	background-color: white;
	height: 50px;
	width: 50px;
	font-size: 18px !important;
	border: 1px solid rgb(217, 217, 217);
	border-radius: 50%;
	margin: 0px 3px;
}

.info-block__movie {
	background-color: rgb(255, 255, 255);
	padding: 20px;
}

.movie__data {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	font-size: 14px;
	margin-bottom: 10px;
}

.data-icon {
	font-size: 14px !important;
	margin-right: 2px;
}

.movie__description {
	font-size: 16px;
	line-height: 180%;
	margin-bottom: 30px;
}

.language-and-subs,
.direction-and-actors,
.ratings,
.movie-genre {
	padding-bottom: 30px;
}

.language-and-subs__title,
.direction-and-actors__title,
.ratings__title,
.movie-genres__title {
	font-size: 16px;
	margin-bottom: 10px;
	color: #252525;
}

.audio-subs__block {
	display: flex;
	flex-direction: row;
}

.audio-row {
	display: flex;
	flex-direction: column;
	padding-right: 30px;
	width: 100px;
	margin-right: 0 !important;
}

.subtitles-row {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.audio,
.sub {
	padding-bottom: 5px;
	color: #737373;
}

.audio-subtitle,
.subtitles-subtitle {
	color: #252525;
	font-size: 16px;
	font-weight: bold;
}

.container {
	align-items: center;
	margin-top: 20px;
}

.scrollable::-webkit-scrollbar {
	display: none;
}

.scrollable {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

.cast {
	height: 140px;
	margin: 0;
	border-radius: 2px;
	border: 5px solid transparent;
	border-radius: 8px;
}

.movie-genres__block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.genre-block {
	margin: 10px 5px;
}

.genre__title {
	display: flex;
	justify-content: center;
	font-weight: 300;
	font-size: 13px;
	width: 80%;
	color: #252525;
	margin-left: 10px;
	margin-top: 5px;
	text-align: center;
}

.cast-block {
	margin: 10px 0;
}

.cast__name {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	height: 30px;
	font-weight: 300;
	font-size: 13px;
	width: 90%;
	color: #252525;
	margin-left: 10px;
	margin-top: 5px;
	text-align: center;
}

.genre__icon {
	width: 95px;
	height: 95px;
	margin: 5px 5px;
	background-position: center center;
	background-size: 115%;
	background-color: rgb(217, 217, 217);
	border-radius: 50%;
	margin: auto;
}

.action__icon {
	background-image: url(rakuten-image/mainpage/action-1591342700.png);
}

.adventures__icon {
	background-image: url(rakuten-image/mainpage/adventure-1591342698.png);
}

.sci-fi__icon {
	background-image: url(rakuten-image/mainpage/science-fiction-1591342715.png);
}

.fantasy__icon {
	background-image: url(rakuten-image/mainpage/fantasy-1591342745.png);
}

.family-cinema__icon {
	background-image: url(rakuten-image/mainpage/kids-family-1591342710.png);
}

.comedy__icon {
	background-image: url(rakuten-image/mainpage/comedy-1591342725.png);
}

.disney__icon {
	background-image: url(rakuten-image/mainpage/disney-1591342735.png);
}

.other-films {
	padding-top: 10px;
	padding-bottom: 50px;
	background-color: rgb(241, 241, 241);
	border-top: 1px solid rgb(217, 217, 217);
}

.other-films__title {
	font-size: 18px;
	color: #252525;
	font-weight: bold;
	padding: 15px 5px 0px;
}

.container {
	align-items: center;
	margin-left: 10px;
}

.vertical-movie {
	margin: 0 5px;
	border-radius: 5px;
}

@media only screen and (min-width: 1025px) {
	.footer-first {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: rgb(33, 33, 33);
		margin: 0;
		padding: 30px;
		padding-bottom: 80px;
	}

	.info-block {
		flex-direction: row-reverse;
	}

	.nav__items__menu {
		display: flex;
	}
	.nav__items {
		background-color: black;
	}
	.header__bottom {
		display: none;
	}
	.horizontal-movie:hover {
		border: 5px solid yellow;
	}
	.vertical-movie:hover {
		border: 5px solid yellow;
	}
}

.detail-movie {
	background: linear-gradient(
		to bottom,
		transparent 30%,
		rgba(0, 0, 0, 0.3) 45%,
		rgba(0, 0, 0, 0.7) 60%,
		#000 70%
	);
	width: 100%;
	height: 680px;
}

.detail__movie__wrapper {
	display: flex;
	flex-direction: column;
	background: url('rakuten-guardianes/snapshot-1590662517-width1920-quality80.jpeg')
		no-repeat;
	background-size: cover;
	background-position: top;
}

.deatail__movie__round__action {
	display: flex;
	flex-direction: row;
	margin-top: 80px;
	justify-content: center;
	font-size: 10px;
	width: 100%;
	text-align: center;
}

.round-action__trailer {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	color: white;
}

.round-action__wishlist {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	color: white;
}

.round-action__trailer__element,
.round-action__wishlist__element {
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	background-size: 30px;
	border-radius: 50%;
	padding: 20px;
}

.rating {
	display: flex;
	flex-direction: row;
	color: #ffe300;
	font-size: 18px;
	justify-content: center;
	margin-top: 200px;
}

.score {
	margin: 0 4px;
}

.detail__title {
	text-align: center;
}

.detail__title__text {
	font-size: 28px;
	font-weight: bold;
}

.detail__action {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.detail__action__purchase {
	background: #ffe300;
	border: 2px double #ffe300;
	width: 350px;
	color: #252525;
	font-size: 14px;
}

.detail__action__redeem {
	width: 350px;
	color: #ffe300;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #ffe300;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.detail__action__purchase__text {
	margin-left: 10px;
}

@media only screen and (min-width: 900px) {
	.detail__action {
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: center;
	}
}
