* {
	margin: 0;
	font-family: 'Noto Sans';
}

html {
	background-color: rgb(23, 23, 23);
}

body {
	background-color: rgb(23, 23, 23);
	margin-left: 10px;
}

.first-row {
	margin: 25px 0px 20px 0px;
	padding: 0px 15px 0px 0px;
}

.container {
	margin-top: 20px;
}

.scrollable::-webkit-scrollbar {
	display: none;
}

.scrollable {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	background: rgb(23, 23, 23);
}

.horizontal-movie {
	margin: 0 5px;
}

.vertical-movie {
	margin: 0 5px;
}

.latest-releases {
	padding: 0px 15px 0px 0px;
}

.latest-releases__title,
.free-best-selection__title,
.gender-container__title {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
	color: white;
	margin-left: 10px;
}

.gender-container {
	margin-bottom: 30px;
}

.gender__title {
	display: flex;
	justify-content: center;
	margin-left: 0px;
	font-weight: 300;
	font-size: 14px;
	color: white;
	margin-left: 10px;
	text-align: center;
}

.gender__icon {
	width: 95px;
	height: 95px;
	background-position: center center;
	background-size: 115%;
	border-radius: 50%;
}

.all-genders__icon {
	background-image: url(rakuten-image/mainpage/all-cb781ac8669959b586ff362be895a182d31a7f5865c80b3a2870da8d1d338a09.png);
}

.action__icon {
	background-image: url(rakuten-image/mainpage/action-1591342700.png);
}

.animation__icon {
	background-image: url(rakuten-image/mainpage/animation-1591342706.png);
}

.adventures__icon {
	background-image: url(rakuten-image/mainpage/adventure-1591342698.png);
}

.classics__icon {
	background-image: url(rakuten-image/mainpage/animation-1591342706.png);
}

.sci-fi__icon {
	background-image: url(rakuten-image/mainpage/science-fiction-1591342715.png);
}

.comedy__icon {
	background-image: url(rakuten-image/mainpage/comedy-1591342725.png);
}

.disney__icon {
	background-image: url(rakuten-image/mainpage/disney-1591342735.png);
}

.western__icon {
	background-image: url(rakuten-image/mainpage/western-1591342759.png);
}

footer {
	background-color: rgb(13, 13, 13);
	padding: 35px 55px;
	text-align: center;
}

.footer__footer-logo {
	display: flex;
	justify-content: center;
	margin: 0 auto 20px;
	width: 122px;
}

.footer-logo__image {
	width: 122px;
}

.footer__links {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.footer-links__link {
	margin-left: 15px;
	padding: 3px 0;
	color: #ccc;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

.footer-copyright__text {
	margin-top: 10px;
	color: #737373;
	margin-left: 0;
	font-size: 14px;
}
