.hero-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  .hero-item {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
  }
}
