:root {
	--button-height: 60px;
}

body {
	background-color: black;
	* {
		margin: 0;
		padding: 0;
		font-family: Roboto;
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 95vw;
		height: 95vh;
		margin: 20px;
		color: white;
	}

	h1 {
		margin: 20px 0px;
		color: #1db954;
	}
}

.flex-spacer1 {
	flex: 1;
}

.flex-spacer2 {
	flex: 2;
}

.flex-spacer4 {
	flex: 4;
}

.horizontal-container {
	display: flex;
}

.vertical-container {
	display: flex;
	flex-direction: column;
}

#random-artist-image {
	height: 160px;
	margin: 15px 0px;
}

.button-answer {
	height: var(--button-height);
	width: 250px;
	padding: 3px 12px;
	font-size: 15px;
	border-radius: calc(var(--button-height) / 2);
	color: white;
	background-color: #1db954;
	margin: 20px;
	text-transform: uppercase;
	font-weight: 600;
}

#is-correct {
	margin-top: 15px;
	height: 23px;
}

#timer {
	font-size: 30px;
	height: 37px;
}
