<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skykab Coder Academy</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <header class="jumbotron">
        <div class="container">
            <h1>Heroes API</h1>
        </div>
        <div>
            <input type="button" value="DASHBOARD" class="btn btn-primary">
            <input type="button" value="LIST" class="btn btn-primary">
            <input type="button" value="DETAIL" class="btn btn-primary">
        </div>
    </header>
    <main class="container">
        <h2>Heroe Detail</h2> 
       <p><%= hero.id%></p>
       <p><%= hero.name%></p>
    </main>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>