<section class='list__card-container'>
  <div *ngFor="let pet of pets$ | async" class='list__section'>
    <a class='card__list'
    routerLink="/detail/{{pet._id}}"
    >
      <mat-card class='list__card'>
        <img mat-card-image class='photo__card--list' src='{{pet.photo}}' alt=''/>
        <mat-card-content>
          <mat-card-title class='title__card--list'>{{pet.name}}</mat-card-title>
          <div class='description__card--list'>
            <div class='description__card--age'>{{pet.age}}</div>
            <div>{{pet.type}}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</section>
