body{
    background-color: #D3D4D9;
}

.userName{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #252627;
    background-color: #4B88A2;
    border: none;
    color: #D3D4D9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    border-radius: 5px;

}
.userName:hover{
    background-color: #BB0A21;
    cursor: pointer;

}
.user_wrapper{
    margin: 30px
}

.list-wrapper{
    margin:40px;
    border: solid 1px rgba(1, 1, 1, 0);
    background-color: rgba(122, 199, 79, 0.3);
    border-radius: 20px;
    width: 30%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75);
}

.users_title{
    font-family: 'Fredoka One', cursive;
    color: #252627;
    font-size: 50px;
    margin-left: 60px;
}
section{
    display: flex;
    flex-direction: row;
}

.form-wrapper{
    margin:40px;
    border: solid 1px rgba(1, 1, 1, 0);
    background-color: rgba(122, 199, 79, 0.3);
    border-radius: 20px;
    width: 30%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -11px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.input{
    padding: 10px 32px;
    margin:40px 10px 10px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
}
button{
    background-color:#BB0A21 ;
    border: none;
    color: #D3D4D9;
    padding: 15px 32px;
    width: 50%;
    border-radius: 5px;
    margin-top: 100px;
    font-size: 26px;
}
button:hover{
    background-color:#f03951 ;
    cursor: pointer;
}
