header {
	margin: 40px;
}

#title {
	color: rgb(107, 106, 106);
}

#nav {
	display: flex;
}

.nav__buttons {
	background-color: rgb(214, 214, 214);
	border: none;
	font-size: 20px;
	padding: 6px;
	border-radius: 4px;
	margin: 5px;
}

.nav__buttons:hover {
	color: rgb(0, 153, 255);
}
