* {
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: x-large;
	background-color: #ebebeb;
}

.container {
	background-color: #ffffff;
	margin: 5% 2%;
	height: 80%;
	width: 80%;
	border: 1px solid #8a8d8f;
	box-shadow: 0px 1px #8a8d8f;
	border-radius: 5px;
	padding: 2%;
}

.title {
	color: #b3b3b3;
	margin-bottom: 2%;
}

.options {
	display: flex;
	flex-direction: row;
	color: #688493;
	margin-bottom: 2%;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}

#option-dashboard > a {
	margin-right: 20%;
	color: #33aae9;
}

#option-heroes > a {
	margin-left: 20%;
	color: #7f97a3;
}

.subtitle {
	text-align: center;
	margin-bottom: 2%;
	color: #929292;
}

.boxes-topHeroes {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.btn-topHeroe {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	height: 15vw;
	width: 15vw;
	background-color: #5f7d8c;
	color: #ededed;
	cursor: pointer;
	font-size: large;
}

.boxes-topHeroes > a {
	margin: 3%;
	font-weight: bold;
}
