<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
</head>
<body>
    <div id="pokemon_list"></div>
    <script src="../store.js"></script>
    
    <script>
        store.loadPokedex().then(() => {
            const pokedex = store.getPokemons();
            const pokemonListElement = document.getElementById('pokemon_list');
            const createUl = document.createElement('ul')
            pokemonListElement.appendChild(createUl)
            pokedex.forEach(pokemon => {
                const liElement = document.createElement('li');
                const anchoreElement = document.createElement('a');
                anchoreElement.setAttribute('href', `./detail.html?pokemonName=${pokemon.name}`);
                anchoreElement.innerText = pokemon.name;
                createUl.appendChild(liElement);
                liElement.appendChild(anchoreElement);
            });
             
        });
    </script>
    
</body>
</html>