body {
    line-height: 1;
    color: #fff;
    font-family: NotoSans-Regular, Arial, sans-serif;
    background-color: #101010;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.nav__mobile {
    display: none;
}

@media screen and (max-width: 1024px) {


    h2 {
        font-size: 10px;
        font-family: NotoSans-Bold, Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: #999;
        margin: 0;
        padding: 0;
    }

    span {
        color: #999;
    }

    .nav__mobile {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 56px;
        background-color: black;
        border-top: 1px solid rgba(255, 255, 255, .2);
        box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .5);
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .nav__mobile__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        cursor: pointer;
    }

    .nav__mobile__menu:hover span {
        color: yellow;
    }

    .nav__mobile__menu:hover h2 {
        color: yellow;
    }

    .nav__mobile__menu__title {
        padding-top: 5px;
    }

}