* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: NotoSans-Regular, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	line-height: 1;
	color: #fff;
	background-color: #101010;
	overflow-x: hidden;
}

.header {
	background-color: black;
	border: solid;
}

.nav__mobile {
	display: none;
}

.desktopNav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: auto;
	background: #000;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	width: 100%;
	z-index: 200;
	display: flex;
}

.navMenu {
	color: white;
	padding: 22px 0;
	text-align: center;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
}

.useritems {
	color: white;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-weight: bold;
}

.main__navmenu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: space-around;
	min-width: 460px;
	max-width: 30%;
	max-height: 60px;
}

.dropdown::after {
	display: inline-block;
	content: '▼';
	position: relative;
	bottom: 1px;
	margin-left: 4px;
	font-size: 10px;
	cursor: pointer;
}

.useritems button {
	font-size: 14px;
	color: #252525;
	background-color: #ffe300;
	border: 2px solid transparent;
	border-radius: 2px;
	opacity: 1;
	font-weight: bold;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto 20px;
	cursor: pointer;
}

.useritems div {
	cursor: pointer;
}

.useritems button a {
	padding-left: 5px;
	padding-right: 5px;
}

.searchbox {
	display: flex;
	align-content: center;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-align: left;
	outline: 0;
	min-width: 20%;
}

.searchbox::before {
	color: #999;
	font-size: 24px;
	position: absolute;
	top: calc(50% - 12px);
}

.rakutenLogo {
	margin: auto 0;
}

.searchbox input {
	height: 40px;
	background-color: #333;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	color: #ccc;
	font-size: 16px;
	border: none;
	transition: background-color 0.1s ease;
	margin: auto;
}

.searchicon {
	height: 40px;
	background-color: #333;
	border-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ccc;
	font-size: 16px;
	border: none;
	transition: background-color 0.1s ease;
	margin: auto;
}

.navMenu:hover {
	color: #ffe300;
}

.useritems div:hover {
	color: #ffe300;
}

.dropdown-content {
	display: none;
}

.dropdown:hover .dropdown-content {
	display: flex;
	background-color: black;
	color: white;
	position: absolute;
	padding-top: 4px;
	left: 1;
	top: 100%;
	z-index: 9999;
	height: 50px;
	width: 180px;
	flex-direction: column;
	margin: auto;
}

.dropdown-content a {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 10px;
	font-weight: normal;
}

.slide {
	display: flex;
	flex-direction: row;
	position: relative;
}

.slide__aside {
	position: absolute;
}

.slide__image {
	max-width: 100%;
	padding-top: 53px;
	cursor: pointer;
}

.slide__dots {
	display: flex !important;
	position: absolute;
	right: 0;
	top: 90%;
	left: 0;
	-webkit-justify-content: center;
	justify-content: center;
	list-style: none;
}

.slide__dots li {
	z-index: 1;
	position: relative;
	display: inline-block;
	margin: 0 5px;
	padding: 0;
	width: 7px;
	height: 7px;
}

.slide__dots li::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	border-radius: 50%;
	opacity: 0.25;
	transition: opacity 0.1s ease;
	will-change: opacity;
}

.slide__dots--active {
	color: white;
	background-color: white;
	border-radius: 50%;
}

.mySlides {
	display: none;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: white;
}

.aside-left {
	bottom: 35%;
	margin: auto;
	width: 100px;
}

.aside-left span {
	font-size: 50px;
}

.aside-right {
	bottom: 35%;
	right: 0%;
	margin: auto;
	width: 40px;
}

.aside-right span {
	font-size: 50px;
}

.free-content {
	overflow: hidden;
}

.free-content__box {
	display: flex;
}

.free-content__image {
	margin: 5px;
}

.free-content__image img {
	width: 100%;
	border-radius: 2px;
}

.free-content__image:first-child {
	margin-left: 15px;
}

.free-content__image:last-child {
	margin-right: 15px;
}

.footer-info {
	text-align: center;
	padding: 25px;
	background-color: #212121;
}

.footer-info__text h1 {
	font-size: 22px;
	margin-top: 15px;
}

.footer-info__text p {
	text-align: center;
	margin: 10px auto 20px;
	line-height: 160%;
	width: 50%;
	color: #ccc;
	font-size: 14px;
}

.footer-info__icons {
	display: flex;
	justify-content: center;
}

.footer-info__box {
	display: flex;
	flex-direction: column;
	padding: 30px 15px 25px;
	width: 30%;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 180px 90px;
	cursor: pointer;
}

.footer-info__box--title {
	color: #fff;
	font-size: 22px;
	padding: 10px;
}

.footer-info__box--text {
	margin-top: 10px;
	color: #ccc;
	font-family: NotoSans-Regular, Arial, sans-serif;
	font-size: 14px;
	line-height: 160%;
}

.footer__mini {
	padding: 35px 55px;
	background-color: #0d0d0d;
}

.footer__mini__flex {
	display: flex;
	justify-content: flex-start;
}

.footer__mini__logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
}

.footer__mini__logo img {
	width: 15%;
}

.footer__mini__logo a {
	margin-left: 15px;
	padding: 3px 0;
	color: #ccc;
	font-size: 14px;
	text-decoration: none;
	transition: color 0.1s ease;
	will-change: color;
	cursor: pointer;
}

.footer__mini__copy {
	margin-top: 5px;
	margin-left: 0;
	font-size: 14px;
	color: #737373;
	text-transform: initial;
}

/* ============================================ */

@media screen and (max-width: 1024px) {
	.header {
		display: none;
	}

	h2 {
		font-size: 10px;
		font-family: NotoSans-Bold, Arial, sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		color: #999;
		margin: 0;
		padding: 0;
	}

	span {
		color: #999;
	}

	.nav__mobile {
		display: flex;
		justify-content: space-around;
		width: 100%;
		height: 56px;
		background-color: black;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.5);
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
	}

	.nav__mobile__menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 20%;
		cursor: pointer;
	}

	.nav__mobile__menu:hover span {
		color: yellow;
	}

	.nav__mobile__menu:hover h2 {
		color: yellow;
	}

	.nav__mobile__menu__title {
		padding-top: 5px;
	}

	.slide__image {
		padding-top: 0;
	}

	.free-content__image {
		min-width: 22%;
	}

	.free-content__image img {
		max-width: 100%;
		width: auto;
	}

	.free-content__image:last-child {
		margin-right: auto;
	}

	.footer-info {
		display: none;
	}

	.footer__mini__flex {
		flex-direction: column;
	}

	.footer__mini__logo {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.footer__mini__links {
		display: flex;
		flex-direction: row;
	}

	.footer__mini__copy {
		display: flex;
		justify-content: center;
	}

	.footer__mini {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.footer__mini__logo img {
		margin-bottom: 15px;
	}
}
