/* <div tabindex="0" class="arrow-container left-arrow-container"> */

.left-arrow-container:focus ~ .scrollable-list {
  transform: translateX(calc(var(--translation-position) + 83.1936%));
  --translation-position: calc(var(--translation-position) + 83.1936%);
}
.right-arrow-container:focus ~ .scrollable-list {
  transform: translateX(calc(-83.1936%));
  --translation-position: calc(var(--translation-position) - 83.1936%);
}
