<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyLab</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron">
    <h1 style="color: rgb(66, 63, 63);" >SkyLab</h1>
    <nav style="display: flex; flex-direction: row;">
    <a href="/bethany" class="btn btn-secondary"><h2 style="color: white; outline: none">Bethany</h2> </a>
    <h2 style="margin-right: 20px; margin-left: 20px; color: rgb(85, 80, 80);">|</h2>
    <a href="/rakuten" class="btn btn-secondary"><h2 style="color: white; outline: none">Rakuten</h2></a>
</nav>
</div>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>