<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <img class="pokemon-title" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png" alt="Pokemon title">
    </header>
    <main>
        <h2 id="poke-ability-name"></h2>
    </main>
    <script src="../../store/store.js"></script>
    <script>
        const store = new Store();
        store.loadPokemons().then(() => {
            const params = new URLSearchParams(location.search.substring(1));
            const abilityName = params.get('abilityName');
            store.loadPokeAbilityByName(abilityName).then(() => {
                console.log(getPokeAbility());
            })
        })
    //     const store = new Store();
    //     store.loadPokemons().then(() => {
    //         const params = new URLSearchParams(location.search.substring(1));
    //         const getId = params.get('pokeId');
    //         store.getPokemonById(getId).then(() => {
    //         const abilityComponent = new AbilityComponent(_pokemons);
    //         const pokemonList = document.getElementById('pokemon-list');
    //         listComponent.updateHtmlPokemonList(pokemonList);
    // 
    </script>
</body>
</html>