<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <img class="pokemon-title" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png" alt="Pokemon title">
    </header>
    <main>
        <h2 id="poke-ability-name"></h2>
        <div>
            <p id="ability-explanation"></p>
        </div>
    </main>
    <script src="../../store/store.js"></script>
    <script src="ability-detail.js"></script>
    <script>
        const store = new Store();
        store.loadPokemons().then(() => {
            const params = new URLSearchParams(location.search.substring(1));
            const abilityName = params.get('abilityName');
            store.loadPokeAbilityByName(abilityName).then(() => {
                const ability = store.getPokeAbility();
                const abilityComponent = new AbilityComponent(ability);

                const abilityName = document.getElementById('poke-ability-name');
                abilityComponent.updateHtmlElement(abilityName, ability.name);
                
                const abilityExplanation = document.getElementById('ability-explanation');
                abilityComponent.updateHtmlElement(abilityExplanation, ability.effect_entries[1].effect);
            })
        })
    </script>
</body>
</html>