<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Detail</title>
	</head>
	<body>
		<header class="main__header">
			<h1>Triviafy!</h1>
		</header>
		<section class="section__image">
			<img
				id="artist__image"
				src="https://i.scdn.co/image/ab67616d00001e022277d1a849a63c7075ec38ff"
				alt=""
			/>
		</section>
		<section class="artist" id="artist">Artist Name</section>
		<section class="section__butons">
			<button class="butons__answer" id="butons_answer1">answer1</button>
			<button class="butons__answer" id="butons_answer2">answer2</button>
			<button class="butons__answer" id="butons_answer3">answer3</button>
			<button class="butons__answer" id="butons_answer4">answer4</button>
		</section>
		<section class="section__timer"><div id="timer">time: 10</div></section>
		<script src="../../store.js"></script>
		<script src="detail.js"></script>
	</body>
</html>
