<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Detail</title>
	</head>
	<body>
		<header class="main__header">
			<h1>Triviafy!</h1>
		</header>
		<section class="section__image">
			<img
				id="artist__image"
				src="https://i.scdn.co/image/ab67616d00001e022277d1a849a63c7075ec38ff"
				alt=""
			/>
		</section>
		<section class="artist" id="artist">Artist Name</section>
		<section class="section__butons">
			<button class="butons__answer" id="butons_answer1">answer1</button>
			<button class="butons__answer" id="butons_answer2">answer2</button>
			<button class="butons__answer" id="butons_answer3">answer3</button>
			<button class="butons__answer" id="butons_answer4">answer4</button>
		</section>
		<audio id="audioBox" controls autoplay>
			<source
				src="https://p.scdn.co/mp3-preview/0a88f3e6d8e5dfe20807b9a4ee1cf1f30fa871d2?cid=522f6a81070e477d87135a0c669e9bd5"
				type="audio/mpeg"
			/>
			lol
		</audio>
		<section class="section__timer">
			<div id="correct-answer"></div>
			<div id="timer">time: 10</div>
			<button id="play-again" onClick="window.location.reload();">
				Play again!
			</button>
		</section>
		<script src="../../store.js"></script>
		<script src="detail.js"></script>
	</body>
</html>
