div{
    color: blue;
}
li + li{
    font-style: italic;
}
#morespecific{
    background-color: red;
    border: 3px solid black;
}

.specific{
    background-color: green;
    border: none !important;
}
p{
    background-color: blue;
    color: white;
    padding: 15px;
}
.one, .two, .three{
    font-size: 40px;
    color: green;
}


@media screen and (min-width : 600px) and (max-width : 1023px){
    .specific{
        background-color: brown ;
        font-size: 20px;
    }
}
@media screen and (min-width : 1024px) and (max-width : 1439px){
    .specific{
        background-color: black ;
        font-size: 40px;
    }
}
@media screen and (min-width : 1440px){
    .specific{
        background-color: yellow ;
        font-size: 60px;
    }
}

