body {
    background-color: #EBEBEB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

.aside {
    background-color: #FFFFFF;
    width: 200px;
    height: 100%;
    margin: 50px auto;
    padding: 15px 20px;
    padding-bottom: 0;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 1px 2px #888888;
}

h2 {
    color: grey;
    margin: 0;
    padding: 0;
}

a,
a:visited {
    text-decoration: none;
}

.my-pokemon {
    color: #3E3E3E;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.aside__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside__header__nav {
    display: flex;
}

.aside__button {
    margin: 10px 0;
    width: 90px;
    height: 25px;
    background-color: #EEEEEE;
    color: #577787;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.aside__button:hover {
    background-color: #cdcccc;
    cursor: pointer;
}

.pokemon-button {
    color: #329CE8;
    font-weight: 600;
}

.aside__topPokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    height: 100%;
}

.aside__topPokemon__blocks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 30px 0;
    justify-content: space-around;
    align-items: center;
}

.topPokemon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.topPokemon-block__position {
    color: white;
    background-color: #5F7D8C;
    width: 30px;
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPokemon-block__name {
    background-color: #EEEEEE;
    color: #818181;
    height: 35px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: capitalize;
}

.topPokemon-block__name:hover {
    background-color: #cdcccc;
    cursor: pointer;
}