body {
    background-color: #EBEBEB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.pokemon-detail {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
    height: auto;
    margin: 50px auto;
    padding: 15px 20px;
    padding-bottom: 0;
    background-color: #FFFFFF;
    box-shadow: 4px 4px #888888;
    border-radius: 15px;
    font-size: 16px;
}

#pokemon-abilities {
    display: none;
}

h2 {
    color: grey;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.pokemon-detail__header {
    display: flex;
    flex-direction: column;
}

.pokemon-detail__header__nav {
    display: flex;
}

.pokemon-detail__button {
    margin: 10px 0;
    width: 100px;
    height: 25px;
    background-color: #EEEEEE;
    color: #577787;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.pokemon-detail__button:hover {
    background-color: #cdcccc;
    cursor: pointer;
}

.pokemon-detail__topHeroes {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.pokemon-detail-title {
    color: #3A3A3A;
    text-align: center;
}

.pokemon__detail__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
    width: auto;
    height: auto;
}

.pokemon-detail__info__block {
    display: flex;
    padding: 10px 0;
    padding: 5px 7px;
    text-transform: capitalize;
    height: auto;
}


.pokemon-properties {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 10px;
    width: auto;
    color: #597888;
    font-weight: 800;
    font-size: 25px;
    text-transform: capitalize;
}


.pokemon-detail__info__block__property-name {
    padding: 0 10px;
    width: auto;
    color: #597888;
    font-weight: 600;
    font-size: 20px;
}

.pokemon-detail__info__block__property-group {
    padding: 15px 0;
    padding-bottom: 10px;
    width: 50px;
    color: #597888;
    font-weight: 600;
    font-size: 20px;
}

#pokemon-detail-sprites {
    width: 200px;
    height: 200px;
}

.pokemon-detail__info__block__group {
    padding: 5px 0;
}

.pokemon-detail__info__block__property-value {
    color: #848484;
    font-weight: 400;
    font-size: 20px;
}

.pokemon-ability {
    cursor: pointer;
}

.back-button {
    margin: 10px 0;
    width: 60px;
    height: 25px;
    background-color: #EEEEEE;
    color: #979797;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #cdcccc;
    color: white;
    cursor: pointer;
}