<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../styles/style.css" />
		<title>Pokemons!</title>
	</head>
	<body>
		<section class="pokemonNav">
			<button>DashBoard</button>
			<button>Pokemon Detail</button>
		</section>
		<section class="pokemonList__block">
			<h1 class="pokemonList__title">Pokemon List</h1>
			<div class="pokemonList__wrapper">
				<button class="previous pageBtn">previous</button>
				<ul class="pokemonList__items"></ul>
				<button class="next pageBtn">Next</button>
			</div>
		</section>
	</body>
	<script src="../../utils/getUrlParam.js"></script>
	<script src="../../app/store.js"></script>
	<script src="./list-component.js"></script>
</html>
