header {
	background: rgb(229, 226, 226);
	padding: 40px 30px 50px;
}

.quiz-title {
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-size: 35px;
}

.instructions {
	color: rgb(97, 96, 96);
}
