<main>
  <h2>Versus Weapon Menu EPWHammer</h2>
  <div class="button_cont" ><a class="example_f" href="/versusCustomInsertUnit"><span>Confirm</span></a></div>
  <div class="button_cont" ><a class="example_f" href="/versusCustomInsertUnit"><span>Back</span></a></div>
</main>
<footer id="HomeFooter">
  <div id="mainFooter">
      <div id="footerText">
          <p>About</p>
          <p>Contact</p>
      </div>
      <div id="footerText">
          <p>Basic Rules</p>
          <p>Features</p>
      </div>
      <div id="footerText">
          <p>News</p>
          <p>Patches</p>
      </div>
  </div>
  <br>
  <sub>You can go back to home if you click the logo</sub>
  <p></p>
  </footer>