<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Maria Lunarillos</title>
		<link rel="stylesheet" href="/css/lunarillos_style.css" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
	<body>
		<nav>
			<a href="/lunarillos">Lunarillos</a>
			<a href="/rakuten">Rakuten</a>
		</nav>


		<div class="header">
			<div class="menu__button">
				<div class="menu__lines"></div>
				<div class="menu__lines"></div>
				<div class="menu__lines"></div>
			</div>
			<div class="sign-in">
				<span class="material-icons"> person_add </span>
			</div>
			<div class="shop-search">
				<div id="search"><span class="material-icons"> search </span></div>
				<div id="shopping-cart">
					<span class="material-icons"> shopping_cart </span>
				</div>
				<div id="number0">
					<span class="material-icons"> exposure_zero </span>
				</div>
			</div>
		</div>
		<section>
			<div class="header-logo">
				<img class="logo" src="logo1.jpeg" />
			</div>
		</section>
		<section>
			<div class="section-top-image">
				<img class="top-image" src="image1.jpeg" />
			</div>
		</section>
		<section>
			<div class="white-spot"></div>
		</section>
		<div class="main">
			<div class="utensilios">
				<div>
					<img
						class="utensilios-logo"
						src="MariaLunarillosMedia/utensiliosML.png"
					/>
				</div>
				<div class="title">
					<div class="line line1"></div>
					<p>UTENSILIOS</p>
					<div class="line line2"></div>
				</div>
			</div>
			<div class="main-images-utensilios">
				<img
					class="main-image1-utensilios"
					src="images/722853a.jpg"
				/>
				<img
					class="main-image2-utensilios"
					src="images/kjnasda.jpg"
				/>
				<img
					class="main-image3-utensilios"
					src="MariaLunarillosMedia/pequenoelectrodomestico2.jpg"
				/>
				<img
					class="main-image4-utensilios"
					src="MariaLunarillosMedia/capsulas-cupcakes.jpg"
				/>
				<img
					class="main-image5-utensilios"
					src="MariaLunarillosMedia/cajas3.jpg"
				/>
				<img
					class="main-image6-utensilios"
					src="MariaLunarillosMedia/cortadoresgalletas2.jpg"
				/>
				<img
					class="main-image7-utensilios"
					src="MariaLunarillosMedia/stands.jpg"
				/>
				<img
					class="main-image8-utensilios"
					src="MariaLunarillosMedia/banetones.jpg"
				/>
				<img
					class="main-image9-utensilios"
					src="MariaLunarillosMedia/toppers3.jpg"
				/>
				<div class="ver-mas-div"><p class="ver-mas">VER MÁS</p></div>
			</div>
			<section>
				<div class="white-spot"></div>
			</section>
			<div class="ingredientes">
				<div class="magdalena-ingredientes">
					<img
						class="ingredientes-logo"
						src="MariaLunarillosMedia/magdalena.png"
					/>
					<div class="title">
						<div class="line line1"></div>
						<p>INGREDIENTES</p>
						<div class="line line2"></div>
					</div>
				</div>

				<div class="main-images-ingredientes">
					<img
						class="main-image1-ingredientes"
						src="MariaLunarillosMedia/fondant2.jpg"
					/>
					<img
						class="main-image2-ingredientes"
						src="MariaLunarillosMedia/ingredientesreposteria.jpg"
					/>
					<img
						class="main-image3-ingredientes"
						src="MariaLunarillosMedia/impresionpersonalizada.jpg"
					/>
					<img
						class="main-image4-ingredientes"
						src="MariaLunarillosMedia/Colorantes-alimentarios.jpg"
					/>
					<img
						class="main-image5-ingredientes"
						src="MariaLunarillosMedia/papelcomestible.jpg"
					/>
					<img
						class="main-image6-ingredientes"
						src="MariaLunarillosMedia/sprinkles3.jpg"
					/>
					<div class="ver-mas-div"><p class="ver-mas">VER MÁS</p></div>
				</div>
			</div>
			<section>
				<div class="white-spot"></div>
			</section>
			<div class="fiestas">
				<div class="tarta-fiestas">
					<img
						class="fiestas-logo"
						src="MariaLunarillosMedia/tarta-cumpleanos.png"
					/>
					<div class="title">
						<div class="line line1"></div>
						<p>FIESTAS</p>
						<div class="line line2"></div>
					</div>
				</div>

				<div class="main-images-fiestas">
					<img
						class="main-image1-fiestas"
						src="MariaLunarillosMedia/fiestastematicas.jpg"
					/>
					<img
						class="main-image2-fiestas"
						src="MariaLunarillosMedia/fiestaspersonajes.jpg"
					/>
					<img
						class="main-image3-fiestas"
						src="MariaLunarillosMedia/pompones.jpg"
					/>
					<div class="ver-mas-div"><p class="ver-mas">VER MÁS</p></div>
				</div>
			</div>
			<section>
				<div class="white-spot"></div>
			</section>
			<div class="blog">
				<div class="balon-blog">
					<img class="blog-logo" src="MariaLunarillosMedia/blog.svg" />
					<div class="title">
						<div class="line line1"></div>
						<p>BLOG</p>
						<div class="line line2"></div>
					</div>
					<div class="ultimas-entradas-div">
						<p class="ver-mas">ULTIMAS ENTRADAS EN EL BLOG</p>
					</div>
					<div>
						<div class="ultimas-entradas-container">
							<div class="ultimas-entradas">
								<img
									class="ultimas-entradas-image"
									src="MariaLunarillosMedia/receta-tarta-lima-albahaca-1.jpg"
								/>
							</div>
							<div class="autor">
								<p class="tarta-de-lima">TARTA DE LIMA Y ALBAHACA</p>
								<div class="raul">
									<img src="MariaLunarillosMedia/17.thumbnail.jpg" />
									<div id="raul-texto">
										<p>por<br />Raul</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="info__icons">
				<div class="shipping__orders">
					<div class="shipping">
						<img class="info__icons-images" src="MariaLunarillosMedia/local_shipping-black-48dp.svg">
						<h5 class="info__icons-title">ENVÍO GRATIS</h5>
						<p class="info__icons-text">PEDIDOS SUPERIORES A 70€</p>
					</div>
					<div class="orders">
						<img class="info__icons-images" src="MariaLunarillosMedia/schedule-black-48dp.svg">
						<h5 class="info__icons-title">ENVÍO 24-48 HORAS</h5>
						<p class="info__icons-text">HAZ TU PEDIDO ANTES DE LAS 18:00H</p>
					</div>
				</div>
				<div class="devolutions__credit">
					<div class="devolutions">
						<img class="info__icons-images" src="MariaLunarillosMedia/mail_outline-black-48dp.svg">
						<h5 class="info__icons-title">DEVOLUCIONES</h5>
						<p class="info__icons-text">30 DÍAS PARA DEVOLVER TU COMPRA</p>
					</div>
					<div class="credit">
						<img class="info__icons-images" src="MariaLunarillosMedia/credit_card-black-48dp.svg">
						<h5 class="info__icons-title">CONTRA REEMBOLSO</h5>
						<p class="info__icons-text">SIN COMISIÓN</p>
					</div>
				</div>
			</div>
			<div class="footer__contact">
				<div class="footer__contact-wrapper">
					<div class="social-network">
						<h3 class="social-network-title">SÍGUENOS</h3>
						<div class="social-network-icons-wrapper">
							<img class="social-network-icons" src="MariaLunarillosMedia/facebook-f-brands (1).svg">
							<img class="social-network-icons" src="MariaLunarillosMedia/twitter-brands (1).svg">
							<img class="social-network-icons" src="MariaLunarillosMedia/instagram-brands.svg">
							<img class="social-network-icons" src="MariaLunarillosMedia/pinterest-p-brands (1).svg">
							<img class="social-network-icons" src="MariaLunarillosMedia/youtube-brands.svg">
						</div>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>
