body{
    background-color: rgb(189, 188, 188);
}

.project-item{
    background-color: white;
    margin-top:2em;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
}

.project-btn{
    margin: 5px;
    width: 100px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1%;
}

.project-btn:hover{
    background-color: darkred;
}