<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= heroFound.name%> <%= heroFound.id %> </h1>
    <div class="card" style="width: 18rem;">
        <img src="<%= heroFound.images.md %>" class="card-img-top" />
        <div class="card-body">
          <p class="card-text"> Some quick example text to build on the card title and make up the bulk of the card's content</p>
        </div>
    </div>
</body>
</html>