.description {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 50px;
}

.description__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #f1f1f1;
}

.social__button {
    margin-right: 3px;
    margin-left: 3px;
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 100%;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

.social__button {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

.social__button:hover {
    color: grey
}

.social__button:active {
    color: white;
    background-color: black;
}

.desktop__text {
    display: none;
}

.description__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px 15px;
    width: auto;
    border: 1px solid #dfdfdf;
}

.body__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.title__details {
    display: flex;
    align-items: center;
}

.details__text {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
    color: #252525;
}

.title__details > .material-icons {
    padding-bottom: 6px;
    padding-right: 4px;
}

.body__text {
    color: #252525;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 30px;
}

.bodylang__title {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.title__lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-top: 5px;
}

.title__actors {
    display: flex;
    flex-direction: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.MultiCarousel-inner .MultiCarousel {
    position: relative;
    overflow: hidden;
}

#item__denis {
    width: 100px;
}

#item__manuela {
    width: 100px;
}

#item__maggie {
    width: 100px;
}
#item__emma {
    width: 100px;
}
#item__alain {
    width: 100px;
}
#item__claudia {
    width: 100px;
}
#item__david {
    width: 100px;
}
#item__marta {
    width: 100px;
}

.lang__sound {
    margin-right: 15px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
    color: #252525;
}

.lang__text {
    margin-right: 15px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #a6a6a6
}

.title__score-gender {
    display: flex;
    flex-direction: row;
}

.score-gender__score {
    display: flex;
    flex-direction: column;
}

.score__pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 40px;
}

.score__round {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 50px;
    width: 80px;
    height: 80px;
    color: #252525;
    background-color: #d9d9d9;
    border-radius: 50%;
    transition: color .1s ease;
}

.round__content {
    background-color: #ffe300;
    clip: rect(0,40px,80px,0); 
}

.box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.box .percent {
    position: relative;
    width: 100px;
    height: 100px;
}

.box .percent svg {
    position: relative;
    width: 100px;
    height: 100px;
}

.box .percent svg circle {
    width: 100px;
    height: 100px;
    fill: none;
    stroke-width: 7;
    stroke: #ffe300;
    transform: translate(5px,5px);
    stroke-dasharray: 130;
    stroke-dashoffset: 85;
}

.box .percent svg circle:nth-child(1) {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke: #d9d9d9;
}

.box .percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .percent .number span {
    color: #252525;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2px;
}

.box > span {
    font-size: 12px;
}

.score-gender__score {
    display: flex;
    flex-direction: column;
}

.details__mask {
    width: 10%;
    padding-right: 5px;
}

.gender__terror {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 95px;
    height: 95px;
    background-color: #d9d9d9;
    background-size: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 7px white;
}

.gender__terror img {
    position: relative;
    width: 100%;
}

.gender__terror > span {
    font-size: 12px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

@media screen and (min-width: 909px) {
    .description {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 20px;
        background-color: #f1f1f1;
    }

    .description__social {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .social__button {
        margin-left: 30px;
        margin-bottom: 7px;
    }

    .desktop-option {
        display: flex;
        align-items: center;
    }

    .desktop__text {
        display: block;
        padding-left: 10px;
    }

    .description__body {
        flex: 2.25;
        background-color: white;
    }
}