* {
	box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.title__body {
	display: none;
}

/* Hide the images by default */
.mySlides {
	display: none;
}
#Titulos {
	color: white;
}
/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	background-color: transparent;
	border: none;
	top: 40%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-size: 45px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	outline: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color:none;
	color: white;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 5px;
	width: 5px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
#filas {
	margin-left: 1%;
	margin-right: 10%;
}
.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 5s;
	animation-name: fade;
	animation-duration: 5s;
}
.item{
	max-width:80%;
}
#imagesVideo {
	max-width: 80%;
}
#imagesFilms {
	max-width: 80%;
}
.container:hover #imagesFilms {
	border-color: yellow;
}

@media screen and (min-width: 812px) {	
	.gender-scroll {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		overflow-x: auto;
		width: 100%;
	}
	.slideshow-container {
		max-width: 100%;
		position: relative;
		margin: auto;
	}
	#imagesVideo:hover{
		max-width: 100%;
		outline:2px solid yellow;
		outline-offset: 2px;
	}
	#imagesVideo {
		max-width: 100%;
	}
	#imagesFilms:hover{
		max-width: 100%;
		outline:2px solid yellow;
		outline-offset: 2px;
	}
	#imagesFilms {
		width: 100%;
	}
	#passButtonVideo {
		display: none;
	}
	#filas {
		margin-left: 1%;
		margin-right: 5%;
	}
}
@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
.item {
	margin-left: 2px;
	border-color: none;
}
.MultiCarousel {
	float: left;
	overflow: hidden;
	padding: 15px;
	width: 118%;
	position: relative;
}
.MultiCarousel .MultiCarousel-inner {
	transition: 1s ease all;
	float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
	float: left;
	text-align: center;
}
.MultiCarousel .MultiCarousel-inner .item > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	background: #f1f1f1;
	color: #666;
	
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
	position: absolute;
	border-radius: 50%;
	top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
	left: 0;
}
.MultiCarousel .rightLst {
	right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
	pointer-events: none;
	background: #ccc;
}

.btn .btn-primary .leftLst {
	color: grey;
	background-color: white;
}

.desktop-header {
	display: none;
}

.mini__rakuten-logo {
	position: absolute;
	left: 0;
	top: 1.1%;
	z-index: 900;
}

.mini__rakuten-logo img {
	width: auto;
	max-width: 150px;
	max-height: 50px;
	cursor: pointer;
}

.mini__search {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 900;
}

.mini__search img {
	width: auto;
	max-width: 25px;
	max-height: 40px;
	cursor: pointer;
	color: white;
}

.mobile-header {
	position: fixed;
	display: flex;
	justify-content: space-around;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: 50px;
	background-color: #000;
	box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	z-index: 1;
}

.mobile-header__page {
	display: inline-block;
	width: auto;
	padding: 0;
	margin: 0;
	max-width: 75px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/home1.jpeg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	cursor: pointer;
}

.mobile-header__page:hover {
	background-image: url('mobile-icon/home2.jpg');
}

.mobile-header__cinema {
	display: inline-block;
	width: auto;
	max-width: 75px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/cinema1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	cursor: pointer;
}

.mobile-header__cinema:hover {
	background-image: url('mobile-icon/cinema2.jpg');
}
.mobile-header__free {
	display: inline-block;
	width: auto;
	max-width: 75px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/free1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 72%;
	cursor: pointer;
}

.mobile-header__free:hover {
	background-image: url('mobile-icon/free2.jpg');
}
.mobile-header__subscription {
	display: inline-block;
	width: auto;
	max-width: 80px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/subscription1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 110%;
	cursor: pointer;
}

.mobile-header__subscription:hover {
	background-image: url('mobile-icon/subscription2.jpg');
}
.mobile-header__login {
	display: inline-block;
	width: auto;
	max-width: 75px;
	max-height: 50px;
	flex: 1;
	background-image: url('mobile-icon/login1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	cursor: pointer;
}

.mobile-header__login:hover {
	background-image: url('mobile-icon/login2.jpg');
}

.interstellar {
	padding: 15px;
}

.gender-text {
	font-family: 'Noto Sans', sans-serif;
	color: white;
	font-weight: 700;
	font-size: 20px;
	margin-top: px;
	padding-left: 25px;
}

.gender-scroll {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow-x: auto;
	width: 90%;
}

.gender-scroll::-webkit-scrollbar {
	display: none;
}

.gender-scroll__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: none;
	padding: 20px;
	cursor: pointer;
}

.gender-scroll__item p {
    color: #fff;
    font-size: 15px;
    padding-top: 2px;
}

.item__gender {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: 130%;
	background-position: center;
	background-color: transparent;
}

.footer-content__info {
	display: none;
	font-family: 'Noto Sans', sans-serif;
}

.footer-content__mobile {
	width: auto;
	height: auto;
	padding-right: 55px;
	padding-left: 55px;
	padding-top: 35px;
	padding-bottom: 75px;
	background-color: #0d0d0d;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}

.contact__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content__logo {
	width: 150px;
	height: 100px;
	background-image: url('mobile-icon/rktv-grey-eae681a197.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	cursor: pointer;
}

.content__company {
	display: flex;
	justify-content: center;
	cursor: pointer;
	flex-wrap: wrap;
	color: rgb(204, 204, 204);
	font-size-adjust: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

.content__company span {
	padding-left: 10px;
}

.content__company span:hover {
	color: white;
}

.content__info {
	padding-top: 10px;
	color: rgb(115, 115, 115);
	text-align: center;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

.desktop-header {
	display: none;
}

@media screen and (min-width: 1025px) {
	.mobile-header,
	.mini__rakuten-logo,
	.mini__search {
		display: none;
	}

	.desktop-header {
		position: fixed;
		display: flex;
		justify-content: space-around;
		align-items: center;
		top: 0;
		right: 0;
		left: 0;
		height: 60px;
		background: #000;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		font-family: 'Noto Sans', sans-serif;
	}

	.login__help {
		display: none;
	}

	.desktop-header__rakuten-logo img {
		max-width: 150px;
		max-height: 50px;
		cursor: pointer;
	}

	.desktop-header__menu-bar {
		display: flex;
		align-items: center;
		font-size: 14px;
		text-align: left;
		flex: 2.2;
		color: white;
		font-weight: 700;
	}

	.menu-bar {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		z-index: 1;
		background-color: black;
		min-width: 180px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	}

	.dropdown-content span {
		color: white;
		font-weight: 100;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.menu-bar:hover .dropdown-content {
		display: block;
	}

	.menu-bar__dropdown {
		background-color: black;
		color: white;
		border: 1px;
		outline: none;
		font-weight: 700;
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
	}

	.desktop-header__menu-bar span:hover,
	.desktop-header__menu-bar button:hover {
		color: #ffe300;
	}

	.desktop-header__menu-bar span {
		cursor: pointer;
		padding-right: 10px;
	}

	.desktop-header__search input {
		padding: 10px;
		font-size: 15px;
		height: 43px;
		font-family: 'Noto Sans', sans-serif;
		font-weight: 100;
		border: 1px solid #333;
		border-left: none;
		border-top-right-radius: 2%;
		border-bottom-right-radius: 2%;
		float: left;
		width: 200px;
	}

	.desktop-header__search button {
		float: left;
		width: 40px;
		height: 43px;
		color: grey;
		font-size: 18px;
		margin-right: -10px;
		outline: none;
		border: 1px solid #333;
		border-right: none;
		border-top-left-radius: 5%;
		border-bottom-left-radius: 5%;
		cursor: pointer;
	}

	.desktop-header__search button:hover {
		color:grey;
	}

	.desktop-header__search input,
	.desktop-header__search button {
		background-color: #333;
	}

	.search__input:focus {
		color: black;
		background-color: white;
		outline: none;
		border: 1px solid white;
		border-top-right-radius: 2%;
		border-bottom-right-radius: 2%;
	}

	.desktop-header__login {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.login__enter {
		color: white;
		font-weight: 700;
		font-size: 14px;
		padding-right: 20px;
		cursor: pointer;
	}

	.login__enter:hover {
		color: #ffe300;
	}

	.login__log {
		background-color: #ffe300;
		color: #252525;
		padding-right: 12px;
		padding-left: 12px;
		padding-top: 9px;
		padding-bottom: 9px;
		border-radius: 3%;
		font-size: 14px;
		margin-right: 20px;
		font-weight: 700;
		cursor: pointer;
	}

	.footer-content__info {
		display: block;
		padding: 25px;
		background-color: #212121;
		font-family: 'Noto Sans', sans-serif;
	}

	.info__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding-top: 15px;
	}

	.title__footer {
		margin-bottom: 15px;
		color: #fff;
		font-size: 22px;
		font-weight: 700;
		text-align: center;
	}

	.info__title {
		margin: 10px auto 20px;
		width: 50%;
		color: #ccc;
		font-size: 14px;
		text-align: center;
		line-height: 160%;
	}

	.info__tools {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		text-align: center;
		padding-right: 80px;
		padding-left: 80px;
	}

	.info__tools p {
		margin-top: 15px;
		font-weight: 700;
		color: #fff;
		font-size: 22px;
		text-align: center;
	}

	.info__tools span {
		margin-top: -15px;
		color: #ccc;
		font-size: 14px;
		line-height: 160%;
	}

	.tools__howitworks {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-right: 20px;
		padding-left: 20px;
		cursor: pointer;
	}

	.tools__howitworks img {
		width: 100px;
		margin-bottom: -15px;
	}

	.tools__howitworks p {
		margin-bottom: 20px;
	}

	.tools__pay {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-right: 20px;
		padding-left: 20px;
		cursor: pointer;
	}

	.tools__pay img {
		width: 200px;
		margin-top: 30px;
		margin-bottom: -15px;
	}

	.tools__pay p {
		margin-top: 25px;
		margin-bottom: 20px;
	}

	.tools__help {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-right: 20px;
		padding-left: 20px;
		cursor: pointer;
	}

	.tools__help img {
		min-width: 30%;
		width: 95px;
		margin-top: 10px;
		margin-bottom: -15px;
	}

	.tools__help p {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.contact__content {
		display: flex;
		flex-direction: row;
	}

	.content__company {
		justify-content: flex-start;
		margin-left: -30px;
	}

	.content__info {
		margin-top: -30px;
		text-align: left;
	}
}

@media screen and (min-width: 1280px) {
	.login__help {
		display: block;
		color: #999;
		font-weight: 700;
		font-size: 14px;
		padding-right: 20px;
		cursor: pointer;
	}

	.login__help:hover {
		color: #ffe300;
	}
}
