body {
	background-color: #ebebeb;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
	color: #9d9d9d;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 0px;
}
.dashboard {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 260px;
	padding: 10px;
	margin-bottom: 10px;
}

.tour__of__heroes {
	display: flex;
	flex-direction: row;
}
.navButton {
	border: none;
	margin: 0 10px;
	padding: 5px 10px;
	color: #6d8896;
	background-color: #eeeeee;
}
.navButton:hover {
	color: #059ce8;
}
h2 {
	text-align: center;
	color: #9d9d9d;
}
.top__heroes__buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 10px;
}
.top__heroe__link {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #5f7d8c;
	width: 90px;
	height: 90px;
}
a.heroe__name {
	color: white;
	text-decoration: none;
}
.detail {
	background-color: white;
	width: 300px;
	height: 400px;
}
.detail > h2 {
	display: flex;
	justify-content: flex-start;
	margin: 10px;
}
