body {
	background-image: url(pattern.png);
}

.bg-lila {
	background-color: rgba(145, 55, 180, 0.9);
}

@media screen and (max-width: 360px) {
	.logo-browse-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.web-container {
		width: 95%;
	}
}

p {
	font-weight: bold;
	font-stretch: extra-condensed;
}

.d-none {
	display: none;
}

.list-pies {
	display: flex;
	align-items: center;
	background-color: rgba(248, 41, 41, 0.85);
	margin: 1.5px;
	width: 160px;
	height: 35px;
	padding-left: 30px;
	margin-right: 40px;
	color: snow;
	font-weight: normal;
}

.welcome-history-container {
	margin: 25px;
}

/* p {
	color: rgba(145, 55, 180, 0.9);
	font-weight: bold;
} */

/* .mainContent { //como seria el css del flex del aside y el main.
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap; //para que si no hay espacio se ponga uno debajo del otro, responsive.
} */

.small-p {
	font-weight: normal;
	font-size: 14px;
	margin-bottom: -1px;
}

.title {
	color: rgba(145, 55, 180, 0.9);
	font-weight: bold;
	font-size: 30px;
}

.title-article {
	font-weight: bold;
	font-size: 30px;
}

.promotion-container {
	margin: 15px;
	border-radius: 15px;
	background-color: snow;
	padding: 10px;
}

.footer {
	font-size: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-cake {
	width: 100%;
}

.image-big {
	width: 100%;
}

.footer > p {
	margin: 0px;
}

.italic {
	font-style: italic;
}

aside {
	display: inline-flex;
}

@media screen and (min-width: 361px) {
	aside {
		float: left;
	}

	.web-container {
		display: flex;
		justify-content: center;
	}

	.logo-browse-container {
		display: flex;
		flex-direction: column;
		padding: 50px;
	}

	.list-container {
		margin-left: 25px;
	}

	.browse {
		margin-left: 85px;
	}

	.display-history-container {
		display: flex;
		flex-direction: column;
	}
	.info-container {
		display: flex;
		flex-direction: column;
		margin-right: 50px;
	}

	.promotion-container {
		margin: 15px;
		border-radius: 15px;
		background-color: snow;
		padding: 10px;
	}
}
