<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../../style/dashboard.css" />
		<title>Dashboard</title>
	</head>
	<body>
		<div id="general-container" class="container">
			<div id="main-container">
				<header>
					<div class="title">Tour of Heroes</div>
					<div class="options">
						<div id="option-dashboard"><a href="">Dashboard</a></div>
						<div id="option-heroes"><a href="../list/list.html">Heroes</a></div>
					</div>
				</header>

				<main>
					<div class="subtitle">Top Heroes</div>
					<div class="boxes-topHeroes">
						<a
							id="top-1"
							class="btn-topHeroe"
							href="../details/details.html?heroId=1"
							>A-Bomb
						</a>
						<a
							id="top-1"
							class="btn-topHeroe"
							href="../details/details.html?heroId=2"
							>Abe Sapien
						</a>
						<a
							id="top-1"
							class="btn-topHeroe"
							href="../details/details.html?heroId=3"
							>Abin Sur
						</a>
						<a
							id="top-1"
							class="btn-topHeroe"
							href="../details/details.html?heroId=4"
							>Abomination
						</a>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>
