/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: url(https://images.pexels.com/photos/2747446/pexels-photo-2747446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	/* background-size: cover;
	background-repeat: no-repeat; */
}

::selection {
	color: #fff;
	background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
	opacity: 1;
	z-index: 5;
	pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
	font-size: 25px;
	font-weight: bolder;
	color: white;
	padding: 15px 30px;
	outline: none;
	border: 5px solid white;
	border-radius: 5px;
	background: linear-gradient(rgba(11, 1, 104, 0.829), rgba(104, 1, 90, 0.829));
	cursor: pointer;
}

.info_box {
	width: 540px;
	color: white;
	background: rgba(8, 0, 0, 0.781);
	border-radius: 5px;
	transform: translate(-50%, -50%) scale(0.9);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}

.info_box .info-title {
	height: 60px;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	border-radius: 5px 5px 0 0;
	font-size: 20px;
	font-weight: 600;
}

.info_box .info-list {
	padding: 15px 30px;
}

.info_box .info-list .info {
	margin: 5px 0;
	font-size: 17px;
}

.info_box .info-list .info span {
	font-weight: 600;
	color: #007bff;
}
.info_box .buttons {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 30px;
	border-top: 1px solid lightgrey;
}

.info_box .buttons button {
	margin: 0 5px;
	height: 40px;
	width: 100px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 5px;
	border: 1px solid #007bff;
	transition: all 0.3s ease;
}

.quiz_box {
	width: 700px;
	background: rgba(8, 0, 0, 0.781);
	border-radius: 5px;
	transform: translate(-50%, -50%) scale(0.9);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}

#artist_image {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quiz_box header {
	position: relative;
	z-index: 2;
	height: 70px;
	padding: 0 30px;
	background: rgba(8, 0, 0, 0.021);
	color: white;
	border-radius: 5px 5px 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
	font-size: 20px;
	font-weight: 600;
}

.quiz_box header .timer {
	color: white;
	background: #0400ff6e;
	border: 1px solid white;
	height: 45px;
	padding: 0 8px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 220px;
}

.quiz_box header .timer .time_left_txt {
	font-weight: 400;
	font-size: 17px;
	user-select: none;
}

.quiz_box header .timer .timer_sec {
	font-size: 18px;
	font-weight: 500;
	height: 30px;
	width: 45px;
	color: #fff;
	border-radius: 5px;
	line-height: 30px;
	text-align: center;
	background: #343a40;
	border: 1px solid #343a40;
	user-select: none;
}

.quiz_box header .time_line {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 3px;
	background: #007bff;
}

section {
	padding: 25px 30px 20px 30px;
	background: rgba(8, 0, 0, 0.021);
}

section .que_text {
	font-size: 25px;
	font-weight: 600;
	color: white;
}

section .song-options {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 20px;
}

section .song-options .song-option {
	background: rgba(22, 130, 173, 0.644);
	color: white;
	border: 1px solid #84c5fe;
	border-radius: 5px;
	padding: 8px 15px;
	font-size: 17px;
	margin-bottom: 15px;
	cursor: pointer;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

section .song-options .song-option:hover {
	color: white;
	background: #3b029773;
	border: 1px solid #b8daff;
}

section .song-options .song-option.correct {
	color: #155724;
	background: #d4edda;
	border: 1px solid #c3e6cb;
}

section .song-options .song-option.incorrect {
	color: #721c24;
	background: #f8d7da;
	border: 1px solid #f5c6cb;
}

section .song-options .song-option.disabled {
	pointer-events: none;
}

section .song-options .song-option .icon {
	height: 26px;
	width: 26px;
	border: 2px solid transparent;
	border-radius: 50%;
	text-align: center;
	font-size: 13px;
	pointer-events: none;
	transition: all 0.3s ease;
	line-height: 24px;
}
.song-options .song-option .icon.tick {
	color: #23903c;
	border-color: #008b21;
	background: #d4edda;
}

.song-options .song-option .icon.cross {
	color: #a42834;
	background: #f8d7da;
	border-color: #a42834;
}

footer {
	height: 100px;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid lightgrey;
	color: white;
	padding: 10px;
}

footer .total_que span {
	display: flex;
	user-select: none;
}

footer .total_que span p {
	font-weight: 500;
	padding: 0 5px;
}

footer .total_que span p:first-child {
	padding-left: 0px;
}

footer .footer_btns {
	display: flex;
	flex-direction: row;
}

footer .exit_btn {
	height: 40px;
	width: 200px;
	padding: 0 13px;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	border: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
	background: #0400ff6e;
	border: 1px solid white;
	line-height: 10px;
	transform: scale(0.95);
	transition: all 0.3s ease;
	margin-right: 10px;
}

footer .next_btn {
	height: 40px;
	padding: 0 13px;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	border: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
	background: #0400ff6e;
	border: 1px solid white;
	line-height: 10px;
	opacity: 0;
	pointer-events: none;
	transform: scale(0.95);
	transition: all 0.3s ease;
	margin-left: 10px;
}

footer button:hover {
	background: #0263ca;
}

footer .next_btn.show {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1);
}

.result_box {
	background: #fff;
	border-radius: 5px;
	display: flex;
	padding: 25px 30px;
	width: 450px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transform: translate(-50%, -50%) scale(0.9);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}

.result_box .icon {
	font-size: 100px;
	color: #007bff;
	margin-bottom: 10px;
}

.result_box .complete_text {
	font-size: 20px;
	font-weight: 500;
}

.result_box .score_text span {
	display: flex;
	margin: 10px 0;
	font-size: 18px;
	font-weight: 500;
}

.result_box .score_text span p {
	padding: 0 4px;
	font-weight: 600;
}

.result_box .buttons {
	display: flex;
	margin: 20px 0;
}

.result_box .buttons button {
	margin: 0 10px;
	height: 45px;
	padding: 0 20px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 5px;
	border: 1px solid #007bff;
	transition: all 0.3s ease;
}

.buttons button.start_game {
	color: #fff;
	background: #007bff;
}

.buttons button.start_game:hover {
	background: #010980;
}

.buttons button.quit {
	color: #fff;
	background: #007bff;
}

.buttons button.quit:hover {
	color: #fff;
	background: #010980;
}
