.powerstats {
	align-items: center;
	justify-content: center;
	position: relative;
}

.powerstats svg {
	position: relative;
	width: 100px;
	height: 100px;
}

.powerstats svg circle {
	width: 100px;
	height: 100px;
	fill: none;
	stroke-width: 9;
	stroke: red;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}

.powerstats svg circle:nth-child(1) {
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
	stroke: #969696;
}

.powerstats__number {
	position: absolute;
	top: 26px;
	font-size: 30px;
}
