body * {
	margin: 0;
	padding: 0;
}

#pokemon-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	flex-wrap: none;
	height: 79vh;
	margin: 30px 25px;
}

.pokemon-list-element {
	display: flex;
	cursor: pointer;
	text-decoration: none;
	color: #afafaf;
	background-color: #eeeeee;
	width: 180px;
	margin: 7px 15px 7px 0px;
	border-radius: 10px;
	text-transform: capitalize;
}

.pokemon-list-element span {
	padding: 20px;
}

.top-buttons {
	margin: 30px 0px 0px 25px;
	width: 90px;
	height: 50px;
}
