<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="list.css">
</head>
<body>
    <main>
        <button id="previous" class="top-buttons">Previous</button>
        <button id="next" class="top-buttons">Next</button>
        <div id="pokemon-container">
            <ul id="pokemon-list"></ul>
        </div>
    </main>
    <script src="../../store.js"></script>
    <script src="list.js"></script>
</body>
</html>