body {
    background-image: url("images/pattern.png")
}

header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 59, 236);
}

.nav-link {
    color: white;
    font-size: 30px;    
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.choosePies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5% 20% 5% 20%;
}

.choosePies h3 {
    text-align: center;
    margin-bottom: 30px;
}

.list-group-item {
    text-align: center;
    background-color: orangered;
    margin: 1px;
    color: white;
}

.content p {
    text-align: center;
    color: rgb(112, 59, 236);
    font-size: 50px;
}

.bethImg img {
    height: 100%;
    width: 100%;
}

.promotion {
    text-align: center;
    background-color: papayawhip;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px;
}

.promotion img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 10px;
}

.history {
    margin-left: 10%;
    margin-right: 10%;
}

.promotion p {
    margin-bottom: 0.2px;
}

@media screen and (min-width: 1000px) {
    .grid {
      display: grid;
      grid-template-columns: auto auto;
    }
}

.noDisplay {
    display: none;
}