* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
	width: 100%;
}

.top-nav {
    background-color: black;
    position: fixed; 
	width: 100%;
	height: 60px;
    top: 0px;
}

.nav-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 60px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;


}

.nav-logo {
    width: 140px;
    height: auto;
    margin: 0;
    padding: 0;
}

.nav-items-menu,
.nav-items-user {
    display: flex;
    align-items: center;

}

.nav-items-menu>div,
.nav-items-user>div {
    margin: 0 10px;
}

.nav-search{
    display: flex;
    background-color: #333333;
    flex-direction: row;
    height: 40px;
    align-items: center;
    color: #999;
    border-radius: 2px;
}

input{
    background-color: #333333;
    height: -webkit-fill-available;
    border: none;
    width: 270px;
    font-size: 16px;
}
.nav-search>div{
    height: 40px;
    padding-left: 10px;
}
.search-icon{
    padding-top: 8px;
}
.nav-option{
    display: flex;
}
.nav-option>div{
    margin: 0 4px;
}
.nav-register{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #ffe300;
    color: black;
    border-radius: 2px;
    padding: 12px;
}

.film-cover img {
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
}

.sn-buttons {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: row;
    justify-content: center;
	padding: 25px 0;
	margin-top: 60px
}

.button-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-left: 10px;
}

.film-main-information {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 25px 0;
    margin-left: 25px;
}

.film-resume {
    margin-left: 10px;
}

.film-resume p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
}

.icons-data {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    align-items: center;
}

.icons-data > span {
    margin-right: 10px;
}

.icons-data p {
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.film-lang-header th {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.film-lang-main td {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #737373;
}

.audio, .subs {
    text-align: start;
}

.subs {
    padding-left: 20px;
}

.lang-subs {
    margin-left: 10px;
}

.lang-subs-header {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 10px;
}

.lang-subs-header p {
	margin-left: 10px;
}

.lang-subs-title {
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.footer__rakuten-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}

.rakuten-logo {
	width: 150px;
	height: auto;
}

.footer__pages {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 90%;
	line-height: 5px;
}

.footer__pages > p {
	color: rgb(153, 153, 153);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 30px 10px 0 10px;
	cursor: pointer;
}

.footer__pages-text:hover {
	color: white;
}

.footer-links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__copyright {
	margin: 40px;
	color: rgb(153, 153, 153);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 12px;
	text-align: center;
}

.footer__nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: black;
	border-top: 1px solid rgb(30, 30, 30);
}

.footer__nav-bar > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__nav-bar p {
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 12px;
	margin-top: 6px;
}

.nav-bar__icon {
	color: #999;
}

.footer-info {
	display: none;
	flex-direction: column;
	align-items: center;
	background-color: #212121;
}

.footer-info h4, p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.footer-info p {
	text-align: center;
	font-size: 12px;
	margin: 10px 0;
	line-height: 20px;
}

.rakuten-cinema-tv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin-bottom: 40px;
	padding-top: 40px;
}

.rakuten-cinema-tv h4 {
	font-size: 20px;
}

.rakuten-cinema-tv p {
	font-size: 14px;
	font-weight: lighter;
}

.device-payment-support {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 50px;
}

.device-payment-support h4 {
	font-size: 20px;
}

.device-payment-support p {
	font-size: 14px
}

.functionality {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.payment {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

.support {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

.devices {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

.devices-icon {
	width: 30%;
	height: auto;
}

.functionality-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.payment-icons {
	width: 100%;
	height: auto;
}

.info-icon {
	width: 30%;
	height: auto;
}


@media screen and (min-width: 1024px) {
	.footer-info {
		display: flex;
	}

	.rakuten-pages-desktop {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 95%;
		align-items: flex-start;
	}

	.footer__pages {
		width: auto;
	}

	.footer__copyright {
		margin: 5px 0 0 8px;
		padding-bottom: 50px;
	}

	.footer__nav-bar {
		display: none;
	}

	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.icons-data > p {
	color: black;
}

.film-resume > p {
	color: black;
}

.lang-subs-header > p {
	color: black;
}
@media only screen and (max-width: 1240px) {
    .nav-help{
        display: none;

    }
}

@media only screen and (max-width: 1024px) {
    .nav-option,.nav-search, .nav-help, .nav-signin, .nav-register{
        display: none;
        
    }
    .mobile{
        display: block;
    }
    .top-nav{
        position: absolute;
        background: linear-gradient(to bottom, black, transparent);
    }

    .film-cover img {
        top: 0;
        z-index: -100;
	}
	
	.sn-buttons {
		margin-top: 0;
	}
}

@media screen and (min-width: 1024px) {
	.footer-info {
		display: flex;
	}

	.rakuten-pages-desktop {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 95%;
		align-items: flex-start;
	}

	.footer__pages {
		width: auto;
	}

	.footer__copyright {
		margin: 5px 0 0 8px;
		padding-bottom: 50px;
	}

	.footer__nav-bar {
		display: none;
	}

	.footer-links {
		display: flex;
		flex-direction: row;
		align-items: center;
	}


}
