.left__sidenav {
    transition: .3s;
    position: fixed;
    top: 0;
    margin-top: 80px;
    left: -400px;
    height: 100%;
    width: 350px;
    background: #e2e0de;
    border-right: 1px solid #161616;
    box-shadow: 15px 0px 30px 0px rgba(#444343, 0.5);
    ul {
        background: #f0da14;
        height: 100vh;
        margin-top: -1px;
        padding: 0;
        .close-sidenav {
            cursor: pointer;
            padding: 10px;
            margin-left: 290px;
        }
        .close-sidenav:hover {
            transform: scale(1.3);
        }
        .list-sidenav {
            display: flex;
            justify-content: space-between;
            background: #f0da14;
            height: 40px;
            padding: 5px;
            border-bottom: 1px solid #f5cb5c;
            margin-bottom: 1px;
            cursor: pointer;
            p {
                padding-left: 40px;
                font-weight: 400;
                font-size: 20px;
                margin-top: 10px;
            }
            mat-icon {
                margin-top: 7px;
                font-size: 30px;
                padding-right: 25px;
            }
        }
        li:hover {
            transform: scale(1.02);
            background: #f7f19f;
        }
    }
}
