<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Spotify's Trivia Game - Dashboard</title>
	</head>
	<body>
		<header>
			<h1>Spotify's Trivia Game</h1>
		</header>
		<main>
			<p class="instructions">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam
				libero facere repudiandae, sapiente possimus sit assumenda. Porro quo,
				excepturi a culpa corrupti doloribus accusamus numquam impedit
				consequuntur consequatur ullam error!
			</p>

			<ul id="quiz-container"></ul>
		</main>
		<script src="../../spotify-store.js"></script>
		<script src="dashboard.js"></script>
	</body>
</html>
