<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utensilios de repostería - Tienda online María Lunarillos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <a href="/"><p>Back Home</p></a><a href="/heroes"><p>Toh</p></a>
    </nav>
    <h1>Tienda online María Lunarillos</h1>
    <header>
        <nav>
            <h2>Header - María Lunarillos</h2>
            <div class="header__container">
                <span class="container__burgermenu"></span>
                <div class="container__logo">
                    <span class="logo__red"></span>
                    <span class="logo__blue"></span>
                    <span class="logo__yellow"></span>
                </div>
                <div class="container__login">
                    <span class="login__icon"></span>
                    <span class="login__text">ENTRA | REGÍSTRATE</span>
                </div>
                <div class="container__social">
                    <i id="social__facebook" class="fab fa-facebook-f"></i>
                    <i id="social__twitter" class="fab fa-twitter"></i>
                    <i id="social__instagram" class="fab fa-instagram"></i>
                    <i id="social__pinterest" class="fab fa-pinterest-p"></i>
                    <i id="social__youtube" class="fab fa-youtube"></i>
                </div>
                <div class="container__search">
                    <span class="search__button"></span>
                    <span class="search__cart"></span>
                    <span class="search__number">0</span>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h2>Body - María Lunarillos</h2>
        <div class="header-logo__container">
            <img class="container__lunarillos-logo-mobile" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo-small.svg">
            <img class="container__lunarillos-logo-desktop" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/logo.svg">
            <div class="container__info">
                <div class="info-search__container">
                    <div class="container__news">
                        <span class="news__icon"></span>
                        <span class="news__text">NOVEDADES</span>
                    </div>
                    <div class="container__offer">
                        <span class="offer__icon"></span>
                        <span class="offer__text">OFERTAS</span>
                    </div>
                    <div class="container__search-button">
                        <input type="text" placeholder="¿QUÉ BUSCAS?" name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="info-index__container">
                    <div class="container__tools-index">
                        <div class="tools-index__image1"></div>
                        <span class="tools-index__text">UTENSILIOS</span>
                    </div>
                    <div class="container__tools-index">
                        <div class="tools-index__image2"></div>
                        <span class="tools-index__text">INGREDIENTES</span>
                    </div>
                    <div class="container__tools-index">
                        <div class="tools-index__image3"></div>
                        <span class="tools-index__text">FIESTAS</span>
                    </div>
                    <div class="container__tools-index">
                        <div class="tools-index__image4"></div>
                        <span class="tools-index__text">MARCAS</span>
                    </div>
                    <div class="container__tools-index">
                        <div class="tools-index__image5"></div>
                        <span class="tools-index__text">BLOG</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <img class="banner-img" src="https://static3.marialunarillos.com/media/custom/advancedslider/resized/slide-5c2f5c6c4d1de-png/1080X600.png"></img>
        </div>
        <div class="buttons">
            <span class="button-option"></span>
            <span class="button-option"></span>
            <span class="button-option"></span>
            <span class="button-option"></span>
            <span class="button-option"></span>
            <span class="button-option"></span>
            <span class="button-option"></span>
            <span class="button-option"></span>
            <span class="button-option"></span>
            <span class="button-option-display"></span>
        </div>
        <div class="wrapper-container">
            <div class="container-home">
                <div class="category-header">
                    <div class="icon-category">
                        <img height="125" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/utensiliosML.png">
                    </div>
                    <div class="title">UTENSILIOS</div>
                    <div class="description-category"></div>
                </div>
            </div>
            <p></p>
        </div>
        <div class="container-banner">
            <div class="container-size">
                <div class="banner_widget-home">
                    <div class="widget-image">
                        <img
                            class="image-banner"
                            src="https://static3.marialunarillos.com/media/wysiwyg/moldesdereposteria.jpg"
                        />
                        <div class="description">
                            <p>MOLDES DE REPOSTERÍA</p>
                            <span class="widget">Moldes metálicos, de silicona o cerámica, de las mejores marcas</span>
                        </div>
                    </div>
                </div>
                <div class="banner__row-widget-home">
                    <div class="widget-image-v1">
                        <img
                            class="image-banner-v1"
                            src="https://static3.marialunarillos.com/media/wysiwyg/utensiliosbasicos.jpg"
                        />
                        <div class="description">
                            <p>UTENSILIOS BÁSICOS</p>
                            <span class="widget">Rodillos, liras, espátulas, tapetes, bandejas, rejillas, mangas y boquillas... ¡Los imprescindibles!</span>
                        </div>
                    </div>
                    <div class="widget-image-v2">
                        <img
                            class="image-banner-v2"
                            src="https://static3.marialunarillos.com/media/wysiwyg/pequenoelectrodomestico2.jpg"
                        />
                        <div class="description">
                            <p>PEQUEÑO ELECTRODOMÉSTICO</p>
                            <span class="widget">Robots KitchenAid, batidoras de varillas, panificadoras, aerógrafos...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-banner">
            <div class="container-size">
                <div class="banner__row-widget-home">
                    <div class="widget-image-v2">
                        <img
                            class="image-banner-v2"
                            src="https://static3.marialunarillos.com/media/wysiwyg/capsulas-cupcakes.jpg"
                        />
                        <div class="description">
                            <p>CÁPSULAS PARA MAGDALENAS</p>
                            <span class="widget">Magdalenas, muffins y cupckaes lucen perfectos en estas cápsulas</span>
                        </div>
                    </div>
                    <div class="widget-image-v1">
                        <img
                            class="image-banner-v1"
                            src="https://static3.marialunarillos.com/media/wysiwyg/cajas3.jpg"
                        />
                        <div class="description">
                            <p>CAJAS Y BASES</p>
                            <span class="widget">Presenta y transporta tus creaciones como se merecen. ¡O conviértelas en un original regalo!</span>
                        </div>
                    </div>
                </div>
                <div class="banner_widget-home">
                    <div class="widget-image">
                        <img
                            class="image-banner"
                            src="https://static3.marialunarillos.com/media/wysiwyg/cortadoresgalletas2.jpg"
                        />
                        <div class="description">
                            <p>CORTADORES DE GALLETAS</p>
                            <span class="widget">Cortadores de formas bonitas, para galletas de encaje o Springerle</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-banner">
            <div class="container-size">
                <div class="banner_widget-home">
                    <div class="widget-image">
                        <img
                            class="image-banner"
                            src="https://static3.marialunarillos.com/media/wysiwyg/stands.jpg"
                        />
                        <div class="description">
                            <p>CERÁMICA Y TEXTIL</p>
                            <span class="widget">Stands para tartas, vajillas de cerámica, delantales y manoplas de las mejores marcas nórdicas.</span>
                        </div>
                    </div>
                </div>
                <div class="banner__row-widget-home">
                    <div class="widget-image-v1">
                        <img
                            class="image-banner-v1"
                            src="https://static3.marialunarillos.com/media/wysiwyg/banetones.jpg"
                        />
                        <div class="description">
                            <p>BANETONES PARA PAN</p>
                            <span class="widget">Harina, agua, levadura, sal... ¡Nos encanta hacer pan!</span>
                        </div>
                    </div>
                    <div class="widget-image-v2">
                        <img
                            class="image-banner-v2"
                            src="https://static3.marialunarillos.com/media/wysiwyg/toppers3.jpg"
                        />
                        <div class="description">
                            <p>TOPPERS Y FIGURITAS</p>
                            <span class="widget">Toppers para tartas, figuras decorativas, velas, lazos...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-button">
                <p>VER MÁS</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="wrapper-container">
            <div class="container-home">
                <div class="category-header">
                    <div class="icon-category">
                        <img height="125" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/magdalena.png">
                    </div>
                    <div class="title">INGREDIENTES</div>
                    <div class="description-category"></div>
                </div>
            </div>
            <p></p>
        </div>
        <div class="container-banner">
            <div class="container-size">
                <div class="banner_widget-home">
                    <div class="widget-image">
                        <img
                            class="image-banner"
                            src="https://static3.marialunarillos.com/media/wysiwyg/fondant2.jpg"
                        />
                        <div class="description">
                            <p>FONDANT</p>
                            <span class="widget">Pasta de azúcar lista para extender y cubrir, o para hacer decoraciones sencillas. ¡Trabaja como un artista!</span>
                        </div>
                    </div>
                </div>
                <div class="banner__row-widget-home">
                    <div class="widget-image-v1">
                        <img
                            class="image-banner-v1"
                            src="https://static3.marialunarillos.com/media/wysiwyg/ingredientesreposteria.jpg"
                        />
                        <div class="description">
                            <p>iNGREDIENTES DE REPOSTERÍA</p>
                            <span class="widget">Chocolates, natas, azúcares, harinas, vainillas, aromas, siropes...</span>
                        </div>
                    </div>
                    <div class="widget-image-v2">
                        <img
                            class="image-banner-v2"
                            src="https://static3.marialunarillos.com/media/wysiwyg/impresionpersonalizada.jpg"
                        />
                        <div class="description">
                            <p>IMPRESIÓN PERSONALIZADA</p>
                            <span class="widget">Impresiones personalizadas en papel de azúcar, oblea y transfer.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-banner">
            <div class="container-size">
                <div class="banner__row-widget-home">
                    <div class="widget-image-v2">
                        <img
                            class="image-banner-v2"
                            src="https://static3.marialunarillos.com/media/wysiwyg/Colorantes-alimentarios.jpg"
                        />
                        <div class="description">
                            <p>COLORANTES ALIMENTARIOS</p>
                            <span class="widget">Bonitos colores en pasta, gel, polvo, spray, pinturas, rotuladores...</span>
                        </div>
                    </div>
                    <div class="widget-image-v1">
                        <img
                            class="image-banner-v1"
                            src="https://static3.marialunarillos.com/media/wysiwyg/papelcomestible.jpg"
                        />
                        <div class="description">
                            <p>PAPEL COMESTIBLE</p>
                            <span class="widget">Papel de azúcar estampado, obleas para tartas, papel para merengues, chocotransfers...</span>
                        </div>
                    </div>
                </div>
                <div class="banner_widget-home">
                    <div class="widget-image">
                        <img
                            class="image-banner"
                            src="https://static3.marialunarillos.com/media/wysiwyg/sprinkles3.jpg"
                        />
                        <div class="description">
                            <p>SPRINKLES Y PURPURINAS</p>
                            <span class="widget">Bonitos sprinkles, figuras de azúcar, purpurinas comestibles, golosinas...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-button">
                <p>VER MÁS</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="wrapper-container">
            <div class="container-home">
                <div class="category-header">
                    <div class="icon-category">
                        <img height="125" src="https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/tarta-cumpleanos.png">
                    </div>
                    <div class="title">FIESTAS</div>
                    <div class="description-category"></div>
                </div>
            </div>
            <p></p>
        </div>
        <div class="container-banner">
            <div class="container-size">
                <div class="banner__row-widget-home">
                    <div class="widget-image-v2">
                        <img
                            class="image-banner-v2"
                            src="https://static3.marialunarillos.com/media/wysiwyg/fiestastematicas.jpg"
                        />
                        <div class="description">
                            <p>FIESTAS TEMÁTICAS</p>
                            <span class="widget">Platos de papel, vasos, servilletas... para montar una maravillosa fiesta temática.</span>
                        </div>
                    </div>
                    <div class="widget-image-v1">
                        <img
                            class="image-banner-v1"
                            src="https://static3.marialunarillos.com/media/wysiwyg/fiestaspersonajes.jpg"
                        />
                        <div class="description">
                            <p>FIESTAS PERSONAJES</p>
                            <span class="widget">Menaje desechable de los personajes favoritos de los niños.</span>
                        </div>
                    </div>
                </div>
                <div class="banner_widget-home">
                    <div class="widget-image">
                        <img
                            class="image-banner"
                            src="https://static3.marialunarillos.com/media/wysiwyg/pompones.jpg"
                        />
                        <div class="description">
                            <p>ACCESORIOS PARA FIESTAS</p>
                            <span class="widget">Farolillos, pompones, guirnaldas confeti, globos... ¡Decora tu fiesta!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-button">
                <p>VER MÁS</p>
            </div>
        </div>
        <div class="wrapper-container-brands">
            <div class="container-home">
                <div class="category-header">
                    <div class="title">NUESTRAS MARCAS</div>
                    <div class="description-category"></div>
                </div>
            </div>
            <p></p>
        </div>
        <div class="container-banner-brands">
                <div class="widget-image-brands">
                    <img
                        class="image-banner-brands"
                        src="./brands.jpg"
                    />
                </div>
            </div>
            <div class="widget-button-brands">
                <p>VER MÁS</p>
            </div>
        </div>
        <footer>
            <br>
            <br>
            <br>
            <div class="footer-icons">
                <div class="envio-devolucion-content">
                    <div class="envio-devolucion-element">
                        <figure class="envio-gratis"></figure>
                        <span class="text-title">ENVÍO GRATIS</span>
                        <span>PEDIDOS SUPERIORES A 70€</span>
                    </div>
                    <div class="envio-devolucion-element">
                        <figure class="envio-horas"></figure>
                        <span class="text-title">ENVÍO 24-48 HORAS</span>
                        <span>HAZ TU PEDIDO ANTES DE LAS 18:00H</span>
                    </div>
                </div>
                <div class="envio-devolucion-content">
                    <div class="envio-devolucion-element">
                        <figure class="devolucion"></figure>
                        <span class="text-title">DEVOLUCIONES</span>
                        <span>30 DÍAS PARA DEVOLVER TU COMPRA</span>
                    </div>
                    <div class="envio-devolucion-element">
                        <figure class="reembolso"></figure>
                        <span class="text-title">CONTRA REEMBOLSO</span>
                        <span>SIN COMISIÓN</span>
                    </div>
                </div>
            </div>
            <div class="footer-social">
                <div class="social">
                    <span>SÍGUENOS</span>
                    <div class="social__icons-footer">
                        <span class="icons-footer__facebook"></span>
                        <span class="icons-footer__twitter"></span>
                        <span class="icons-footer__instagram"></span>
                        <span class="icons-footer__pinterest"></span>
                        <span class="icons-footer__youtube"></span>
                    </div>
                </div>
                <div class="newsletter">
                    <div class="newsletter-text">Recibe las novedades en tu e-mail</div>
                    <input class="newsletter-input"/>
                    <button class="newsletter-button">
                        <span>SUSCRÍBETE</span>
                    </button>
                </div>
                <div class="contact-icons">
                    <div class="contact-container">
                        <div class="contact"></div>
                        <span>CONTACTO</span>
                    </div>
                    <div class="about-container">
                        <div class="about-us"></div>
                        <span>SOBRE NOSOTROS</span>
                    </div>
                    <div class="conditions-container">
                        <div class="conditions-us"></div>
                        <span>CONDICIONES DE VENTA</span>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy;2020 María Lunarillos</p>
            </div>
        </footer>
    </main>
    <script src="https://kit.fontawesome.com/e5fa61ddd0.js" crossorigin="anonymous"></script>
</body>
</html>