body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  background-color: rgb(198, 218, 198);
  display: grid;
  width: 70%;
  margin: auto;
}
input{
  height: 30px;
  border: 1px solid red;
}
button{
  margin: auto;
  width: 100%;
}
.list{
  margin: auto;
  padding: 4px 0;
}
.list>div{
  margin: auto;
  padding: 4px 0;
}