$primaryColor: rgb(180, 136, 194);
$linkColor: white;

.image1 {
  width: 100%;
}
.image2 {
  display: none;
}
.image3 {
  width: 100%;
  height: auto;
}

body {
  background-image: url(/images/pattern.png);
}

header {
  nav {
    background-color: $primaryColor;
    ul {
      li {
        a {
          color: $linkColor;
        }
      }
    }
  }
}

section {
  aside {
    div {
      ul {
        li {
          cursor: pointer;
          background-color: rgb(209, 84, 84);
          max-width: 70%;
          margin: auto;
          a {
            color: $linkColor;
          }
        }
      }
    }
  }
  article {
    h1 {
      color: $primaryColor;
    }
  }
}

footer {
  p {
    font-size: 20px;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
