.header {
    text-align: center;
}

h1 {
    text-align: center;
}

.header__second__element {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 237, 241);
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

h2 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}