.landing__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2B3137;
    height: 90px;
}

.header-title__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title__container > .fa-github {
    font-size: 40px;
    margin: 0 20px;
    color: white;
}

.landing__header h1 {
    color: white;
}

.database {
    font-family: 'Nova Mono', monospace;
    font-size: 35px;
    color: white;
    margin-left: 10px;
    
}

.landing__anchor {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 666px) {
    .header-title__container > h1 {
        display: none;
    }

    .database {
        margin: 0;
    }
}

@media (max-width: 430px) {
    .database {
        font-size: 30px;
    }

    .header-title__container > .fa-github {
        margin-right: 10px
    }
}