<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>POKEMON DETAILS</title>
		<link rel="stylesheet" href="../../style/details.css" />
	</head>
	<body>
		<main>
			<div id="pokeName" class="header">Im pokemon</div>
			<div class="detail">
				<div class="detail_header">
					<div><img src="" id="image" /></div>
					<div>ability</div>
				</div>
				<div class="detail_all">
					<div><span>Weight:</span>59<span></span></div>
				</div>
			</div>
		</main>

		<!--     <div> <span id="abilities"></span></div>
 -->

		<script src="../../store.js"></script>
		<script src="../../util/location.js"></script>
		<script src="../details/details.js"></script>
		<script>
			const name = getPokemonName(location);

			store.getPokemonDetail(name).then(() => {
				const pokemonDetail = store.pokemonDetail();
				let detailComponent = new DetailComponent(pokemonDetail);
				console.log(detailComponent);
				if (pokemonDetail) {
					document.getElementById('pokeName').innerHTML = name;
					/* let idElement = document.getElementById('abilities');
					detailComponent.updateHtmlValue(
						idElement,
						'innerHTML',
						detailComponent.pokemon.abilities[0].ability.name 
					); */
					let image = document.getElementById('image');
					detailComponent.updateHtmlValue(
						image,
						'src',
						detailComponent.pokemon.sprites.front_shiny
					);
				}
			});
		</script>
	</body>
</html>
