<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../style/details.css" />
		<title>Details</title>
	</head>
	<body>
		<div id="general-container" class="container">
			<header>
				<div id="titles-container">
					<div class="title">Pokemons API</div>
					<div class="options">
						<div id="option-dashboard">
							<a href="../dashboard/dashboard.html">Dashboard</a>
						</div>
						<div id="option-pokemons">
							<a href="../list/list.html">POKEMONS</a>
						</div>
					</div>
				</div>
			</header>

			<main>
				<div id="main-details"></div>
				<input
					class="back-btn"
					type="button"
					onclick="history.back()"
					name="back return"
					value="Next"
				/>
				<input
					class="back-btn"
					type="button"
					onclick="history.back()"
					name="back return"
					value="Back"
				/>
			</main>
		</div>
		<script src="../../store.js"></script>
		<script src="../details/details.js"></script>
		<script>
			store.loadPokemonsList().then(() => {
				debugger;
				const pokemonId = getPokemonById(location);
				const pokemons = store.getPokemonById(pokemonId);

				let detailComponent = new DetailComponent(pokemons);

				if (pokemons) {
					let element = document.getElementById('main-details');

					detailComponent.updateHtmlPokemonDetails(element);
				}
			});
		</script>
	</body>
</html>
