<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ability</title>
    <link rel="stylesheet" href="ability.css">
</head>
<body>
    <main>
        <button id="back">Back</button>
        <h1 id="name-title" class="capitalize"></h1>
        <section class="id-container horizontal-containers">
            <h3 id="id-label">Id:</h3>
            <span id="id-input"></span>
        </section>
        <section class="description-container vertical-containers">
            <h3 id="description-label">Description</h3>
            <span id="description-input"></span>
        </section>
        <section id="pokemons-container" class="vertical-containers">
            <h3 id="description-label">Pokemons that can learn this ability</h3>
            <ul id="pokemon-list"></ul>
        </section>
    </main>
    <script src="../../store.js"></script>
    <script src="ability.js"></script>
</body>
</html>