@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

$textColor: #fff;
$primaryColor: #1db954;
$SecondaryColor: #212121;
$darkColor: #121212;
$lightDarkColor: #535353;
$lightColor: #b3b3b3;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0%;
}

body {
	font-family: 'Signika', sans-serif;
	height: 100vh;
	background-color: $darkColor;
	display: flex;
	justify-content: center;
	align-items: center;
	.logo {
		position: fixed;
		top: 0;
		left: 0;
		padding: 50px;
	}
	.container {
		display: flex;
		max-width: 700px;
		// background-color: white;
		.artist__block {
			.artists__images {
				position: relative;
				cursor: pointer;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: center;
				height: 700px;
				.artist-img__item {
					box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.3);
					width: 200px;
					height: 200px;
					background-color: $primaryColor;
					overflow: hidden;
					.artist-photo {
						height: 100%;
					}
				}
			}
		}
	}
}
