* {
	font-family: Helvetica, sans-serif;
}

.grid-pad {
	display: flex;
	flex-direction: row;

	justify-content: space-around;
}

.col-1-4 {
	background-color: #008cba;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
}

h3 {
	margin-top: 50px;
}

nav a {
	background-color: #008cba;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
}

.grid-pad {
	display: flex;
	flex: row;
}

h4 {
	font-weight: normal;
}
