body {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    font-family: 'Codystar', cursive;
    width: 100%;
    min-width: 646px;
    height: 100%;
}

.background-gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(51, 54, 103, 1) 100%);
}

h1 {
    text-align: center;
    font-family: 'Codystar', cursive;
    font-size: 80px;
    margin: 200px auto;
    margin-bottom: 300px;
    padding: 0;
    color: rgb(162, 196, 247);
    letter-spacing: 20px;
}

h1:hover {
    color: rgb(209, 226, 251);
}

.section__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    opacity: 0.1;
}

.section__buttons:hover {
    opacity: 0.8;
}

.buttons__group {
    display: flex;
    width: 33%;
    margin: 0 auto;
    justify-content: center;
}

.buttons__left {
    justify-content: flex-start;
    margin-left: 20px;
}

.buttons__right {
    justify-content: flex-end;
    margin-right: 20px;
}

.button {
    width: 180px;
    height: 40px;
    font-size: 20px;
    color: rgb(162, 196, 247);
    background-color: rgb(2, 0, 15);
    border: 2px solid rgb(162, 196, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    margin: 0 5px;
}

.button:hover {
    color: rgb(209, 226, 251);
    border: 2px solid rgb(209, 226, 251);
}

.size,
.velocity {
    width: 100px;
    height: 30px;
    font-size: 15px;
}

.velocity {
    width: 50px;
}

#rules {
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

.rules__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rules {
    color: rgb(162, 196, 247);
    padding: 20px 0;
    font-size: 25px;
}

canvas {
    display: unset;
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}

.satellite {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.satellite__img {
    width: 100px;
    height: auto;
    opacity: 0.7;
}

.satellite__small {
    align-self: flex-start;
    margin-top: 80px;
    width: 50px;
    opacity: 0.5;
}

.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.landscape {
    width: 100%;
    height: auto;
    position: relative;
}

.landscape__blur {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
}

#landscape-img {
    width: 100%;
    height: auto;
}