body {
	background-image: url(https://images.wallpaperscraft.com/image/airplane_sky_flight_clouds_sunset_116695_3840x2160.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	flex-wrap: wrap;
	width: 50%;
	height: 70vh;
	background: rgba(255, 255, 255, 0.8);
}

#root {
	display: flex;
	justify-content: center;
}

#div-selects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

#div-inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

#div-inputDate {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

#buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80%;
}
