.allpage {
	display: flex;
	flex-direction: column;
	border-color: black;
	border-style: solid;
	max-width: 1000px;
}
.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #efefef;
	height: 50px;
}
.circulos {
	display: flex;
	flex-direction: row;
}
.firstr {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #ea5e00;
	margin-left: 15px;
}
.secondr {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #ffac30;
	margin-left: 15px;
}
.thirdr {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #b55f00;
	margin-left: 15px;
}
.section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 15px;
}
.mainsection {
	display: flex;
	flex-wrap: column wrap;
}
.mainsection2 {
	display: flex;
	flex-wrap: wrap;
}
.mainsection3 {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.mainsection4 {
	display: flex;
}
.cuadrado {
	min-width: 200px;
	height: 200px;
	background-color: #efefef;
	border-style: solid;
	border-color: grey;
}
.redonda {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #efefef;
	border-style: solid;
	margin-left: 20px;
	border-color: grey;
}
.heading {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	height: 100px;
}
.heading > h1 {
	margin-bottom: 0;
	margin-top: 0;
}
.heading > h2 {
	margin-top: 0;
}
.data {
	display: flex;
	margin-left: 10px;
	height: 100px;
}

.firstp {
	display: flex;
	margin-left: 20px;
}
.footer {
	display: flex;
	justify-content: space-around;
}
.art > h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.art > h4 {
	margin-top: 0px;
}
.triangulo {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #efefef;
}
