.header {
	width: 100%;
	max-width: 100vw;
	padding: 15px;
	display: flex;
    align-items: center;
    justify-content: space-around;
	height: 100px;
	background-color: #112d8636;
	top: 0;
	color: #544854;
	box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.basket {
	font-size: 50px;
	color: #544854;
}
.link-list{
	color: #544854;
}
.link-list:hover{
	color: #544854;
	text-decoration:none;
}