<main>
  <h2>Versus Custom Menu EPWHammer</h2>
  <h3>Unit</h3>
  <table id="allweaponTable">
    <caption style="display: none;">Datasheet</caption>
    <tr>
      <th id="movement">M</th>
      <th id="Weapon Skill ">WS</th>
      <th id="Balistic Skill">BS</th>
      <th id="Strength">S</th>
      <th id="Toughness">T</th>
      <th id="Wounds">W</th>
      <th id="Attacks">A</th>
      <th id="Leadership">Ld</th>
      <th id="Save">S+</th>
    </tr>
    <tr>
      <td>
        <label>
          <input type="text" placeholder='M'/>
        </label>
      </td>
      <td>
        <label>
          <input type="text" placeholder='HA'/>
        </label>
      </td>
      <td>
        <label>
          <input type="text" placeholder='HP'/>
        </label>
      </td>
      <td>
        <label>
          <input type="text" placeholder='F'/>
        </label>
      </td>
      <td>
        <label>
          <input type="text" placeholder='R'/>
        </label>
      </td>
      <td>
        <label>
          <input type="text" placeholder='W'/>
        </label>
      </td>
      <td>
        <label>
          <input type="text" placeholder='A'/>
        </label>
      </td>
      <td>
        <label>
          <input type="text" placeholder='Ld'/>
        </label>
      </td>
      <td>
        <label>
          <input type="text" placeholder='S+'/>
        </label>
      </td>
    </tr>
  </table>
  <table id="allweaponTable">
    <caption style="display: none;">Datasheet</caption>
    <tr>
      <th id="model">Model</th>
      <th id="cost">Cost</th>
      <th id="wargear">Wargear</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div class="button_cont" ><a class="example_f" href="/versusCustomInsertUnit"><span>Insert Model</span></a></div>
  <div class="button_cont" ><a class="example_f" href="/versusMenu"><span>Confirm</span></a></div>
</main>
<footer id="HomeFooter">
  <div id="mainFooter">
      <div id="footerText">
          <p>About</p>
          <p>Contact</p>
      </div>
      <div id="footerText">
          <p>Basic Rules</p>
          <p>Features</p>
      </div>
      <div id="footerText">
          <p>News</p>
          <p>Patches</p>
      </div>
  </div>
  <br>
  <sub>You can go back to home if you click the logo</sub>
  <p></p>
  </footer>