<footer>
    <div class="footer__payment-methods">
        <mat-icon>credit_card</mat-icon>
        <mat-icon>credit_card</mat-icon>
        <mat-icon>credit_card</mat-icon>
        <mat-icon>credit_card</mat-icon>
    </div>
    <div class="footer__contacts">
        <div class="footer__media">
            <mat-icon>facebook</mat-icon>
            <mat-icon>facebook</mat-icon>
            <mat-icon>facebook</mat-icon>
        </div>
        <div class="footer__newsletter">
            <p>Subscribe to our newsletter</p>
            <input type="text" placeholder="Introduce your email"><button>Send</button>
        </div>
        <div class="footer__form">
            <button>Contact with us</button>
        </div>
    </div>
    <div class="footer__information">
        <mat-icon>local_shipping</mat-icon>
        <div class="footer-delivery">
            <p>24H Delivery</p>
            <a routerLink="information">More information</a>
        </div>
    </div>
</footer>