body {
	border: solid;
}

.imgHeading {
	height: 150px;
	width: 150px;
	background-color: grey;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	margin-left: 5%;
	margin-top: 2%;
}

.mainHeading {
	display: flex;
	flex-direction: row;
}

.icon {
	height: 50px;
	width: 50px;
	background-color: grey;
	clip-path: circle(50% at 50% 50%);
}

.headingArticle {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 2%;
	align-content: center;
	justify-content: center;
}

.date {
	display: flex;
	justify-content: flex-end;
	margin-right: 5%;
}

.secondArt {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.triangle {
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background-color: grey;
	height: 50px;
	width: 50px;
}

.img {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img p {
	margin: 1px;
}

.iconFlex {
	display: flex;
	flex-direction: row;
}

.subHeading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10px;
}

.subHeading p {
	margin: 1px;
}
