div {
    color:blue;
}

#morespecific {
    background-color: red;
}

.specific {
    background: linear-gradient(blue, red);
    padding: 5px;
    color: white;
}

@media screen and (min-width: 600px) and (max-width: 1023px)  {
    .specific {
        background: linear-gradient(blue, orange);
        font-size : 20px;
        margin: 0 16px;
        width: 80%
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px)  {
    .specific {
        background-color: black;
        font-size : 20px;
        margin: 0 32px;
        width: 50%
    }
}

@media screen and (min-width: 1440px)  {
    .specific {
        background-color: yellow;
        font-size : 40px;
        margin: 0 64px;
        width: 30%
    }
}