/* Header Logo */
.MuiButtonBase-root.MuiIconButton-root.logo-btn.MuiIconButton-colorInherit{
    height: 4vw;
}

/* DrawerMenu */
#test-btn>.MuiIconButton-label{
    color: white;
}

.logo-btn{
    top: 0.2vw;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.text-link:hover{
    color: orange!important;
}

.header-btn>Button{
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 0;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.only-btn.MuiButton-containedSecondary{
    border-radius: 15px;
    box-shadow: none;
}