body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.top-bar {
	display: flex;
	justify-content: space-around;
	border: 1px solid;

	width: -webkit-fill-available;
}
.more-people {
	display: flex;
	justify-content: flex-end;
	margin-right: 12px;
}
.options {
	display: flex;
	justify-content: space-around;
}
.travelers {
	display: flex;
	justify-content: space-around;
}
.airports {
	display: flex;
	justify-content: space-around;
}

.flightDate {
	margin: 50px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.pro {
	margin: 10px;
}
.Search {
	display: flex;
	justify-content: flex-end;
	margin: 50px;
	margin-left: 430px;
}
.button {
	background-color: red;
	box-shadow: black;
	width: min-content;
	border: none;
}
.main-wrapper {
	font-family: Helvetica, sans-serif;
	background-color: rgba(176, 220, 181, 0.6);
	border-radius: 20px;
	padding: 20px;
	max-width: 500px;
	display: flex;
	flex-direction: column;

	margin-top: 100px;
}
