body {
	background-image: url('images/pattern.png');
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 600px) {
	.main {
		flex-direction: column;
	}
}
.container {
	max-width: 1050px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.secondcolumn {
	display: flex;
	flex-direction: column;
	flex-basis: 60%;
}

.header {
	background-color: #a593c2;
	overflow: none;
	color: white;
	display: flex;
	justify-content: end;
	align-items: center;
}

.allpies {
	background-color: #a593c2;

	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;

	font-size: 20px;
}
.active {
	background-color: #a593c2;

	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;

	font-size: 20px;
}
.about {
	background-color: #a593c2;

	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;

	font-size: 20px;
	margin: center;
}

.title {
	color: #a593c2;
	text-align: right;
	text-align: center;
}
.grid {
	display: grid;
	grid-template-columns: repeat(1, 300px);
	grid-template-rows: repeat(6, 40px);
	grid-template-areas:
		'subtitle '
		'all '
		'cheese'
		'fruit '
		'seasonal'
		'promotions';
	justify-content: flex-start;
	width: 50%;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	gap: 2px;
}
ul.grid {
	list-style-type: none; /* Remove bullets */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
}
.subtitle {
	justify-content: center;
	font-size: 20px;
	text-align: center;
	grid-area: subtitle;
}
.all {
	grid-area: all;
	box-sizing: border-box;
	color: white;
	background-color: #cf4522;
	font-size: 15px;
	text-align: center;
}
.cheese {
	grid-area: cheese;
	box-sizing: border-box;
	color: white;
	background-color: #cf4522;
	font-size: 15px;
	text-align: center;
}
.fruit {
	grid-area: fruit;
	box-sizing: border-box;
	color: white;
	background-color: #cf4522;
	font-size: 15px;
	text-align: center;
}
.seasonal {
	grid-area: seasonal;
	box-sizing: border-box;
	color: white;
	background-color: #cf4522;
	font-size: 15px;
	text-align: center;
}
.promotions {
	grid-area: promotions;
	box-sizing: border-box;
	color: white;
	background-color: #cf4522;
	font-size: 15px;
	text-align: center;
}
.maintitle {
	color: #a593c2;
}
.email {
	text-decoration: underline;
	text-decoration-color: blue;
	color: blue;
}
.ender {
	text-decoration: underline;
	text-decoration-color: blue;
	color: blue;
}
.footer {
	flex-basis: 100%;
}
.main {
	display: flex;
}
.hidden-outliner {
	display: none;
}
.maincontent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
