<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../styles/style.css" />
		<title>Pokemons!</title>
	</head>
	<body>
		<section class="pokemonDetail">
			<div class="detail-box">
				<h1 class="pokemon-title"></h1>
				<span class="">Pokemon ID: <span class="pokeId"></span></span>
				<span class="">Base Experience: <span class="pokeBaseExperience"></span></span>
				<button class="seeAbilities">More Abilities</button>
			</div>
		</section>
		<script src="../../utils/getUrlParam.js"></script>
		<script src="../../app/store.js"></script>
		<script src="./detail-component.js"></script>
	</body>
</html>
