.heading {
	text-align: center;
}
.father {
	display: flex;
	/* Put a card in the next row when previous cards take all width */
	flex-wrap: wrap;
	background-color: blue;
	width: 60%;
	margin-left: -8px;
	margin-right: -8px;
}
.child {
	/* There will be 4 cards per row */
	flex-basis: 25%;

	padding-left: 8px;
	padding-right: 8px;
}

.navbar {
	background-color: linen;
	height: 60px;
}

.little-circle {
	border-radius: 9999px;
	height: 12px;
	width: 12px;
	border-color: maroon;
}

#circle {
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
}
