.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.landing__project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  width: 75%;
  padding: 20px;
  margin: 5px auto;
  margin-top: 2px;
}

.landing__project__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.landing__project__top__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 3px 6px rgb(203, 203, 203);
}


.landing__project__top__detail {
  margin: 10px 5px;
}

.project__name {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
}

.project__description {
  font-weight: 450; 
}

.project__url {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: auto;
  padding: 2px 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  text-decoration: none;
}

.project__url__github-icon {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  color: white;
  font-weight: 500;
  background-color: rgb(136, 202, 38);
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.subscribe__button:hover {
cursor: pointer;
background-color: rgb(126, 187, 35);
}

.landing__project__bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 76%;
  margin-top: 12px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 3px 6px rgb(203, 203, 203);


}

.landing__project__bottom__participants {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.landing__project__bottom__participant {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin-left: 30px;
  text-decoration: none;
  transition: transform 0.2s;
}

.landing__project__bottom__participant:hover {
  transform: scale(1.08);
}


.participant__name {
  font-weight: 400;
  color: rgb(0, 102, 255);
  margin: 0 10px;
}

.participant__profile-pic {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.landing__project__bottom__participants__empty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 5%;
  color: grey;
  font-style: italic;
}