body {
	background-image: url('images/pattern.png');
	margin: 0;
}
.header {
	display: flex;
	flex-direction: row;
	background-color: #a593c2;
	height: 70px;
}
.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.imagenav {
	display: flex;
	background-image: url(images/pie.png);
	width: 100%;
	height: 100%;
	width: 75px;
	justify-content: flex-start;
	margin-left: 15px;
	align-content: center;
}
.bottoms {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 15px;
}
.bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	margin-left: 15px;
	height: 70px;
	width: 70px;
}
.body {
	display: flex;
	flex-direction: column;
}
.aside {
	display: flex;
	flex-direction: column;
}
.leftbox {
	display: flex;
	flex-direction: column;
}
.logo {
	display: flex;
	justify-content: center;
}
.browse {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}
.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menuA {
	display: flex;
	color: white;
	justify-content: center;
	width: 150px;
	margin-top: 1px;
	background-color: red;
	border-color: black;
	border-style: solid;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.h1 {
	display: flex;
	color: #a593c2;
}
.bethany {
	display: flex;
	height: 300px;
	width: 300px;
}
