<div class='main__image-section'>
  <img class='main__image' src="https://trello-attachments.s3.amazonaws.com/5fc25c399621180ff648b3bf/5fc25f490b5aa2446a3aafd5/dac084ea91d83352b6ce7083dfb54cfb/ecab8c7af42a439d9043b0ade6e1f05b_18.webp" alt="">
  <h1 class='title__main'>PetRefuge</h1>
  </div>
  <div class='button__section'>
    <div class='first-row__button'>
      <button mat-raised-button color="primary" class='first__button' (click)='findPet("Cat")' routerLink='/list'>Find a Cat</button>
      <button mat-raised-button color="primary" class='first__button' (click)='findPet("Dog")' routerLink='/list'>Find a Dog</button>
    </div>
      <button mat-raised-button color="primary" class='second__button' (click)='findPets()' routerLink='/list'>Find more Pets</button>
</div>

<div class='promo__section'>
  <div class='promo_section--first'>
    <img class='promo__img' src="https://trello-attachments.s3.amazonaws.com/5fc25c399621180ff648b3bf/5fc25f490b5aa2446a3aafd5/17782fa6fdadd6a879039efa3f81ccd5/2820_MorrisAnimalRefuge_FundraiserEvent.width-696.png" alt="">
    <mat-card class="promo__card">
      <mat-card-title class='promo__title'>Our mision:</mat-card-title>
      <p class='promo__text'>Our main goal is to give an easy way for the shelters give visibility all their pets that need to be adopted. We want that process to be easy and fast.</p>
    </mat-card>
</div>

<div class='promo_section--second'>
    <img class='promo__img' src="https://trello-attachments.s3.amazonaws.com/5fc25c399621180ff648b3bf/5fc25f490b5aa2446a3aafd5/9068f5823cf0844032ad3d1500551941/maxresdefault.jpg" alt="">
    <mat-card class="promo__card">
      <mat-card-title class='promo__title'>Contribute!</mat-card-title>
      <p class='promo__text'>Help us make that project be real! All our financial support is donation based. Any help is welcomed!</p>
    </mat-card>
  </div>
</div>
