<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotiquiz</title>
    <link rel="stylesheet" href="welcome.css">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1024px-Spotify_logo_without_text.svg.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="title">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1024px-Spotify_logo_without_text.svg.png" id="title-logo"/>
        <h1> SpotiQuiz</h1>
    </section>
    <section class="instructions">
        <h3 id="instructions__welcome">Welcome to SpotiQuiz!</h3>
        <p id="instructions__text">
            Ahead you will have to answer 10 questions. 
            Given the image of an album, you will have to guess which one of the 4 given songs is in the album. 
            Try to choose quickly because there will be a timer running.
        </p>
        <p id="instructions__good-luck">Good luck!</p>
        <a href=''><button id="start-button">Start</button></a>
    </section>
</body>
</html>