#div1 {
    color:blue;
}

li.grande {
    font-size: 40px;
}

div > li {
    font-style: italic;
}

h1, code {
    font-size: 66px;
}

#morespecific {
    background-color: gray !important;
}

#flecha-mediana {
    margin-top: 12px;
    height: 60px;
    width: 60px;
    font-size: 40px;
}

.site-header {
    background-color: black;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

nav span.material-icons{
    font-size: 40px;
}

.specific {
    background-color: brown;
}

#date {
    padding-top: 10px;
}

@media screen and (max-width: 599px){
    .specific {
        background-color: pink;
        font-size: 20px;
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (max-width: 1023px) and (min-width: 600px){
    .specific {
        background: linear-gradient(gray,red);
        font-size: 30px;
        margin: 0 32px;
        width: 50%;
    }
}@media screen and (max-width: 1439px) and (min-width: 1024px){
    .specific {
        background-color: orange;
        font-size: 40px;
        margin: 0 64px;
        width: 30%;
    }
}