.list-heroes__btn {
	width: 170px;
	height: 35px;
	margin-bottom: 10px;
	border-radius: 4px;
	font-size: 18px;
	text-decoration: none;
	color: rgb(113, 140, 153);
	background-color: rgb(241, 237, 237);
}

.list-heroes__btn-id {
	width: 35px;
	height: 100%;
	position: relative;
	left: 0;
	float: left;
	border-radius: 4px 0 0 4px;
	text-align: center;
	font-size: 16px;
	color: white;
	background-color: rgb(113, 140, 153);
}

.list-heroes__btn-name {
	padding-left: 17px;
}

.list-title {
	font-size: 30px;
}

.list-heroes {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

.top-heroes-container {
	width: fit-content;
}

.top-heroes-title {
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
	color: gray;
}

.top-btn {
	text-decoration: none;
	width: 180px;
	height: 145px;
	float: left;
	text-align: center;
	color: white;
	background-color: rgb(113, 140, 153);
	margin: 0 40px 40px 0;
	font-size: 19px;
	font-weight: 600;
	vertical-align: middle;
}

.top-btn:last-child {
	margin-right: 0;
}

.hero-details {
	margin-bottom: 20px;
}

.hero-details:first-of-type {
	margin-top: 20px;
}

.hero-details span:first-child {
	color: rgb(68, 100, 116);
	font-size: 17px;
}

#hero-name {
	font-size: 16px;
}
