<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="list.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Pokemons List</h1>
    </header>

    <div id="error" class="error">
        <p>404 <br> There is no data pokes</p>
        <img id="error_image" class="error_image_class" src="https://media.giphy.com/media/12Bpme5pTzGmg8/giphy.gif"
            alt="">
    </div>


    <section class="pokemons-list-container">

        <ul id="pokemons-list__container" class="pokemons__list">
        </ul>


    </section>


    <script src="../../store.js"></script>
    <script src="list.js"></script>
</body>

</html>