body {
    margin: 0;
    padding: 0;
    /*
    background-image: url('https://trello-attachments.s3.amazonaws.com/5f8ca3639574d3550b3ad495/5f9b2b87d10879338a2e0d0a/bb78a34306e4dbffdc5ce8f6b141e75f/pikachu.jpg');
    */
}
