<h2>Versus Menu EPWHammer</h2>
<main>
  <div class="units">
    <div id="unit1">
      <h3 id="title"> Unit 1</h3>
      <div class="button_cont" ><a class="example_f" href="/versusCustomMenu"><span>Custom</span></a></div>
      <div class="button_cont" ><a class="example_f" href="/versusChoose"><span>Choose unit</span></a></div>
    </div>
    <div id="unit2">
      <h3 id="title"> Unit 2</h3>
      <div class="button_cont" ><a class="example_f" href="/versusCustomMenu"><span>Custom</span></a></div>
      <div class="button_cont" ><a class="example_f" href="/versusChoose"><span>Choose unit</span></a></div>
    </div>
  </div>
    <br>
    <div class="button_cont" ><a class="example_f" href="/versusBegin"><span>Begin Versus</span></a></div>
    <div class="button_cont" ><a class="example_f" href="/home"><span>Back</span></a></div>
</main>
<footer id="HomeFooter">
  <div id="mainFooter">
      <div id="footerText">
          <p>About</p>
          <p>Contact</p>
      </div>
      <div id="footerText">
          <p>Basic Rules</p>
          <p>Features</p>
      </div>
      <div id="footerText">
          <p>News</p>
          <p>Patches</p>
      </div>
  </div>
  <br>
  <sub>You can go back to home if you click the logo</sub>
  <p></p>
  </footer>
