* {
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	font-size: x-large;
	background-color: #ebebeb;
}

.container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	background: #ffffff;
	height: 80%;
	width: 80%;
	border: 1px solid #8a8d8f;
	box-shadow: 0px 1px #8a8d8f;
	border-radius: 5px;
	padding: 2%;
}

header {
	justify-content: center;
}

.title {
	color: #b3b3b3;
	margin-bottom: 4%;
	font-weight: bold;
}

.subtitle {
	color: #b3b3b3;
	margin-bottom: 4%;
	font-weight: 700;
	font-size: large;
	text-align: center;
}

.pokebol {
	position: absolute;
	height: 10px;
	width: 10px;
	right: 30%;
	z-index: 1000;
}

.options {
	display: flex;
	flex-direction: row;
	color: #688493;
	margin-bottom: 5%;
	font-size: smaller;
	font-weight: bold;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}

#option-dashboard > a {
	margin-right: 20%;
	color: #7f97a3;
}

#option-heroes > a {
	margin-left: 25%;
	color: #33aae9;
}

.title-list {
	font-weight: bold;
	margin-bottom: 15%;
}

.list-item {
	display: grid;
	grid-template-columns: 30% auto;

	margin: 15% 0;
	font-size: large;
}

.box-position {
	background-color: #f73144;
	margin-right: 5%;
	text-align: center;
	color: #ffffff;
	padding: 10%;
	border-radius: 5px 0 0 5px;
}

.name-position {
	margin-left: 10%;
	text-align: start;
	color: black;
}
