<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="head-title"></title>
    <link rel="stylesheet" href="detail.css">
    <link rel="shortcut icon" id="tabImage" href="https://cdn2.iconfinder.com/data/icons/pokemon-filledoutline/64/pokeball-people-pokemon-nintendo-video-game-gaming-gartoon-ball-512.png" type="image/x-icon">
    <link href="//db.onlinewebfonts.com/c/51ba22ae06790efd464bde752a2cd9d1?family=Flexo" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <figure class="pokedex-logo">
            <a href="./../list/list.html"><img src="https://cdn.bulbagarden.net/upload/4/4b/Pok%C3%A9dex_logo.png" alt="pokedex" id="pokedex-logo__image"></a>
        </figure>
    </header>
    <main>
        <div id="title-block">
            <div id="flex-spacer"></div>
            <h2 id="pokemon-title"></h2>
            <div id="flex-spacer"></div>
        </div>
        <div class="info-block">
            <figure id="info-block__pokemon-image"></figure>
            <section id="info-block__abilities">
                <h3 id="abilites__title">Abilities</h3>
                <ul id="abilities__list"></ul>
            </section>
        </div>
    </main>
    

<script src="./../list/list.js"></script>
<script src="./../../src/poke-store.js"></script>
<script src="./detail.js"></script>
<script>
    const pokemonId = +window.location.search.slice(3,window.location.search.indexOf('&'));
    const pokemonName = window.location.search.slice(window.location.search.indexOf('e=')+2);
    pokedex.loadPokemonsFromAPIById(pokemonId).then(() =>{
        document.getElementById('pokemon-title').innerHTML = pokedex.pokemonDetailTitle(pokemonId, pokemonName);
        document.getElementById('head-title').innerHTML = pokemonName;
        document.getElementById('abilities__list').innerHTML = pokedex.setAbilitiesList();
        document.getElementById('info-block__pokemon-image').innerHTML = pokedex.setPokemonImage(pokemonName);
    })
</script>
</body>
</html>