a{
  text-decoration: none;
}

.mat-expansion-panel{
  box-shadow: none !important;
  background: none !important;
}

@media screen and (max-width: 420px){
  mat-expansion-panel{
    display: none !important;
  }

  .mat_expansion-conatiner-mobile{
    display: none !important;
  }

  .detail_nav{
      display: none;
  }
  .nav_buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-between
  }

  .button_main-desktop{
      display: none;
  }

  .button_desktop-viewArticle{
      display: none;
  }

  .buttons_mobile{
      display: flex;
      flex-direction: row;
      margin-left: 24px;
  }

  .detail_anchore{
    text-decoration: none;
  }

  .icon_share{
      margin-left: 5px;
  }

  .icon_button {
      height: 50px;
      border-radius: 0px;
      border: 0;
      background: #151B35;
  }

  .material_icon-button{
      color: white;
      font-size: 30px;
  }

  .icon_clear-button{
      height: 50px;
      border-radius: 0px;
      margin-top: 5px;
      margin-right: 10px;
      border: 0;
      background: white;
  }

  .list_container{
    padding: 34px;
  }

  .span_year{
      color: #DB9E4B;
  }

  .article_title-text{
      color: #151B35;
      font-family: Roboto, sans-serif;
      font-weight: bold;
  }

  .header_seccion-author{
    color: rgba(0, 0, 0, 0.87);
  }

  .hr_dashed{
      border-top: 2px dotted #798F8D;

  }

  .header_seccion{
      display: flex;
      flex-direction: row;
      justify-content: space-between
  }

  .material-icons_header{
      margin-right: 5px;
      font-size: 18px;
  }

  .header_seccion-text{
      font-size: 12px;
      vertical-align: super;
  }

  .header_comments{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .comments_button{
      margin-top: 6px;
      border: none;
      background: transparent;
  }

  .article_link-anchore{
      text-decoration: none;
  }

  .hr_style{
      border: 0;
      height: 0;
      border-bottom: 1px solid #798F8D;
  }

  .main_title{
      margin-top: 20px;
  }

  .comments_number{
      color: #798F8D;
  }

  .mat_expansion-container{
    box-shadow: none;
  }
}
@media screen and (min-width: 421px){
  .desktop_list{
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .mobile_list{
    display: none;
  }
  .input_search-container{
    display: none;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
  }

  .column {
    flex: 50%;
    padding: 10px;
    max-width: 45%;
    height: auto;
  }

  .card_container{
    padding: 10px;
    background-color: #fafafa;
  }

  .detail_nav{
      display: none;
  }
  .nav_buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-between
  }

  .button_main-desktop{
      display: none;
  }

  .button_desktop-viewArticle{
      display: none;
  }

  .buttons_mobile{
      display: flex;
      flex-direction: row;
      margin-left: 24px;
  }

  .detail_anchore{
    text-decoration: none;
  }

  .icon_share{
      margin-left: 5px;
  }

  .icon_button {
      height: 50px;
      border-radius: 0px;
      border: 0;
      background: #151B35;
  }

  .material_icon-button{
      color: white;
      font-size: 30px;
  }

  .icon_clear-button{
      height: 50px;
      border-radius: 0px;
      margin-top: 5px;
      margin-right: 10px;
      border: 0;
      background: white;
  }

  .span_year{
      color: #DB9E4B;
  }

  .article_title-text{
      font-size: 20px;
      color: #151B35;
      font-family: Roboto, sans-serif;
      font-weight: bold;
  }

  .hr_dashed{
      border-top: 2px dotted #798F8D;

  }

  .header_seccion{
      display: flex;
      flex-direction: row;
      justify-content: space-between
  }

  .material-icons_header{
      margin-right: 5px;
      font-size: 18px;
  }

  .header_seccion-author{
    color: rgba(0, 0, 0, 0.87);
  }

  .header_seccion-text{
      font-size: 12px;
      vertical-align: super;
  }

  .header_comments{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .comments_button{
      margin-top: 6px;
      border: none;
      background: transparent;
  }

  .article_link-anchore{
      text-decoration: none;
  }

  .main_title{
      margin-top: 20px;
  }

  .comments_number{
      color: #798F8D;
  }

  .main_article{
    font-family: Georgia, serif;
    font-size: 14px;
    color: #303938;
  }

  .mat_panel-title{
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .article_text{
    font-family: Georgia, serif;
    padding: 1px;
    margin-top: 8px;
    line-height: 1.5;
    color: #303938;
  }
}
