* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	line-height: 1;
	color: #fff;
	font-family: NotoSans-Regular, Arial, sans-serif;
	overflow-x: hidden;
	font-size: bold;
	background-color: #101010;
	position: relative;
}

header {
	height: 60px;
	width: 100%;
	z-index: 20;
}

main {
	margin-bottom: 150px;
}

footer {
	height: 110px;
}

.header-navbar {
	position: fixed;
	bottom: 0;
	height: 60px;
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	margin: 0;
	padding: 0;
	z-index: 20;
	background-color: #101010;
}

.navbar__buttons-bottom {
	display: flex;
	justify-content: stretch;
	align-items: center;
	list-style-type: none;
	height: inherit;
}

.navbar__buttons-bottom .button-bottom {
	width: 100%;
}

.button-bottom a {
	text-decoration: none;
	color: rgb(153, 153, 153);
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	transition: 0.1s;
	font-weight: 700;
}

.button-bottom a:hover {
	color: #ffe300;
}

.button-bottom figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-bottom .img-container {
	margin-bottom: 3px;
}

.button-bottom .material-icons {
	color: rgb(153, 153, 153);
}

.button-bottom:hover .material-icons {
	color: #ffe300;
	transition: 0.1s;
}

.flex-spacer {
	flex: 1;
}

.navbar-top {
	display: none;
}

.cinema-home {
	display: none;
}

.footer-container {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0px 0px 60px;
	background-color: rgb(13, 13, 13);
}

.final-footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
	padding-top: 30px;
}

.final-footer__principal {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__img-container {
	display: flex;
	justify-content: center;
}

.footer-container img {
	outline: none;
}

.about-conditions-workwithus {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	flex-wrap: wrap;
}

.about-conditions-workwithus li {
	margin: 4px 8px;
	text-align: center;
}

.about-conditions-workwithus li a {
	color: rgb(204, 204, 204);
	text-decoration: none;
	font-size: 14px;
}

.about-conditions-workwithus li a:hover {
	color: white;
}

.company-sl {
	color: #737373;
	font-size: 14px;
	margin-top: 15px;
}

#sections_menu,
#peliculas1,
#peliculas2,
#peliculas3 {
	margin-bottom: 30px;
}

.sectionTitle {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.sectionNameTitle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: bold;
	padding: 0% 1%;
}

.seeAll {
	display: none;
}

.carousel-container1,
.carousel-container2,
.carousel-container3,
.carousel-containerS,
.carousel-containerG,
.carousel-containerCast,
.carousel-containerAnother {
	margin: 0px 15px;
	overflow: hidden;
	position: relative;
}

.carousel-containerG {
	height: 220px;
	display: flex;
	align-items: flex-start;
}

.carousel-slide1,
.carousel-slide2,
.carousel-slide3,
.carousel-slideS,
.carousel-slideG,
.carousel-slide-cast,
.carousel-slide-another {
	display: flex;
	width: 100%;
	height: 30%;
}

.carousel-slide1 img:hover,
.carousel-slide2 img:hover,
.carousel-slide3 img:hover,
.carousel-slideS img:hover {
	outline: 5px solid #ffe300;
}

.carousel-slide1 img,
.carousel-slide2 img,
.carousel-slide3 img,
.carousel-slideS img,
.carousel-slideG img {
	margin: 5px;
}

#prevBtn1,
#prevBtn2,
#prevBtn3,
#prevBtnS,
#prevBtnG,
#prevBtnCast,
#prevBtnAnother {
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	font-size: 60px;
	color: white;
	opacity: 0.7;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
}
#nextBtn1,
#nextBtn2,
#nextBtn3,
#nextBtnS,
#nextBtnG,
#nextBtnCast,
#nextBtnAnother {
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 0;
	font-size: 60px;
	color: white;
	opacity: 0.7;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
}

.args-container {
	display: none;
}

.hidden1,
.hidden2,
.hidden3,
.hiddenG,
.hiddenS,
.hiddenCast,
.hiddenAnother {
	display: none;
}

.gender_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100px;
	margin: 2%;
	margin-bottom: 4%;
}

.gender_item > img {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: none;
	cursor: pointer;
	height: 85%;
}

.gender_item > span {
	text-align: center;
}

#gender_section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 200px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
	header {
		position: absolute;
		top: 0;
	}

	main {
		margin-top: 60px;
		margin-bottom: 90px;
	}

	footer {
		height: 504px;
	}

	.header-navbar,
	.navbar-top,
	.navbar-top div,
	.navbar-top a,
	.navbar-top ul,
	.navbar-top li {
		background-color: black;
	}

	.navbar-top img {
		outline: none;
		border: none;
	}

	.header-navbar {
		bottom: initial;
		top: 0;
		position: fixed;
	}

	.navbar__buttons-bottom {
		display: none;
	}

	.navbar-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: inherit;
		margin: 0px 15px;
	}

	.rakuten-logo {
		background-color: inherit;
	}

	.cinema-free-suscription {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		list-style-type: none;
		height: 100%;
		margin-bottom: 0;
	}

	.cinema-free-suscription li {
		display: flex;
		margin: 0px 6px;
		height: inherit;
		align-items: center;
		cursor: pointer;
	}

	.cinema-free-suscription a,
	.navbar-top .login a,
	.navbar-top .help a,
	.cinema-free-suscription li:hover .options span {
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		font-family: Arial, sans-serif;
		font-size: 13px;
		transition: 0.1s;
		font-weight: 800;
	}

	.cinema-free-suscription a.cinema::after,
	.cinema-free-suscription a.suscription::after {
		content: '▼';
		margin-left: 4px;
		font-size: 10px;
	}

	.cinema-free-suscription li:hover > a,
	.cinema-free-suscription li .options a:hover {
		color: #ffe300;
	}

	.cinema-free-suscription li:hover a.cinema::after,
	.cinema-free-suscription li:hover a.suscription::after {
		content: '▲';
	}

	.cinema-free-suscription li .options {
		display: none;
	}

	.cinema-free-suscription li:hover .options,
	.cinema-free-suscription li .options:hover {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 60px;
		height: auto;
		width: auto;
		margin-left: -15px;
		background-color: black;
		z-index: 10;
	}

	.cinema-free-suscription li:hover .options a {
		margin: 15px;
		font-weight: 400;
	}

	.navbar-top .search-bar,
	.navbar-top .search-bar .img-container,
	.navbar-top .search-bar .material-icons {
		background-color: #333;
	}

	.navbar-top .search-bar {
		display: flex;
		margin: 0px 15px;
		height: 60%;
	}

	#search-bar-input {
		outline: none;
	}

	.navbar-top .search-bar .img-container {
		margin: 5px;
	}

	.navbar-top .search-bar .material-icons {
		color: rgb(153, 153, 153);
	}

	.navbar-top .search-bar input {
		height: 90%;
		background-color: #333;
		color: lightgray;
		border: none;
		font-family: NotoSans-Regular, Arial, sans-serif;
		font-size: 16px;
	}

	.navbar-top .login {
		display: flex;
		align-items: center;
	}

	.navbar-top .enter {
		margin: 0px 15px;
	}

	.navbar-top .login button {
		background-color: #ffe300;
		color: #252525;
		border: none;
		border-radius: 2px;
		text-transform: uppercase;
		font-family: Arial, sans-serif;
		font-size: 13px;
		transition: 0.1s;
		font-weight: 800;
		padding: 10px;
		cursor: pointer;
	}

	.navbar-top .help {
		display: flex;
	}

	.navbar-top .help a {
		color: rgb(153, 153, 153);
	}

	.navbar-top .help a:hover,
	.navbar-top .login a:hover {
		color: #ffe300;
		transition: 0.1s;
	}

	.cinema-home,
	.cinema-home div,
	.cinema-home span,
	.cinema-home h1,
	.cinema-home h2,
	.cinema-home a,
	.cinema-home img {
		background-color: rgb(33, 33, 33);
		box-sizing: none;
		text-decoration: none;
	}

	.cinema-home a:hover {
		color: white;
	}

	.cinema-home {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 35px 40px;
	}

	.cinema-home__paragraph {
		text-align: center;
	}

	.cinema-home__paragraph h1,
	.cinema-home__work-pay-help h2 {
		font-size: 22px;
	}

	.paragraph-container {
		max-width: 550px;
	}

	.paragraph-container span,
	.cinema-home__work-pay-help span {
		color: rgb(204, 204, 204);
		font-size: 14px;
		text-align: center;
		line-height: 160%;
	}

	.cinema-home__work-pay-help {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 20px;
	}

	.cinema-home img {
		width: 180px;
		height: 90px;
	}

	.cinema-home__work,
	.cinema-home__pay,
	.cinema-home__help {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		text-decoration: none;
		color: inherit;
	}

	.footer-container {
		margin-bottom: 0px;
	}

	.footer-container,
	.final-footer,
	.final-footer div,
	.final-footer span,
	.final-footer ul,
	.final-footer li,
	.final-footer img {
		background-color: rgb(13, 13, 13);
		box-sizing: none;
	}

	.final-footer {
		align-items: flex-start;
	}

	.final-footer__principal {
		flex-direction: row;
		align-items: center;
	}

	.company-sl {
		padding-left: 12px;
	}
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
	.navbar-top .help {
		display: none;
	}
}

@media screen and (min-width: 600px) {
	.seeAll {
		display: block;
	}

	.carousel-containerSection {
		display: flex;
		flex-direction: row;
		justify-items: auto;
	}

	.carousel-container1,
	.carousel-container2,
	.carousel-container3 {
		margin: 0.5%;
	}

	.carousel-containerS {
		overflow: visible;
	}

	.carousel-container {
		width: 90%;
		margin: auto;
		overflow: hidden;
		position: relative;
	}

	.carousel-slide {
		display: flex;
		width: 100%;
		height: 30%;
	}

	#prevBtn {
		position: absolute;
		top: 50%;
		z-index: 10;
		left: 5%;
		font-size: 60px;
		color: white;
		opacity: 0.7;
		cursor: pointer;
	}
	#nextBtn {
		position: absolute;
		top: 50%;
		z-index: 10;
		right: 5%;
		font-size: 60px;
		color: white;
		opacity: 0.7;
		cursor: pointer;
	}

	#nextBtnS,
	#prevBtnS {
		display: none;
	}

	.hidden {
		display: block;
		border: 1px solid rgba(255, 255, 255, 0);
	}

	.general-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.picture {
		cursor: pointer;
	}

	.general-container:hover > .args-container {
		display: flex;
		position: absolute;
		left: 220px;
	}

	.args-container {
		display: none;
		grid-template-columns: 10px auto;
	}

	.args-box {
		background-color: rgba(0, 0, 0, 0.74);
		color: white;
		font-family: NotoSans-Regular, Arial, sans-serif;
		height: 300px;
		width: 400px;
		padding: 3% 3%;
		font-weight: bold;
	}

	.args-arrow {
		width: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.args-arrow-inside {
		width: 0;
		height: 0;
		border-right: 15px solid rgb(0, 0, 0);
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	.args-items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.args-title {
		height: 5%;
		font-size: 30px;
		margin: 0;
		margin-bottom: 20px;
	}

	.args-btn {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: center;
	}

	.args-btn > p {
		border: solid 3px white;
		padding: 5%;
		border-radius: 50px;
		font-size: 10px;
		font-weight: bolder;
		background-color: black;
	}

	.args_keyArgs {
		font-size: 10px;
		font-weight: bolder;
		margin-bottom: 5px;
	}

	.args_resum {
		margin-top: 3%;
		font-size: 15px;
		font-weight: 100;
		margin-bottom: 10px;
	}

	.args_buy {
		margin-top: 3%;
		color: #ffe300;
		font-size: 10px;
		font-weight: bolder;
	}

	.carousel-slide1 > div {
		margin-right: 1%;
	}
}
