* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #101010;
}

body {
  line-height: 1;
  color: #fff;
  font-family: NotoSans-Regular, Arial, sans-serif;
  overflow-x: hidden;
  font-size: bold;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sectionNameTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
}

.seeAll {
  display: none;
}

.carousel-container1,
.carousel-container2,
.carousel-container3 {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide1,
.carousel-slide2,
.carousel-slide3 {
  display: flex;
  width: 100%;
  height: 30%;
}

img {
  padding: 1%;
}

img:hover {
  border-top: 5px solid #ffe300;
  border-left: 5px solid #ffe300;
  border-right: 5px solid #ffe300;
  border-bottom: 5px solid #ffe300;
}

#prevBtn1,
#prevBtn2,
#prevBtn3 {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 60px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}
#nextBtn1,
#nextBtn2,
#nextBtn3 {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 60px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.hidden1,
.hidden2,
.hidden3 {
  display: none;
}

@media screen and (min-width: 600px) {
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .seeAll {
    display: block;
  }

  .carousel-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
  }

  .carousel-slide {
    display: flex;
    width: 100%;
    height: 30%;
  }

  #prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 60px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
  }
  #nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 60px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
  }

  .hidden {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0);
  }
}
