.header {

	width: 100%;
	max-width: 100vw;
	padding: 15px;
	display: flex;
	align-items: center;
	height: 70px;
	background-color: #bebfc0;
	top: 0;
	color: white;
	box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.logo-name{
    color: rgb(73, 65, 65);
	outline: none;
    margin-left: 8px;
    font-weight: bold;
}

.flex-spacer {
	flex: 1;
}
.create-project{
    margin-right: 20px;
}