.list-container {
	padding: 20px;
}
.list-heroes {
	list-style: none;
}

.heroes-button {
	outline: none;
	border: none;
	height: 50px;
	margin-bottom: 10px;
	width: 200px;
	display: flex;
	align-items: center;
}

.list-hero-id {
	
}

.list-hero-name {
}
