<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotrivia</title>
    <link rel="stylesheet" href="spotrivia.css">
</head>

<body>
    <header>
        <h1>Spotrivia</h1>
    </header>
    <section class="playlist-container">

        <div class="artist_tittle">Artist</div>
        <div class="artist" id="artist"></div>

        <!--  <div class="image" id="image"></div> -->

        <img class="image" id="image" src="" alt="">

        <div class="song-button-wrapper" id="song">
            <button id="song__tittle_0" class="song__tittle__button"></button>
            <button id="song__tittle_1" class="song__tittle__button"></button>
            <button id="song__tittle_2" class="song__tittle__button"></button>
            <button id="song__tittle_3" class="song__tittle__button"></button>
        </div>

        <button id="start-button" class="start-button">p l a y</button>

    </section>




    <script src="../store.js"></script>
    <script src="spotrivia.js"></script>
    <script>

        (async () => {
            await store.getToken();
            await store.loadPlaylist()
            let playListArray = []

            for (let i = 0; i < playList.length; i++) {
                playListArray.push({
                    artist: playList[i].track.artists[0].name,
                    image: playList[i].track.album.images[1],
                    song: playList[i].track.name,
                })

            }

            const randomPlayListDetail = createRandomPlayListArray(playListArray)
            let artistTittle = document.getElementById('artist')
            let imageElement = document.getElementById('image')
            imageElement.src = randomPlayListDetail.image.url
            artistTittle.innerHTML = randomPlayListDetail.artist

            const songsArray = []
            for (let j = 0; j < playListArray.length; j++) {
                songsArray.push(playListArray[j].song)
            }

            const songsRandomArray = createRandomSongsArray(songsArray)
            console.log(songsRandomArray)
            for (let i = 0; i < 4; i++) {
                let songTittle = document.getElementById(`song__tittle_${i}`)
                songTittle.innerHTML = songsRandomArray[i]
            }

        })();




    </script>
</body>

</html>